[2019-05-28 15:52] steffenagger opened #220 "Unknown error is not unknown"
## Intro:
Hello, we're using passwordless email login flow in a RN-app we're developing.
I'm currently handling auth errors, and I'm fairly certain I ran in to a bug. It's been a bug for awhile (see closed PR: https://github.com/auth0/react-native-auth0/pull/141)...

I'll try to elaborate a bit more than the above PR.

If a user is blocked through Auth0's back-office, and tries to authenticate, th

[2019-06-09 15:14] Bardiamist opened #221 "[request]Update Android part (AndoidX)"
1. Fix `Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.` warning.
2. **Be ready for switch to AndoidX** when `react-native@0.60.0` will released. [Please see AndroidX Migration Plan](https://github.com/react-native-community/discussions-and-proposals/issues/129)

[2019-06-10 11:11] cocojoe commented on #220
@lbalmaceda can you evaluate please.

[2019-06-10 11:35] cocojoe commented on #221
@lbalmaceda please validate.

[2019-06-11 20:14] lauracbryson commented on #98
Hi @lbalmaceda - we're building a mobile app using a browser-based URL and have a similar issue of an unattractive URL appearing at the top when users login or sign up to our app. Is there still no way to hide the URL?

[2019-06-14 20:17] lbalmaceda commented on #220
@steffenagger Thanks for the report. I've assigned myself and will check it sometime next week.

[2019-06-17 19:41] vonwao opened #222 "Can it work on Expo?"
I'm wondering why this has to be configured with Android and iOS native code?  What does authentication have to do with native code?  Can it be implemented entirely in RN with Expo?  Thanks for any info.

[2019-06-18 10:09] cocojoe commented on #222
Expo only works with pure JS.  Native code is used so we can implement the recommended guidance required to support each native platform in a secure manner.
So we currently can't support Expo.

[2019-06-18 10:09] #222 closed

[2019-06-19 20:45] lbalmaceda commented on #221
@Bardiamist Thanks for raising it. I'll add a task in our backlog to complete this. So far @cocojoe, **this is not an issue** so other things will take the priority.

For (1) we would need to [migrate to latest gradle android plugin](https://github.com/auth0/react-native-auth0/blob/master/android/build.gradle#L7.) version and change "compile" to "implementation" on the 2 dependencies that we're re

[2019-06-20 15:49] SaraChicaD commented on #116
Have there been any updates to making this feature available? As in being able to use the FB app on the phone to authenticate versus asking the user to enter their information in a webview via Auth0?

[2019-06-27 13:08] VadimCeretean commented on #45
how do you fix it?

[2019-07-03 10:03] Lucas-Geitner commented on #222
@vonwao this is an exemple of Oauth0 with Expo : https://github.com/expo/auth0-example

I will try it, if it's not succesfull, i will be force to eject !
Let me know how you did it ;)

[2019-07-03 17:10] lbalmaceda commented on #200
As commented on your PR I don't think this is an issue. The native implementation is looking for CCT compatible browsers installed in the device. But the first choice is always what the user has selected as a **global** default, we are not changing that. The only scenario in which the Chrome browsers are selected is if there is more than 1 CCT compatible browser and there is no global default brow

[2019-07-03 17:10] #200 closed

[2019-07-04 15:01] LaVielle opened #224 ""error":"invalid_grant", "error_description":"Wrong email or password.""
### Description

I am getting error reports that some **iOS** users are having problems creating account:

[code]

Our UI prevents users from inputing invalid email addresses or passwords that don't match security criteria, so "Wrong email or password" doesn't seem possible.

I cannot reproduce the issue but I see on my reports that several users experience this ever day.

So really I'm trying to

[2019-07-04 19:42] cutiko commented on #221
Android Studio warns about this:

[code]
The problem is located in these lines

https://github.com/auth0/react-native-auth0/blob/631cf9ab4e0da1c7ae876e431cbc4d0bc71deaba/android/build.gradle#L39

Maybe I can pull a PR but, I have a couple of questions before:

 - Are you attempting to increase support coverage by not updating this? Someone with an old gradle could want to update but couldn't, seri

[2019-07-04 19:51] lbalmaceda commented on #221
@cutiko I plan to update this but I'm currently working on a different PR. Actually, I can fix this right in the same PR.

For now please ignore the Android Studio warning. Nothing will break nor stop working.

[2019-07-04 20:45] cutiko commented on #221
@lbalmaceda glad I ask, I didn't want step on someone toes, thanks for the quick reply

[2019-07-04 21:36] lbalmaceda commented on #221
I guess if I update the Gradle android plugin to the latest version that would make me update the react-native dependency to the first version that supports it. Isn't that going to break other users?

[2019-07-04 21:43] cutiko commented on #221
@lbalmaceda my good intentions didnt consider RN.

Just an outsider having an opinion here, but maybe you should wait then, because current RN version is broken for Android `0.60.0`

I dont know in which version RN added implementation but since this is related to AndroidX. Current RN versions add jetifier, so it will be a correct update here on Auth0 but it will break because of RN.

https://gith

[2019-07-04 22:02] lbalmaceda commented on #221
Thanks @cutiko . Maybe that issue doesn't affect us (only on our dev stage). My concern is that this SDK doesn't specify a minimum RN required version in its `package.json`. It only expresses that [in the readme](https://github.com/auth0/react-native-auth0#requirements).

However, in order to support androidX and bump the gradle plugin we need to migrate the project and probably its structure to t

[2019-07-04 22:16] Bardiamist commented on #221
Why developers will update `react-native-auth0` without updating `react-native` first?
Now a fresh created react native project can't use` react-native-auth0`. `react-native-auth0` should be updated.
I think best solution to have table in readme [like this](https://github.com/react-native-community/react-native-svg#notice).

[2019-07-05 00:29] cutiko commented on #221
@lbalmaceda

I'm sorry, I miss understood

Thought you would have to update `react-native` in the `react-native-auth0` took a look at the [package.json](https://github.com/auth0/react-native-auth0/blob/master/package.json) and realize my mistake

@Bardiamist is right

[2019-07-05 10:21] ElangoPrince opened #225 "Package android.support.annotation does not exist"
### **Package android.support.annotation does not exist**
### _here my code_
[code]
[code]

[2019-07-05 14:03] lbalmaceda commented on #221
Yeah.. I don't see this coming in this next release though. As I mentioned, I checked how to update to newer RN versions from an existing old RN project and it's a PITA. They are still on 0.x so they probably want to keep breaking everything on every new release they make, sadly.

I appreciate your comments. I'll add `AndroidX` support on our backlog for a possible future major release of this SDK

[2019-07-07 17:45] okarahan commented on #225
Same here.

[2019-07-07 18:00] yvocilon commented on #225
Yes, me too!

[2019-07-08 21:13] diwgan32 commented on #225
Yep, running into the same issue while following the tutorial here: https://auth0.com/docs/quickstart/native/react-native/00-login

[2019-07-10 13:47] yvocilon commented on #225
I used this https://www.npmjs.com/package/jetifier with success.

[2019-07-11 14:25] yvocilon opened #226 "'App' wants to use 'app.com' to Sign In"
![Screenshot 2019-07-11 at 16 19 51](https://user-images.githubusercontent.com/38035825/61058702-09043b80-a3f8-11e9-9adc-f9c03ec0b3d7.png)

I've been getting the above message since upgrading to 1.4.2. I'm getting the messaging when using `auth0.webAuth.authorize` and `auth0.webAuth.clearSession`.

Is it possible to disable this message or is there an explanation. I've been searching for quite a w

[2019-07-11 21:55] victoriafrench commented on #221
WHAT? You are seriously going to backlog this when every single one of us that are on 0.60 are screwed? Common every other library in the world out there has updated... forcing all of us to update and you are going to pull the "well somebody may not upgrade" card? common. the people who aren't upgrading are already locked out of the eco-system because it's all or none.

[2019-07-12 20:16] lbalmaceda commented on #226
I found that as frustrating as you but it's not because of this package. That's iOS specific and cannot be customized nor disabled, AFAIK. Is something introduced in iOS10 and iOS11, but not present on iOS9 (that's why you don't see it on older devices)

[2019-07-12 20:27] #226 closed

[2019-07-12 20:28] lbalmaceda commented on #225
Thinking out loud. Can that be related to the react version of your app, or maybe the usage of AndroidX dependencies? Just for the record, this package still doesn't support them.

[2019-07-12 21:05] lbalmaceda commented on #220
@steffenagger Sorry for the delay.

Thought about this. Actually is not clear to me in what scenarios the backend would respond with `error`  or `error_description`. The diff on the closed PR is the safest way on changing that now without breaking anyone, assuming that `error` worked for some scenarios in the past. If I can confirm this never worked I don't mind removing that whole IF and just usi

[2019-07-12 21:16] yvocilon commented on #225
Yes for me it was related to using react-native 0.60 which uses androidX.  Running https://www.npmjs.com/package/jetifier fixes it for me.

[2019-07-12 21:18] yvocilon commented on #226
Ah okay. I upgraded our react-native-auth0 from 1.2.2 to 1.4.2 and did not have this issue with 1.2.2. Tested it on the same device.

[2019-07-15 17:04] #220 closed

[2019-07-19 01:29] bneigher commented on #221
ahhh man

[2019-07-19 02:03] bneigher opened #230 "Not working after upgrade to React Native 0.60.x"
### Description
I seem to be running into a runtime issue with the functionality of react-native-auth0 after upgrading from RN 0.59.9 to RN 0.60.3.
This seems to only have an effect on the simulator.

Seems that there is an issue with handling the responses made after HTTP requests are made by this sdk. To be clear - I can see the requests being sent with the correct parameters, but the response p

[2019-07-22 07:39] bneigher commented on #230
Seems that this code is throwing, and then the error is being muted.  The request is failing here:
https://github.com/auth0/react-native-auth0/blob/master/networking/index.js#L79-L88

With the error at .toJSON on the response:
`SyntaxError: Unexpected token o in JSON at position 1`

Has `fetch` changed lately or something?

[2019-07-22 07:43] bneigher commented on #230
AH!  Looks like there is a new issue in react-native:
https://github.com/facebook/react-native/issues/25701
Looks like this solution works, perhaps it should be added to the auth0 source?
Adding `global.Blob = null` anywhere in your code fixes the problem

[2019-07-23 19:23] lbalmaceda commented on #130
Changes introduced in the PR #126 are OK. And [Android 9 is now enforcing](https://developer.android.com/about/versions/pie/android-9.0-changes-all#fant-required) the use of that flag when starting activities from a context other than an Activity (the one used for the Custom Tabs scenario). This is not an issue of the SDK. I'll proceed to close this one, but don't hesitate in opening a new one if

[2019-07-23 19:23] #130 closed

[2019-07-23 19:29] lbalmaceda commented on #230
@bneigher it seems like a bug on the latests react-native version. What if you move to a previous patch? e.g. 0.6.0, 0.6.1 or 0.6.2. Is the issue still happening?

[2019-07-23 19:30] lbalmaceda commented on #225
I'll close this. Let's keep the conversation on the other issue https://github.com/auth0/react-native-auth0/issues/221

[2019-07-23 19:30] #225 closed

[2019-07-23 19:31] lbalmaceda commented on #219
@cocojoe please evaluate

[2019-07-23 19:37] bneigher commented on #230
Yep thats what I found.  Downgrading works, but I'm cool with the fix referenced in my comment above

[2019-07-23 19:49] lbalmaceda commented on #224
@LaVielle I'll close this one as it's not an SDK issue. You mentioned _you are_ validating them but have you considered that maybe your users are calling the API on their own, outside of your app? e.g. via a curl/postman script. Is that a possibility in your case? Or even that the error is in fact true and they are mistyping the email or password, leading to an invalid combination of credentials?

[2019-07-23 19:49] #224 closed

[2019-07-23 19:53] lbalmaceda commented on #215
@cocojoe can you please evaluate?

[2019-07-23 20:04] lbalmaceda commented on #212
Yes, that is **expected**.

If you're using the Classic Hosted Login Page, the browser must have javascript enabled for it to work. You might want to try the new look and feel, which is server-side rendered and thus, doesn't require javascript enabled in the browser. Take a look at the docs here https://auth0.com/docs/universal-login#choosing-an-experience. Note that it's missing some features yet

[2019-07-23 20:04] #212 closed

[2019-07-23 20:06] lbalmaceda commented on #230
👍I don't think we should be changing that from the SDK side. I don't even know if adding that today would break older React Native versions.. And since this SDK doesn't specify a react-native version, I think it's best to delegate that decision to the users. Probably the next RN patch fixes it.
Cheers

[2019-07-23 20:06] #230 closed

[2019-07-23 20:12] lbalmaceda commented on #209
The iOS redirection is fixed in the release `1.5.0`. If this continue to happen, please re-open.

[2019-07-23 20:12] #209 closed

[2019-07-23 20:13] lbalmaceda commented on #208
Closing due to inactivity.

[2019-07-23 20:13] #208 closed

[2019-07-23 20:15] lbalmaceda commented on #202
This warning will keep appearing until we can bump the gradle version to a newer one. But that is tied to the react-native version this project was made for. And today that minimum is too old. We definitely need to migrate it to 0.60.x so we can support android X dependencies as well. Keep an eye on https://github.com/auth0/react-native-auth0/issues/221 for this.

[2019-07-23 20:15] #202 closed

[2019-07-23 20:16] #198 closed

[2019-07-23 20:17] lbalmaceda commented on #191
Solved in PR 192.

[2019-07-23 20:17] #191 closed

[2019-07-23 20:23] lbalmaceda commented on #183
There are a number of things that could lead to that behavior. e.g. the API you are requesting the audience for doesn't have the "offline access" enabled in their settings, or the associated application doesn't have the offline_access grant enabled.

Can you please check if the refresh token is coming in the request's response, and being ignored by the SDK?

[2019-07-23 20:24] #148 closed

[2019-07-23 20:25] lbalmaceda commented on #120
Just FYI, redirection in android might not work when this SDK is used along the RN Navigation library. This is due to how the deep links work on react-native.

[2019-07-23 20:25] #120 closed

[2019-07-24 18:06] jariwalabhavesh commented on #212
@lbalmaceda: Thanks for informtion

[2019-07-25 19:22] FullstackJack commented on #116
Yeah, just look at Firebase Auth, it's dead easy to just call signInWithEmailAndPassword() from your native text inputs and there are packages already developed for Flutter and React Native. Auth0 really is against the grain.

[2019-08-02 08:33] LaVielle commented on #224
@lbalmaceda It was indeed a user error, but mostly a developer error :/

We were trimming and lower casing the email given by the user and passing that to `createUser`.
The auth0 user was then created, and we would log in the user with `passwordReal`. However, we were passing the raw email input (no trim, no lower case) for the login. So some users were probably typing a space at the end of their

[2019-08-05 17:46] lbalmaceda commented on #98
@lauracbryson No, "Chrome Custom Tabs" doesn't allow one to hide the URL. As mentioned before this is by design so the user is aware at any time **where** they are navigating and typing sensitive stuff like a password or secret.

There's a new component for android called [Trusted Web Activities](https://developers.google.com/web/updates/2019/02/using-twa) but it's not something I have looked into

[2019-08-06 19:16] AnanasPie commented on #105
Still happening in iOS.
I got the following error: "Error. Missing NativeModule. Please make sure you run 'react-native link react-native-auth0".

RN: 0.60.4
react-native-auth0: 1.5.0

[2019-08-16 00:29] mikebucks commented on #154
This would be super useful. Any update @luisrudge?

[2019-08-16 01:49] luisrudge commented on #154
Not yet :(

[2019-08-17 14:48] LeoIannacone commented on #221
We're using Auth0 with our mobile application, we deeply depend on that, we also pay Auth0 quite a good amount of money every month. It's extremely sad reading that there's no wish to update the library any soon.

This will make our application outdated which will have definitely negative effects on our business too. I can't see in your comment that there's no respect for customers.

Definitely no

[2019-08-20 09:14] XEmAX32 commented on #207
Hi, I have the same issue but I can find  `s.dependency "React"` at the end of A0Auth0.podspec, any solution?

[2019-08-26 04:40] ArronJLinton opened #232 "Execution failed for task ':react-native-auth0:compileDebugJavaWithJavac'."
I'm using react-native-auth0 and i've been successfully with it in the past with this same project, but as of recent, when I load the project I'm getting the following error.

I'm running on the following versions
- React Native Auth0 - "1.5.0"
- React Native - "0.59.6"

<img width="731" alt="Screen Shot 2019-08-25 at 9 37 18 PM" src="https://user-images.githubusercontent.com/19734850/63665563-b22

[2019-08-28 10:11] draperunner commented on #221
Please consider releasing a new (major) version with Android X (RN 0.60) support. I understand that you don't want to maintain two versions. So don't support RN 0.59 any longer! RN 0.60 is already months old. React Native has always been a fast changing ecosystem, and developers are used to that. Major improvements to RN are just around the corner in v0.61. It's a bummer that this library keeps us

[2019-08-29 15:03] lbalmaceda commented on #221
I'm working on a new version of this SDK that will add support for AndroidX. We agreed as a team to ship this in a new _minor_ release along with a "support matrix" to track the different SDK versions and its compatibility with RN versions.
In the meantime, I read that `jetifier` could be enabled in your builds to make those `node_modules` files that haven't migrated yet to RN>59 compatible with y

[2019-08-30 02:59] Bardiamist commented on #221
I use `jetifier` https://github.com/mikehardy/jetifier and yes it helps.

[2019-09-02 21:30] robwalkerco opened #233 "ios 13 webAuth.authorize silent failure"
### Description

I'm trying to test an app on iOS 13. It uses this project to handle the webAuth flow, but seems to silently fail.

### Prerequisites

* [x] Did you check the documentation?
* [x] Did you check the [Auth0 Community](https://community.auth0.com/)?
* [x] Are you reporting this to the correct repository?
* [ ] Are there any related or duplicate Issues or PRs for this issue?

### Envir

[2019-09-04 09:11] cocojoe commented on #233
@robwalkerco I added a draft PR, be great if you can try the changes in your project, can simply replace the file. Can I just confirm you are using RN 0.39.9? Surprised this runs with no compiler issues in Xcode 11.

[2019-09-04 14:05] robwalkerco commented on #233
Ooops. I meant to type 0.59.9!

I'll install xcode-beta again and give it another try. Will let you know
how it goes.

On Wed, 4 Sep 2019, 10:11 Martin Walsh, <notifications@github.com> wrote:

[2019-09-10 22:57] victoriafrench opened #235 "Apple Rejection for using this component"
Apple has rejected our app for using the safari method of authentication used in this library. Please advise.

## Guideline 4.0 - Design

We noticed that the user is taken to Safari to sign in or register for an account, which provides a poor user experience.

### Next Steps

To resolve this issue, please revise your app to enable users to sign in or register for an account in the app.

We recomme

[2019-09-11 15:20] #235 closed

[2019-09-12 04:53] vinnyhoward commented on #221
Any updates on this issue? My current project is almost updated but this package is the only one that is stopping me from upgrading post 0.60 :cry:

[2019-09-13 16:40] vinnyhoward commented on #221
@lbalmaceda @draperunner Okay thank you for the replies, I will try this

[2019-09-14 14:15] pengcao1 commented on #221
The Auto0's developer mean:
please ignore those warning(`compile` can be used normal,  we don't care google's suggestion to change to `implementation `)
Why do you guys want to migration to 0.60 or above?

If I'm wrong, pls let me know.

[2019-09-19 08:07] hokasan opened #236 "RefreshToken not returned after auth0.auth.refreshToken()"
### Description

When I call refreshToken with a valid refreshToken I get this response:
[code]

Should I not get my refreshToken in the response or am I suppose to store that between calls to refreshToken()?

### Prerequisites

* [x] Did you check the documentation? [Add a link]
* [x] Did you check the [Auth0 Community](https://community.auth0.com/)?
* [x] Are you reporting this to the correct re

[2019-09-19 18:30] gogumai opened #237 "createUser extra properties"
### Description

Hi there! We've noticed that this lib only supports sending some of all the properties the `/dbconnections/signup` endpoint could receive.

These are the ones this lib supports in the `createUser` function:

email: { required: true },
password: { required: true },
connection: { required: true },
username: { required: false },
metadata: { required: false, toName: 'user_metadata' }

[2019-09-21 05:18] Bardiamist commented on #233
@cocojoe That is very critical. Please release patch as soon as possible.

[2019-09-23 12:30] draperunner commented on #233
I am having the same problem. Nothing happens when trying to authorize on an iOS 13 simulator. I have tried installing from the latest commit (e8da8e0), but there's no difference.

By adding some logging directly in node_modules, I found something interesting I think:

The `NativeModules.A0Auth0.showUrl` function never resolves in `react-native-auth0/webauth/agent.js` lines 22 - 30.

[code]
That's

[2019-09-23 15:33] xeroxoid commented on #233
Related PR: https://github.com/auth0/react-native-auth0/pull/234

When can we expect a release as there seems to be no way to work around it on 1.5.0?

[2019-09-23 15:42] Bardiamist commented on #233
While maintainers not released new version is possble to use `"react-native-auth0": "git+https://github.com/auth0/react-native-auth0.git#e8da8e0b053649af020cdd7018dfc91ef6e8eef1",` in `package.json`.

[2019-09-23 20:39] #233 closed

[2019-09-28 04:00] geofflancaster opened #239 "createUser request fails because of missing response value"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2019-09-28 06:27] geofflancaster commented on #239
Looks like this is related to https://github.com/facebook/react-native/issues/25701 . Closing.

[2019-09-28 06:27] #239 closed

[2019-09-29 20:49] Ghost-in-a-Jar commented on #236
I was running into this issue as well and have been meaning to post something. While debugging I found that the refresh token was being returned in the hash (#) part of the url, while this react-native-auth0 lib is parsing for them from the query (?) in the url. I made this hackish change to get my project working: https://github.com/Ghost-in-a-Jar/react-native-auth0/pull/1/files

[2019-09-30 21:26] lbalmaceda commented on #221
I've an update for you. I've prepared the next version with support for Android X. You can try it today if you run:

[code]

instead of `yarn add react-native-auth0`.

Check out the [readme instructions](https://github.com/auth0/react-native-auth0/tree/vNext) for setting it up with your app project and leave any feedback on the open PR.

[2019-10-01 16:06] BoKKeR commented on #221
I ended up switching to Firebase, this was only the last drop in the bucket, the biggest issue was the web view where android users can't logout and well web view in general, add on top of it the super minimalistic documentation. I had the luxury that my app was is released yet.

[2019-10-02 17:45] yojanmorales commented on #232
hey there! any update fo this? I'm running into same issue

[2019-10-02 17:45] yojanmorales commented on #232
**hey there! any update fo this? I'm running into same issue**

[2019-10-04 18:02] vinnyhoward commented on #221
@lbalmaceda Seems like your PR did the trick, thank you!

[2019-10-08 12:34] raldred opened #241 "a0.response.invalid: unknown error using expired token"
### Description

When accessing the authentication endpoint /userinfo with an expired access token the error is reported up to the client incorrectly as `a0.response.invalid: unknown error`
The error is not unknown, the WWW-Authenticate response header actually contains more details of the error

`WWW-Authenticate: Bearer realm="Users", error="invalid_token", error_description="The token has expir

[2019-10-08 16:56] madebyew commented on #105
The following commands resolved this issues for me.
`$ cd ios && pod install && cd .. `

[2019-10-08 18:09] #221 closed

[2019-10-11 21:17] lbalmaceda commented on #215
@kudresov I hope you were able to resolve this issue. Native modules linking often turns into errors in previous react-native versions. I saw you posted the `react` version (not `react-native`). If you are using a newer version (>0.60), we released a new major this week with support for Android X and auto-linking using CocoaPods. Hopefully those problems will be gone now, for good :D.

[2019-10-11 21:24] lbalmaceda commented on #241
I thought we covered that with https://github.com/auth0/react-native-auth0/pull/228 already. The code is correctly parsing it as an `AuthError` [here](https://github.com/auth0/react-native-auth0/blob/master/src/auth/index.js#L11). Seems the problem is that this particular endpoint does not fail with a JSON object but with that header you shared. I'll try to reproduce it and see how we can improve

[2019-10-18 18:08] jaredegan opened #244 "iOS: Warning: Required dispatch_sync to load constants for A0AUth0. This may lead to deadlocks"
### Description

Upon starting my react-native I occasionally get the following warnings:
`Warning: Required dispatch_sync to load constants for A0AUth0. This may lead to deadlocks`
`Warning: Required dispatch_sync to load A0AUth0. This may lead to deadlocks`

These warnings occur in React-Core, RCTModuleData.mm.

I'm familiar with iOS' threading model and I'm just getting familiar with building n

[2019-10-18 20:32] a-jumping425 opened #245 "How can I get 'refresh token' in React Native?"
Hi,

Now I am trying to get 'refresh token' in React Native.
I've checked this document.
https://auth0.com/docs/tokens/refresh-token/current
It seems I can get 'refresh token' via only browser, not SDK. Is it right?
Please let me know.

Thank you.

[2019-10-21 20:25] joshcanhelp commented on #241
Can confirm this behavior. Expired or otherwise invalid token throws that `unknown error`. Handling is here:

https://github.com/auth0/react-native-auth0/blob/master/src/auth/index.js#L262-L264

`AuthError` is here:

https://github.com/auth0/react-native-auth0/blob/master/src/auth/authError.js

Tt tries to get the error information from returned body JSON which, in the case of userinfo, is not the

[2019-10-21 21:38] joshcanhelp commented on #244
Thank you for the report here @jaredegan. I found a few related issues:

- [react-native-community thread](https://github.com/react-native-community/react-native-device-info/issues/260#issuecomment-399887000)

Points to a few potential fixes, might be something we'll need to do on our end. I'll add the maintainers here to take a look. In the meantime, if you want to see how we're doing it in a sam

[2019-10-21 21:44] joshcanhelp commented on #245
@a-jumping425 - I'm not sure I'm totally clear on your question here but I'll take a stab at it.

Refresh tokens need to be obtained and stored securely so they should never be obtained through the browser or stored in the browser. Native applications (like a React Native application) can obtain and store them securely. Requesting a refresh token is done by adding `offline_access` to the `scope` p

[2019-10-21 21:44] #245 closed

[2019-10-22 13:11] cocojoe commented on #219
Sorry @sseppola never saw this first time around. Are you still having an issue and if so what is your use case and steps to recreate. Thanks

[2019-10-22 13:24] sseppola commented on #219
I'm not having this problem, I solved it and described the fix. The point was your docs are outdated and telling people to use `annotation` and `sourceApplication` in the openURL method instead of `options`.

Looks like I copied the wrong link to the docs, see https://developer.apple.com/documentation/uikit/uiapplicationdelegate/1623073-application?language=objc

[2019-10-22 19:02] heatherSnepenger opened #247 "Android user called the auth"
Hi all,

I know there's a few issues listed similar to this one, but they seemed to be closed out without a resolution.

My auth is working as expect on iOS, but when I run on Android, I get the following response:

`{error_description:` "User cancelled the Auth", error: `"a0.session.user_cancelled"}`

I am using react-navigation, but I need to...is there a way to combine both libraries?

[2019-10-22 21:29] joshcanhelp commented on #247
Hi @heatherSnepenger. I see two similar issues in this repo, #120 and #83. I see a few possible solutions in those threads. Have you tried any of the fixes there? I'm not sure if we've got a better answer than what's been posted already, unfortunately.

[2019-10-23 21:20] lbalmaceda commented on #241
hehe. Thanks for reproducing @joshcanhelp ! Will take care of it as soon as I have some spare time

[2019-10-24 00:48] waterdoo commented on #233
For those who need to use an older version of this package because you don't want to upgrade react-native, I fixed this issue by updating this package's ios/A0Auth0.m file.

You can replace that file with: https://github.com/auth0/react-native-auth0/blob/b095109866dc82e4026cc19d23e9b44ce8ff0e37/ios/A0Auth0.m.

Or if you'd like a more controlled approach, you can manually add code from this commit:

[2019-10-25 09:17] MichaelTamm opened #250 "Can't get JWT: a0.state.invalid: Invalid state received in redirect url"
### Description

I try to get a JWT as access token by including `responseType: 'token'` in the parameters object given as first argument to the `webAuth.authorize(...)` call. Unfortunatelly this always fails with the Error `a0.state.invalid: Invalid state received in redirect url`

### Reproduction

[code]

### Environment

- **Version of this library used:**
react-native-auth0 2.1.0

### Analysi

[2019-10-25 19:50] joshcanhelp commented on #250
@MichaelTamm - Sorry for the trouble here. I'll answer this in a general sense to hopefully get you unstuck (not 100% familiar with this platform). Also, thank you for the code samples, that's very helpful 👍

I believe the default `responseType` for this library is `code`, which is exactly what you want it to be if you're requesting access tokens. You've got your `audience` in there, which is what

[2019-10-25 19:58] paulfalgout commented on #62
So @nilobarp 's suggestion worked for me too, which is pretty concerning.  We loaded our app in via the github extension so the app was not added via manage.auth0.com.  It kept failing checking the code with `client_name` `null`.  The fix was to change the type to something else, and change it back.. then everything started working.  This seems like a sizable auth0 bug.  Though not particularly re

[2019-10-28 08:37] Bardiamist opened #251 "[2.1.0] TypeError: undefined is not a function, js engine: hermes"
I have error `TypeError: undefined is not a function, js engine: hermes` after update from `2.0.0` to `2.1.0`. Only on Android and only if Debug is off.

Update: release apk also crash on start.

Minimum steps to reproduce:

1. `react-native init` (I tested on version 0.61.2 and 0.61.3 version)
2. Enable Hermes (one line change, see documentation)
3. `import 'react-native-auth0';`

[2019-10-28 11:17] MichaelTamm commented on #250
You are right: When I specify the `audience` I get back an JWT.

Thank you.

[2019-10-28 11:17] #250 closed

[2019-10-28 17:48] joshcanhelp commented on #251
@Bardiamist - Thanks for the report here and apologies for the trouble. Can you give us a bit more to go on here? Possibly sample code that's causing the issue or a line number where that error is coming from?

[2019-10-29 02:58] Bardiamist commented on #251
Just error on start.
![](https://i.imgur.com/TgAT0cp.png)

But I can see what error in `jssrssign/lib/jssrssign.js` (thanks Reactotron)
![](https://i.imgur.com/ZBveZL5.png)

[2019-10-31 16:12] Bogidon opened #252 "No webview on iOS 13 / Xcode 11"
The webview to log in through auth0 is no longer showing after migrating to iOS 13 / Xcode 11 / React Native 0.61.3. No errors being reported, simply the alert box `<Appname> Wants to Use "<login url>" to Sign In` is no longer popping up. Pod install works and I was able to build.

Anyone else seeing this?

[2019-10-31 16:15] Bogidon commented on #252
Using app compiled with Xcode 10 on iOS 13.2 works fine. I think it's the new Xcode that's the issue

[2019-10-31 18:55] peterholcomb commented on #207
Having this issue currently on 2.1.0 on a new react native project

[2019-11-01 15:21] Girres commented on #247
I had a similar problem with Android.  How I fixed it?

1. I had checked https://github.com/renrizzolo/auth0-react-native-sample/blob/master/00-Login/android/app/build.gradle and I realize that one line in my android/app/build.grade was missing, so I've placed - implementation project(':react-native-auth0') - inside dependencies group, like this:

`
dependencies {
    implementation project(':reac

[2019-11-02 04:48] #211 closed

[2019-11-02 04:48] #183 closed

[2019-11-06 09:57] jariwalabhavesh opened #253 "Anyway we can hide browser which open while auth0.webAuth.clearSession session"
### Describe the problem you'd like to have solved

### Describe the ideal solution

[2019-11-07 10:02] linfan68 opened #254 "token exchange API used by Sign In With Apple is missing"
### Describe the problem you'd like to have solved

I need to add Sign In With Apple in my React Native app

### Describe the ideal solution

adding API: tokenExchange(withAppleAuthorizationCode  similar to the SWIFT client

## Alternatives and current work-arounds

call the client post function directly:

[code]

### Additional context

[2019-11-13 07:31] ranshine opened #255 "How to login as another user"
Using this plugin Azure auth login is working fine but in logout i am calling clearing session method it is opening empty browser and closing After that if i again do user interaction login it is not prompting any username field it is simply showing silent login page with previous user emailid.

[2019-11-13 17:28] pcurc opened #256 "App switch to confirm 2FA breaks authentication flow (iOS)"
See also [this post in the Community forum](https://community.auth0.com/t/unable-to-log-in-with-idp-that-uses-2fa-due-to-app-switch/33674?u=pcurc).

We are trying to log in via our corporate ADFS provider. This works perfectly well on the iOS Simulator and on iOS devices that are on our corporate network, but for off-network devices, we require two-factor authentication via the Microsoft Authentic

[2019-11-13 17:57] xeroxoid commented on #170
Hi @lbalmaceda this is still an issue, yes. The problem is that other libraries i.e. OneSignal (for push notifications) as well as Firebase use `singleTop` for the `MainActivity` (and they claim they can not change their implementation to support `singleTask` as seen on this issue: https://github.com/OneSignal/react-native-onesignal/issues/565).

Is there any workaround to use `singleTop` with aut

[2019-11-13 18:28] lbalmaceda commented on #170
@xeroxoid ReactNative Linking requires the `launchMode` of the activity in which you will receive the result to be `singleTask`. So the easiest thing I can come up with now is to _use different activities_ for OneSignal and Auth0. That way you can have one with `singleTop` and the other with `singleTask`.

[2019-11-13 19:43] xeroxoid commented on #170
@lbalmaceda you're right thanks, but we can't seem to find an example on how to use multiple activities with react-native as well as how data will be passed from the OneSignalActivity to the MainActivity.

I understand that this is out of the scope of auth0's team but we are trying a find a solution that seems to be affecting multiple users of multiple libraries.

I posted a new comment here to ho

[2019-11-21 10:26] mtt87 commented on #154
I've added this guide and would like to get feedback on the approach 😄
https://community.auth0.com/t/passwordless-with-react-native-and-auth0/34056

[2019-11-21 11:51] heatherSnepenger commented on #252
I'm also seeing this on iOS 13, Xcode 11. Pod install didn't fix. I'm still looking for solution

[2019-11-21 15:25] Bogidon commented on #252
It could have been something else I changed, but it's now working with Xcode 11.2.1

[2019-11-21 18:11] cocojoe commented on #252
Glad you figured it out @Bogidon

@Widcket just ran through a quick test of this following our quickstart https://auth0.com/docs/quickstart/native/react-native

There were no problems, tested with the following versions:

[code]

[2019-11-21 18:13] #252 closed

[2019-11-21 21:28] wincod75 opened #258 "How to update key on iOS"
When prompted "MyApp" Wants to use  "auth0.com" to Sign in...

How do i change "MyApp" from the Bundle Identifier to the "CFBundleDisplayName"

I have rebranded my app, thus the Display Name is different from the Bundle Identifier.

"react": "16.6.3",
"react-native": "0.59.10",
"react-native-auth0": "1.6.0"

[2019-11-22 00:18] export-mike commented on #251
@Bardiamist I've downgraded to 2.0.0 for hermes support.

[2019-11-22 19:02] wincod75 commented on #226
@lbalmaceda Do you know if it's possible to change the "App Name" key that this alert points to? I have rebranded my app, changing the display name, but keeping the identifier. So it might be confusing if "AppName 1" wants to use Auth0, when everything is branded "AppName 2"

#258

[2019-11-22 19:32] lbalmaceda commented on #258
This is an iOS or react-native question rather than this SDK's. I don't know the answer and will leave open for someone else to respond. But [SO](https://stackoverflow.com/questions/50448989/requirement-to-change-app-name-in-google-sign-in-alert) has some pointers.

[2019-11-23 18:54] GuillaumeAmat commented on #251
For the record:

* `react-native-auth0@2.1.0` + Hermes = ❌
* `react-native-auth0@2.1.0` + Hermes + Debug mode = 👌

[2019-11-25 14:21] wincod75 commented on #258
Thanks @lbalmaceda, changing the $(PRODUCT_NAME) did the job.

[2019-11-25 15:58] lbalmaceda commented on #258
Perfect! Thanks for sharing the result. Will close this now.

[2019-11-25 15:58] #258 closed

[2019-11-25 20:37] jack828 opened #259 "Un-openable Android App when using react-native-splash-screen"
### Description

After adding react-native-auth0 to my application - and building a debug apk, I am unable to open the application, getting bounced to the app info screen.
This does not happen on development.

### Reproduction

Please take a look at https://github.com/jack828/TestApp - clone, install, then run `yarn showme` to build and install (over adb) the apk.
I have installed react-native-spl

[2019-11-25 20:57] jack828 commented on #259
Update: I've been messing with the contents of `AndroidManifest.xml` and it works fine if I make this change:

[code]

I assume this is just preventing the native code in this package from running, so this isn't really a fix. I'll see if I can't decipher the internals :laughing:

[2019-11-27 03:55] export-mike commented on #251
hmmm @2.1.0 is not going to work either.

jsrsasign is a dependency

2.1.0
[code]

2.0.0
[code]

[2019-12-04 04:29] winseyli commented on #253
+1

[2019-12-06 16:01] jeanlange commented on #85
@lukewlms - Thank you for this clear bug report and followup, even with no one else obviously involved. This helped me, years later. I encourage you to continue doing this sort of good work across the internet.

[2019-12-06 17:00] jt-singularity opened #260 "getUser Bad HTTP authentication header format"
### Description
I am trying to make a call to getUser, based on the example provided, and am getting the following error returned to me:
"Bad Request: Bad HTTP authentication header format"
### Reproduction
- I am successfully logging in and receiving an accessToken in the following format: xxxx_xxxxxx-xxxxxxxxxxxxxxxx-xxx where the x's are alphanumeric characters.
- I am successfully making a cal

[2019-12-11 17:19] codeithuman commented on #233
We are experiencing this issue with react-native-auth0 v2.1.0 on react-native 0.60.6 with iOS 13. Any ideas why?

[2019-12-12 04:24] codeithuman commented on #233
A newly initialized react-native v0.60.6 project works, but our project does not. Still trying to figure it out.

Auth0.webAuth works in 'Debug' mode on iOS, but does not work when the iOS app is built for 'Release'.

[2019-12-12 04:26] Bardiamist commented on #233
@codeithuman `2.1.0` has bad dependency. [Maybe that is related](https://github.com/auth0/react-native-auth0/issues/251). Try `2.0.0`.

[2019-12-12 09:23] cocojoe commented on #251
@Widcket can you take a look at this please

[2019-12-16 16:10] cenergon commented on #130
Hello egorshulga, I'am the same problem. did you solve it? thank!

[2019-12-20 12:37] Widcket commented on #251
Thanks everyone for the information. This issue is in our radar, and we’re currently evaluating options.

[2019-12-20 13:19] stigi commented on #255
There are two things you might be able to do:

- call `clearSession()` to properly logout
- pass `prompt=select_account` as an option in `authorize(...)`. More info here: https://community.auth0.com/t/how-to-logout-in-react-native/9046/2

[2019-12-20 13:24] stigi commented on #253
For us the workaround was to just never clear the session, but to just clear your tokens and start new sessions with the `prompt=login` option. In our case we just wanted to clear the session so the user got the chance to start login from scratch.

[2019-12-25 19:22] #237 closed

[2019-12-29 17:50] joaom182 opened #261 "Invalid Token"
### Description

I'm trying to perform passwordRealm authentication, by this way:

[code]

My `AUTH0_CLIENT_ID` is a application of type `Native`, and has all the Allowed Callback URL's configured and Allowed Logout URL's.

And i get the with success the response with the credentials (id_token, access_token, refresh_token).

But when i call my API, with Authorization header `Bearer ID_TOKEN`, the

[2019-12-30 17:30] lbalmaceda commented on #261
@joaom182 👋 ID tokens are to be consumed on the client-side (your iOS device in this case) and never leave it. If you plan to call an API you should use an access token instead. That said, any token validation issues that occur on the server-side are not the responsibility of this library. If the issue persists once you change the token you send on the header, please open an issue on the repo of t

[2019-12-30 18:15] lbalmaceda commented on #260
The token is passed to the `Client` class [here](https://github.com/auth0/react-native-auth0/blob/fd890dd750cec6757832c5610ab747d1e401fe3b/src/networking/index.js#L24). You don't need to prepend anything (i.e. "bearer "), so if you were passing it as received it should be fine.

However `auth0.users()` is calling the Auth0 Management API. Tokens calling this API must have the correct audience set,

[2019-12-30 18:24] lbalmaceda commented on #259
If the manifest is the issue, what we ask the dev to configure there is just the intent-filter that will capture the authentication result and change that activity's launchMode to singleTask. Maybe this last configuration is messing with it? I have no clue. Indeed that project looks abandoned. Found in some of the comments someone recommending this one, you might want to give it a try. Though we h

[2019-12-30 18:35] #259 closed

[2019-12-30 18:37] lbalmaceda commented on #255
What @stigi pointed out can help. You can also try passing the `federated` parameter to the `clearSession` call, although the behavior depends on each identity provider and is external to Auth0. See [this reference](https://github.com/auth0/react-native-auth0/blob/1bbd1dd8cd598330e104d301a34c436c69b242e4/src/webauth/index.js#L119)

[2019-12-30 18:37] #255 closed

[2019-12-30 18:44] lbalmaceda commented on #247
This SDK requires `launchMode=singleTask`. As react-native-navigation requires the same, there shouldn't be any problem with combining both libraries. It seems someone was able to make it work, as pointed out in the first issue linked by Josh above. Closing this now

[2019-12-30 18:44] #247 closed

[2019-12-30 18:45] #261 closed

[2019-12-31 15:50] jt-singularity commented on #260
Thanks for the reply.

Can you please explain what you mean by audience set and scope values? I don't see either of these terms in the react-native-auth0 documentation.

I can certainly make calls directly to the API but I was hoping to use the react-native-auth0 library to wrap these calls. From what I can tell I am using the library correctly so please correct me if I am doing something wrong.

[2019-12-31 17:33] joaom182 commented on #261
@lbalmaceda Thanks for the explaining! The source of problem is because password realm auth, returns opaque access_token (that cannot be used to call API's, only for /userinfo endpoint), so i mistakenly used a id_token to try call API.

[2020-01-03 12:29] borisKnox commented on #245
@a-jumping425 there? This is knox. Can we discuss about auth token in React Native?
I am very interested in your post.

[2020-01-03 17:42] lbalmaceda commented on #260
@jt-singularity Sorry about the confusion and please let me start over. Is there any specific claim or property that you require or are expecting to see on that profile payload, that you weren't able to obtain with the `/userinfo` call?

As of today, the contents of the ID Token received upon authentication should match the `/userinfo` response, provided the right OpenID connect scopes are being r

[2020-01-04 21:49] #236 closed

[2020-01-05 10:07] OrangeChickens opened #263 "clearSession propmts security consent"
### Description

Using clearsession to log out in React native but it prompts security consent. "xxx wants to use xxx to sign in".
Auth0 version: v.1.6.0.
Is there a way to remove it the consent?

[2020-01-06 16:13] jt-singularity commented on #260
Thanks again for the reply but I still feel like we are having two separate conversations.

I have one primary question: does auth0.users.getUser work?

If the answer is yes then please help me understand what I am doing wrong because it is not working for me.

If the answer is no then there is a bug that should be addressed.

So far you seem to be directing me away from using auth0.users.getUser

[2020-01-07 16:18] lbalmaceda commented on #260
@jt-singularity

Yes. But, as pointed out on my first comment, in order to use it you must call the endpoint with a token that has the right **Audience** and **Scope** granted.

See how I add `read:current_user` which is a special scope that allows me to consume only the user profile for the user that is being signed on. And note how the audience value specifies that the token should be used to ca

[2020-01-07 19:06] #232 closed

[2020-01-08 14:00] yohannpoli opened #264 "[Android] API 'variant.getJavaCompile()' is obsolete"
### Description

Building app with Android Studio result in: API 'variant.getJavaCompile()' is obsolete and has been replaced with 'variant.getJavaCompileProvider()'.

### Prerequisites

- [x] Did you check the documentation? [Add a link]
- [x] Did you check the [Auth0 Community](https://community.auth0.com/)?
- [x] Are you reporting this to the correct repository?
- [ ] Are there any related or d

[2020-01-08 16:13] ix42 commented on #251
Having the same problem with 2.1.0. Only downgrading to 2.0.0 fixed it

[2020-01-09 14:07] lbalmaceda commented on #264
@yohannpoli I'm aware of this as it has also been a warning for many other android libraries throughout the year 2019.

I don't think the removal will affect any given library unless the main Gradle version used on **your** app (the one making use of these dependencies) gets bumped to the latest major where this code gets actually removed.

 I'll make a PR with the changes.

[2020-01-09 14:26] lbalmaceda commented on #263
@OrangeChickens 👋 That is expected and depends on the iOS version your app runs in. There are many issues already closed you can check, like https://github.com/auth0/react-native-auth0/issues/226.

[2020-01-09 14:26] #263 closed

[2020-01-09 17:03] jt-singularity commented on #260
I just tried this out and it is working! Your example was very helpful, thanks. I think other users would benefit from this example if it was in the docs. Thanks again.

[2020-01-09 18:07] lbalmaceda commented on #260
I'm glad it worked! The `current_user` scopes were removed from the Management API docs, I don't know why but I can check with the docs team. But one of the probable reasons this is not documented on this repo's readme is because as of today, it is much simpler to retrieve the user profile inside the ID token or calling `/userinfo` as explained above.

[2020-01-09 18:07] #260 closed

[2020-01-09 19:44] lbalmaceda commented on #253
That's following Apple guidelines, and prompt would depend on the iOS version.
Closing as dupe of https://github.com/auth0/react-native-auth0/issues/226.

[2020-01-09 19:44] #253 closed

[2020-01-09 19:45] lbalmaceda commented on #254
@cocojoe @Widcket please, evaluate

[2020-01-09 19:58] lbalmaceda commented on #215
Closing due to inactivity

[2020-01-09 19:58] #215 closed

[2020-01-10 14:22] #264 closed

[2020-01-16 20:51] lbalmaceda commented on #251
@Bardiamist & all, I've put a PR that replaces jsrsasign. I've tested it and an Hermes enabled app works fine now. We'll be making a new release next week but in the meantime I'd love you have your feedback.

You can try the branch code by installing the package this way:

[code]

[2020-01-17 04:06] Bardiamist commented on #251
I checked, that works for my application.

[2020-01-28 00:34] Ingibjorg commented on #235
@victoriafrench I'm curious as to why you closed this issue. What was your solution?

[2020-01-28 21:40] Widcket commented on #256
Hi @pcurc, apologies for the delay. I just tested this with RN `0.61.5` on iOS `13.3` and wasn't able to reproduce. Do you have a sample app showcasing the issue that you can share with us?

[2020-01-29 14:26] Widcket commented on #244
Hi @jaredegan, I could not reproduce this in our RN [sample app](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login) updated to use **RN 0.61.5** on **iOS 13.3**. Is still an issue for you?

[2020-01-29 21:50] bunea commented on #245
@joshcanhelp I have the same problem. I can open a new issue if necessary.

It seems that auth0 is not returning the refresh token when using webauth. I followed the instructions in this repo's readme to the letter.

I call the sdk like so:
[code]

and I get this logged as the response:

[code]

There's no refresh token there, and the `offline_access` scope disappeared.

[2020-01-30 18:54] #251 closed

[2020-02-03 02:23] winseyli opened #272 "Open the web authentication screen with "Register" as default"
### Describe the problem you'd like to have solved

Our app design may have two separated buttons "Sign In" and "Register" so we need to open the web authentication screen with "Register" as default

[2020-02-03 08:28] winseyli commented on #272
Found the solution..

[code]

[2020-02-03 08:28] #272 closed

[2020-02-04 14:13] #219 closed

[2020-02-04 14:14] Widcket commented on #219
@sseppola thanks for raising this.

[2020-02-06 20:53] #254 closed

[2020-02-06 20:54] Widcket commented on #254
Hey @linfan68, thanks for raising this!

[2020-02-10 19:02] Bilal-S opened #274 "does not support custom domains"
The react-native authentication does not seem to support Auth0 custom domains.
Custom domains are used by many clients to authenticate users.

#### Description

To support Auth0 Custom Domains the `audience` and `domain` elements need to be provided individually during authentication to auth0.

The `Options` will have to expand and add `audience` and carry through:

[code]

The audience should def

[2020-02-12 04:32] k00ksta opened #276 "Unable to resolve module 'crypto' React 0.61.5"
### Description
I have a fresh react-native application with nothing else in it but react-native-auth0 added. I have followed the documentation on their github and auth0 site to the letter. With my iOS emulator as soon as I import Auth0 into the class I receive an error stating:

Unable to resolve module 'crypto' from 'node_modules/crypto-js/core.js' : crypto could not be found within the project.

[2020-02-12 10:23] f-roland commented on #276
Confirmed. this happens also on earlier versions of RN - I don't think crypto-js is usable in react-native. each time I wanted to use this, I had to use a polyfill

[2020-02-12 13:21] cocojoe commented on #276
Thanks for reporting. @lbalmaceda can you pick this up, please.

[2020-02-12 16:11] SZ-dev opened #277 "Bug: auth0.webAuth.authorize is failed on iOS 13.3"
Hello,

While I integrate auth0 in react native by using react-native-auth0, I found an issue on iOS 13.3.
It works well on iOS 12, but it doesn't work on only iOS 13.

This is my code
![image](https://user-images.githubusercontent.com/2407936/74353626-274e7180-4df5-11ea-806c-c89ed0507edb.png)

It always gets 'catch error'.

Any solution are there?

Please help me!
Thanks.

[2020-02-12 17:37] lbalmaceda commented on #276
This was tested locally with React Native `0.61.2` with and without the Hermes engine enabled and it worked fine on both iOS and Android platforms. I just went through that manual testing again using our quickstart sample, so I'm guessing the latest RN version is not supported right now, oh well... It's no surprise that every new RN release is breaking up things 😬.

Let me migrate the sample app t

[2020-02-12 18:00] lbalmaceda commented on #276
@k00ksta I couldn't repro it. I just tried all these with our [sample app](https://auth0.com/docs/quickstart/native/react-native/00-login), and they work fine.:

[code]
Run `yarn add react-native@0.61.5`

[code]
Run `yarn add react@16.9.0`
[code]

If you can provide more details, happy to look into it.

@f-roland On what version are you encountering that issue? Remember since `react-native-auth0`

[2020-02-12 18:04] k00ksta commented on #276
I am not using your sample app.

If you create a new react native project using "react-native init" and yarn add your current library it will fail.

"react": "16.9.0",
"react-native": "0.61.5",
"react-native-auth0": "^2.2.0"

I literally just downgraded my auth0 to 2.1.1 like the other user said and it works perfectly which does not include a node module for crypto-js but uses whatever you use pre

[2020-02-12 18:09] f-roland commented on #276
@lbalmaceda well, up until 2.1.1, I can guarantee you it works with react-native 0.59.10 :)
You are free to drop support for pre-0.60 but as @k00ksta explained, this was also seen on more recent react-native versions.

did they include a crypto polyfill at some point ? I'm not aware of that but maybe I missed it.

the main issue is you are now relying on a lib that is primarily meant for browsers

[2020-02-13 06:04] wincod75 opened #278 "Social Connection Caching"
My app offers 3 different social connection options: Facebook, Twitter and Gmail. On the initial use, the user has the ability to log in with the corresponding social connection that they choose. However, once they log in with Gmail Account A, and then when they log out and return to log in again by using Gmail, it doesn't allow them to choose a different Gmail account to log in with, it defaults

[2020-02-13 10:56] reinvanimschoot opened #279 "No refresh_token when using offline_access and no way to add device as a field"
### Description

I am trying to make sure that when I use webAuth to return an access token, I also get a refresh token so I can silently refresh the token without having to log out the user.

However, when using webAuth like so:

[code]

I don't get back any refresh token.

I tried googling the problem but nothing came up. There is one tutorial by Pusher (https://pusher.com/tutorials/auth0-react-

[2020-02-13 20:05] Widcket commented on #274
@lbalmaceda please evaluate

[2020-02-13 20:06] Widcket commented on #278
@lbalmaceda please evaluate

[2020-02-13 20:24] lbalmaceda commented on #278
@wincod75 That's because of "Seamless SSO". The recommendation is to always [log out properly](https://github.com/auth0/react-native-auth0#log-out) before logging in again. There's an option that is called `federated` logout, which would attempt to sign off your provider's account. Note though that this is not supported by every provider, so use at discretion. The way you do federated logout is by

[2020-02-13 20:26] lbalmaceda commented on #274
@Bilal-S An audience can be specified when authenticating via web auth, as seen [here](https://github.com/auth0/react-native-auth0/blob/master/src/webauth/index.js#L47). What method are you trying to call?

[2020-02-13 20:30] Widcket commented on #277
Hi @SZ-dev, I just tested this on the [sample app](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login) and wasn't able to reproduce. Can you share with us a small app that reproduces this problem?

[2020-02-13 20:54] wincod75 commented on #278
Thanks @lbalmaceda I'll give option 1 a try. I took a look at my tenant settings out of curiosity and I already have "Seamless SSO" turned off. I'll follow up when I have a fix in place. Thanks again for the assistance!

[2020-02-14 05:58] wincod75 commented on #278
@lbalmaceda So, here's my updated code snippets. I added the prompt=select_account, and here's what happens.

Assuming I have logged into my Twitter account and now wish to login to a different account with Gmail, I am prompted with the first screen/image you see below. It shows me my last login with Twitter, if i select "Not Your Account?" I am sent to the second screen/image you see blow.

So, a

[2020-02-14 17:51] lbalmaceda commented on #278
I think you're not passing correctly the federated parameter on logout, thus, the first account remains logged in. The snippet for logging out should look like this:

[code]

Also, another thing I forgot to mention. If you're passing the connection name on the authorize call, then passing the `prompt=select_account` will only make it show the whole widget as in the last picture attached. This does

[2020-02-14 22:04] Widcket commented on #279
@lbalmaceda please evaluate

[2020-02-14 22:41] Widcket commented on #279
Hi @reinvanimschoot, is your audience an API? If so, make sure you're enabling offline access in the [API settings](https://manage.auth0.com/#/apis).
<img width="571" alt="Screen Shot 2020-02-14 at 19 37 28" src="https://user-images.githubusercontent.com/5055789/74574175-8df09e00-4f61-11ea-98e0-70c701ab65b2.png">

[2020-02-15 00:30] wutayng opened #280 "Implementation on react-native-web"
### Description

Unclear implementation for react native web applications.
No tutorials on auth0.com worked for boilerplate react-native web application.
For this application type, loader doesn't seem to be configured for the auth0 module.

### Reproduction

Create react-native-web application from CLI
- https://github.com/orYoffe/create-react-native-web-app

Set all URLs in Auth0 to http://localh

[2020-02-15 20:48] Ingibjorg opened #281 "App Rejected By Apple due to Apple Sign In UI on Universal Login"
### Description

Our React Native app that uses the `react-native-auth0` library with _Universal Login_ got rejected by Apple because the UI of the Apple Sign In button doesn’t meet their requirements. I expect the auth0 library to adhere to the Apple Sign In guidelines so my app is not rejected.

We used a customized version of the Universal Login page that was configured in the Auth0 dashboard a

[2020-02-16 13:36] Widcket commented on #281
Hi @Ingibjorg, we are aware of this issue and are working on a fix. I can’t provide an ETA, but will update as soon as possible.

[2020-02-18 04:44] wincod75 commented on #278
@lbalmaceda Thank for the follow up, unfortunately this made no difference. I don't need the prompt, because as you said I'm passing the connection name before hand, but the federated logout has had no affect on determining accounts. FB, Twitter and Gmail all default back to the original account that I logged in with, even after updating my logout function with your code sample above.

[2020-02-18 07:36] 3rfan opened #282 "Dynamic tenant URLs on Android"
### Description
This is more of a question than a bug/feature request. However, I would consider this an issue related to this library.

As described in the Readme you have to specify the auth0 tenant domain in the `AndroidManifest.xml` like:

[code]

We are building a multi-tenant mobile app. Since each of our tenants have a different URL we need a way to dynamically change the value of `YOUR_AUT

[2020-02-18 14:35] lbalmaceda commented on #278
@wincod75 Your snippet has an error. Let me re-cap first:

You're trying to authenticate with different social providers. When using 1 account on each of them, that works fine. However, when a given provider has more than 1 account listed, once you've authenticated with one, the next time you are not able to choose between them again and you will get logged in into the first one chosen. Is that co

[2020-02-18 14:58] lbalmaceda commented on #282
I haven't tried this but it should be possible. If you're targetting later Android versions you could use "Android App Links" and whitelist the domain so that it gets verified on install-time and the redirect happens smoothy.

However, if you need or want to use a custom scheme, for the Android SDK we recently added a way to [customize the redirect URL](https://github.com/auth0/Auth0.Android/pull/

[2020-02-18 15:20] wincod75 commented on #278
@lbalmaceda Thank you for following up so quickly!

So, yes I am trying to authenticate with different providers, which does work just fine. The problem is if I want to switch accounts; lets say I authenticated with Twitter, and my friend needs to sign into their account with their Twitter, they can not do so because it defaults, without option, to the originally authenticated Twitter account.

I

[2020-02-18 15:40] lbalmaceda commented on #278
Correct! I'm happy it worked for Google.
Unfortunately for the rest, it's the external provider that needs to offer this feature. For Facebook, it could be that [this](https://developers.facebook.com/docs/facebook-login/reauthentication/) other parameter works to trigger that, but I'm not sure if that is the same. You'll have to check each provider's documentation to get help triggering this scena

[2020-02-18 15:40] #278 closed

[2020-02-18 21:11] Widcket commented on #280
Hi @wutayng, I wasn't able to reproduce this issue. Here's what I did:
- `npm install -g create-react-native-web-app`
- `create-react-native-web-app ReactNativeWebTest`
- `cd ReactNativeWebTest `
- `yarn run web`
- `yarn add react-native-auth0`
- `import Auth0 from 'react-native-auth0';` in `App.js`.
- `yarn run web`

This produced the following output:
[code]

[2020-02-18 21:13] Ingibjorg commented on #281
I got an answer on my support ticket. The latest lock version has updated the UI to follow Apple’s guidelines. I just had to use v11.22.1 in my customized universal login page like so:
<script src="https://cdn.auth0.com/js/lock/11.22.1/lock.min.js"></script>
I will submit to Apple again and mark this as solved if there are no issues.

[2020-02-18 22:13] wutayng commented on #280
Okay, I just reproduced your steps and got the same successful result. What I should have specified earlier is that the problem exists with the Example App linked on the CLI Github page (https://github.com/VISI-ONE/create-react-native-web-example)

Just now I cloned this example app, repeated your steps above, and got the original error. I have not been able to find any differences between this Ex

[2020-02-18 23:04] Widcket commented on #280
Closing as this is not something we can fix.

[2020-02-18 23:04] #280 closed

[2020-02-19 02:59] Bardiamist opened #283 "Expected com.valr.app://auth.valr.com/android/com.valr.app/callback but got https://another_link.here/"
### Description and Reproduction

If open auth0 WebView then open not Auth0 deep link by app then we have `Expected com.valr.app://auth.valr.com/android/com.valr.app/callback but got https://another_link.here/` error.

Can we to ignore a unexpected links and just to show a dev warning instead error?

### Environment

- **Version of this library used:** 2.3.0

[2020-02-19 15:53] 3rfan commented on #282
Sorry, I don't have a lot of experience with Android development. I am not sure if the linked PR is related to my issue. Just want to make sure that we are not talking past each other. I am looking for a way to dynamically change the value of the `host` attribute. Afaik I can use wildcards inside the `host` value to handle URLs such as:
- foo.mydomain.com
- bar.mydomain.com
by writing:
[code]
Howe

[2020-02-19 18:14] lbalmaceda commented on #282
Yes, that's what I understood from your first comment as well 👍

Regarding intent-filters, you can add as many as you want in the manifest, but you could also use wildcards in one as you mentioned to cover all your subdomains. What you need to understand from intent-filters is that they behave like "listeners" attached to a specific activity, and if a match occurs it will open up that activity.

I

[2020-02-19 19:49] #281 closed

[2020-02-19 22:44] Widcket commented on #283
Hi @Bardiamist, can you please add detailed reproduction steps for this issue?

[2020-02-20 02:43] Bardiamist commented on #283
1. Call `auth0.webAuth.authorize`
2. Don't close Auth0 WebView and minimize application
3. Open [universal link](https://developer.apple.com/documentation/uikit/inter-process_communication/allowing_apps_and_websites_to_link_to_your_content/enabling_universal_links) by app

[2020-02-20 11:38] 3rfan commented on #282
Thank you for the elaborate answer. Since I don't want to create extra work for you I will try to use 2 intent-filters first and respond to you after I know if that is working or not.

I don't understand this part. The auth0 domain and client ID in our app is changing based on the tenant the user selects before trying to authenticate. Afaik just the domain should be an issue since it is also defin

[2020-02-20 12:09] lbalmaceda commented on #282
Sorry for poorly explaining it. That's correct, the client ID and domain are the only values that you will dynamically change, but the domain is the only one that needs to be "whitelisted" in the manifest using the intent-filter approach of your choosing (described on previous comments). Ignore that thing that I said and you quoted 👍.

The intent-filters you wrote above are correct. Your concern m

[2020-02-20 12:18] 3rfan commented on #282
Oh, that makes sense. Thank you so much for your help and time. I will try this approach and close this issue if everything works as expected.

[2020-02-22 22:03] Bilal-S commented on #274
@lancelaird thanks for the feedback.
We will review this week and will post back here.

[2020-02-27 17:57] Widcket commented on #283
Hi @Bardiamist, I wasn't able to reproduce it. Can you share a small app showcasing the issue?
![Screen Recording 2020-02-27 at 14 52 34](https://user-images.githubusercontent.com/5055789/75471723-5c200400-5971-11ea-9d3e-4270913a30ed.gif)

[2020-02-27 18:09] Bardiamist commented on #283
@Widcket Will that work if you enter login and password?

[2020-02-28 15:38] Widcket commented on #256
Closing this one. If this is still an issue for you, please reply.

[2020-02-28 15:43] pcurc commented on #256
Are you able to capture a video of your successful reproduction? I don't see any change in the code other than what I have done in #257 that would make this non-reproducible, assuming the steps noted where an app switch happens mid-authentication are followed.

[2020-02-28 16:01] Widcket commented on #256
@pcurc here's a 2FA flow on iOS 13.3:

![RPReplay_Final1582905389](https://user-images.githubusercontent.com/5055789/75564021-1c692300-5a2a-11ea-906d-04cdf525bfc0.gif)

If you can provide a video of this issue or an example app, that'd be helpful.

[2020-02-28 16:03] pcurc commented on #256
Thank you so much for providing. The difference for the flow I was experiencing is that it's a 2FA app switch that results from a push notification (i.e. as a user, I'm not initiating the app switch using the switcher as shown here, I'm responding to the push notification to trigger the switch). Let me see what I can capture.

[2020-02-28 19:17] pcurc commented on #256
Please see below for a screen capture of the behavior described (iOS 13.3.1, RN 0.60.5, react-native-auth0 2.3.0, on an iPhone 7).
![IDPLosesNetworkConnection](https://user-images.githubusercontent.com/7558691/75579903-c352bc80-5a34-11ea-9bdf-813d643fde0c.gif)

[2020-03-02 12:48] 3rfan commented on #282
Everything works as expected now. Thank you again @lbalmaceda :)
Here is relevant part of my AndroidManifest.xml in case someone has the same use case:

[code]

[2020-03-02 12:49] #282 closed

[2020-03-03 14:59] Widcket commented on #244
Closing due to inactivity.

[2020-03-03 14:59] #244 closed

[2020-03-04 07:03] keremcubuk commented on #251
Thanks a lot :)
We removed jsrassign in our project and crash issue is fixed.

[2020-03-04 16:25] #256 closed

[2020-03-04 16:27] Widcket commented on #256
@pcurc thanks for providing a video.

[2020-03-09 21:03] Ingibjorg opened #286 "Custom UI Login - App name missing on native Apple Sign In View"
### Description
I've implemented a custom UI Login screen that uses auth0 to login to my app via different social platforms. When I log in with Apple by specifying the social connection like so

[code]

the app name shows up as "null" in the Apple Sign In dialogue (see screen shot):

![IMG_6888](https://user-images.githubusercontent.com/5962836/76256630-809b9c00-620d-11ea-916d-1b60cf2ca599.jpg)

I

[2020-03-09 21:15] Widcket commented on #286
Hi @Ingibjorg, thanks for the report. [We're aware](https://github.com/auth0/Lock.swift/issues/588) of this issue. This something on Apple's side, and we've brought it up with them.
Will close this one for now, as there's nothing we can do. Please refer to the linked issue for updates.

[2020-03-09 21:15] #286 closed

[2020-03-09 21:21] Ingibjorg commented on #286
Ok, @Widcket do you know if Apple will reject apps submitted like this to the AppStore?

[2020-03-09 21:23] Widcket commented on #286
No, AFAIK.

[2020-03-09 21:24] Ingibjorg commented on #286
Thank you!

[2020-03-10 20:31] #241 closed

[2020-03-10 20:32] Widcket commented on #241
@raldred thanks for reporting this.

[2020-03-16 00:27] Bilal-S commented on #274
We were not able to get it working where we logged in to the custom domain successfully. We specified different values for audience and domain but the token generated was incorrect (always using the standard auth0 domain).
We decided to use a workaround solution so we can exchange data between app and mobile web page.
Thanks for your assistance.
We can close this ticket.

[2020-03-16 14:47] #274 closed

[2020-03-16 14:55] Widcket commented on #277
Closing due to inactivity.

[2020-03-16 14:55] #277 closed

[2020-03-16 14:56] Widcket commented on #279
Closing due to inactivity.

[2020-03-16 14:56] #279 closed

[2020-03-23 19:12] lhuria94 commented on #283
Hi, @Bardiamist Did you happen to resolve the issue, I am facing the same.

Use case:

1. Have universal linking in use for the application
2. Open auth0 login page
3. Don't close and then go to your email in the background and click on the link which should redirect you to some internal page in your app.
4. Throws: Expected com.valr.app://auth.valr.com/android/com.valr.app/callback but got https:

[2020-03-24 02:04] drewdecarme commented on #209
I'm still getting this "error" in `2.3.0`. Exact same issue as above, where there isn't a promise being returned as well as the "Sign in" dialog.

[2020-03-24 05:35] lhuria94 opened #288 "Close the In-app Browser during Deep linking routing"
We would like to understand if there is a possibility to close the in-app browser when we get redirected to the internal route via Universal deep linking.

Example Scenario
- Open App, Try to login (In-app browser opens)
- Go to your Email or anywhere you can get the link
- Click on the link, redirect to internal route
- The app keeps "In-app browser" open while the app in the background redirect

[2020-03-28 13:38] lbalmaceda commented on #288
For Android we're using the Custom Tabs plugin. If a Custom Tabs compatible browser is installed, the tab is launched within the app context, and when redirects back it will be closed and not kept in the history. This is not the same case when no compatible browser is found and the URL needs to be opened on an "external" browser app. The SDK doesn't have control over external apps, and they don't

[2020-03-28 13:40] lbalmaceda commented on #283
@lhuria94 let's keep that other topic on this other issue, please https://github.com/auth0/react-native-auth0/issues/288.

[2020-03-28 13:49] lhuria94 opened #289 "Possibility of disabling login prompt"
Thanks for the great library. It supports a ton of options and very useful.

I just wanted to check in if there is a possibility of disabling login prompt in all cases and take us directly to in-app browser when clicked which shows auth0 login page, as I understand it's not something Auth0 enforces but on the ios side.

![dea3fdaf61120e45f51028a205df8f1c jpg  640×1135 ](https://user-images.githubu

[2020-03-28 13:51] lhuria94 commented on #283
@lbalmaceda Sure. Thanks :)

[2020-03-30 03:10] Widcket commented on #283
Closing due to not being able to reproduce. If this is still a problem for you, please ping with a video or app reproducing the issue.

[2020-03-30 03:10] #283 closed

[2020-03-30 03:19] Widcket commented on #289
Hi @lhuria94, it's in our backlog. We plan on supporting `prefersEphemeralWebBrowserSession` on iOS 13+ with a fallback to `SFSafariViewController` on older versions of iOS. Keep in mind that disabling the popup will disable SSO.

[2020-03-30 03:19] #289 closed

[2020-03-30 03:56] Widcket commented on #288
Hi @lhuria94, the plugin uses `ASWebAuthenticationSession` on iOS 12+ and `SFAuthenticationSession` on older versions of iOS. Both expose a public `cancel()` method that will dismiss the browser, but the plugin doesn't expose it.

[2020-03-30 03:57] Widcket commented on #288
@lbalmaceda is there a way to manually dismiss a Custom Tab before the redirect?

[2020-03-30 19:33] lbalmaceda commented on #288
If the activity that launched the CT is closed, it should close the CT as well. There's no public API for telling the CT to close programmatically.

[2020-03-30 23:06] Widcket commented on #288
@lhuria94 currently there's no way to programmatically dismiss the in-app browser before the redirect.

[2020-03-30 23:06] #288 closed

[2020-03-31 13:46] rasmusrim commented on #105
If you use Expo, you should use their API instead: https://reactnativemaster.com/react-native-geolocation-example/

[2020-04-07 20:47] kevinranks opened #291 "Cannot pass user_metadata to auth.CreateUser()"
### Description

I am trying to include `user_metadata` with the `createUser` method but it's not working.

Referring to: https://github.com/auth0/react-native-auth0/blob/master/src/auth/index.js#L486

If I pass an object I receive the error: `invalid user_metadata.consentGiven type (only strings are allowed)`

If I pass a string I receive the error: `"invalid user_metadata type (expected object)"

[2020-04-07 21:52] Widcket commented on #291
Hi @kevinranks, thanks for reaching out. The **values** must be strings, as per the [endpoint documentation](https://auth0.com/docs/api/authentication#signup):

So in your example that would be:
[code]

[2020-04-07 21:52] #291 closed

[2020-04-10 02:16] gabrielmc94 opened #292 "Library not found for -lA0Auth0"
### Description
When trying to run a production build I get the following error:

[code]

### Reproduction

This error does not occur when debugging, only when I try to click 'Archive' or when the build runs in Microsoft App Center

### Environment

- **Version of this library used:** 2.3.0
- **Version of the platform or framework used, if applicable:** React-Native 0.61.5
- **Other relevant versi

[2020-04-10 10:59] Widcket commented on #292
Hi @gabrielmc94, the linker seems to be unable to find all your pods, not only Auth0. It only shows up like that at the end because it's the first one by alphabetic order.
Closing as this is not an issue with the library.

[2020-04-10 10:59] #292 closed

[2020-04-14 10:00] draperunner opened #293 "Pod install fails"
### Description

`pod install` fails because it tries to install from a branch called "2.3.0" (version name), which does not exist.

### Reproduction

We are using monorepo setup which gives us some trouble with React Native auto-linking, and therefore we manually add an entry for the podspec in our Podfile like so:

[code]

When running `pod install`, it fails with the following message:

[code]

[2020-04-15 14:42] leemcmullen commented on #130
@cenergon Hey, I've seen this behaviour caused when the `applicationId` has a mix of upper and lower case characters e.g. `com.MyAppName.dev`.

So let's say you have the following intent filter

[code]

When `.authorize()` is called, it generates a `redirect_uri` which it then passes into the authentication browser. This tells the auth screen where it should redirect to when auth is successful. Wh

[2020-04-15 23:04] lbalmaceda commented on #130
We mention the use of lowercase for Android apps in the [readme](https://github.com/auth0/react-native-auth0#callback-urls). But.. there's always room for improvement, what will be better @leemcmullen ?

[2020-04-16 09:14] leemcmullen commented on #130
@lbalmaceda Thanks for the heads up on that Luciano, I'd missed that part of the readme to be honest! My 2 suggestions to improve things slightly would be:

a) try to emphasise the point in the readme a little more i.e. that if there are uppercase characters in the package name on Android then it will fail to take you back to the app because of the conversion to lowercase behind the scenes when ge

[2020-04-16 09:17] lhuria94 opened #294 "Getting signin popup during logout"
Hi,

We are getting this popup during logout from the mobile app.
Our code is:
[code]

Is there any way to avoid this situation?

[2020-04-16 14:38] Widcket commented on #294
Hi @lhuria94, can you share a screenshot of the popup?

[2020-04-17 09:47] mountainfirefly commented on #294
I am having the same issue, here is the screenshot @Widcket
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-17 at 15 15 46](https://user-images.githubusercontent.com/11595211/79556275-79926400-80be-11ea-8cbc-dae99f2934bf.png)

[2020-04-17 09:51] mountainfirefly commented on #294
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-17 at 15 15 46](https://user-images.githubusercontent.com/11595211/79556663-04735e80-80bf-11ea-8f38-f34dbb91686d.png)
I am having the same issue, here is the screenshot. @Widcket

[2020-04-17 12:17] Widcket commented on #294
@mountainfirefly thanks for the screenshot. Support for disabling SSO (and thus avoiding that popup) is already in our backlog.

[2020-04-17 12:42] lhuria94 commented on #294
@Widcket But we need the SSO as well, even if we have the popup its the message which does not make sense for the. A signed in user has to sign in to logout.

[2020-04-17 13:57] lbalmaceda commented on #130
@leemcmullen It's a shame android behaves differently than other platforms on scheme capitalization... I like your suggestion of throwing an error when it contains uppercase chars. And will definitely give the readme a review. Thanks!

We're tracking this internally.

[2020-04-18 00:45] Widcket commented on #294
@lhuria94 both popup and message are displayed by `ASWebAuthenticationSession`, and unfortunately we do not have control over it. However if you'd like to force the user to login again, you can add the `prompt: "login"` param to the login call.

[2020-04-18 05:49] tej-rana commented on #103
Hi,
I am opening this as the Auth0 document gets access token via Grant Type Client Crediential. The access code obtained is insufficient. Is there a way to use Authorization Flow?

https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/context

[2020-04-18 05:51] tej-rana opened #295 "LinkedIn Api via Authorization Code Flow"
Hi,
I am opening this [as the Auth0 document ](https://auth0.com/docs/connections/calling-an-external-idp-api)gets access token via Grant Type Client Crediential. The access code obtained is insufficient. Is there a way to use Authorization Flow?

https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/context

[2020-04-20 17:54] rjmontgomery opened #296 "Feature Request - mimic auth0-js api"
Hi! 👋, you may remember me from PR #290 where I was talking about some modifications I needed to make in order to support our use case. I was hoping we could possibly contribute back some of our learnings, and possibly improve the library!

To give you some background, we are using both [auth0-js](https://www.npmjs.com/package/auth0-js) and react-native-auth0 to support a cross-platform applicatio

[2020-04-20 18:21] lbalmaceda commented on #295
On mobile, the steps you need to follow are the ones in this section of that document, along with the reasons why this is the most secure approach -> https://auth0.com/docs/connections/calling-an-external-idp-api#from-the-frontend.

Basically, it's saying that after you've signed in from your mobile app using any Identity Provider (IdP), the token you are given is for authenticating against Auth0.

[2020-04-20 20:44] lbalmaceda commented on #296
This has a huge UX impact. We will definitely not break it, especially because this SDK was designed to interact with Auth0.

You can call the 2 methods we call internally yourself and have your own custom _webauth_ implementation, by using the methods provided in the `auth` package just like we do. If I understand correctly, this is what you're doing today.

I'm not familiar with how auth0js perf

[2020-04-20 21:18] rjmontgomery commented on #296
Good points all around, and you'll have to forgive me my ignorance on some of these items. Feel free to close the issue, but if you are willing to humor me a bit longer I do have a final question out of personal curiosity.

Can you help me understand what you mean by this? My solution would look something like this
[code]
Is the thought that by exposing more than just the `authorize` method on the

[2020-04-20 21:46] lbalmaceda commented on #296
I mentioned UX because the `webauth.authorize` method today calls those 2 requests for the user automatically, versus having the user handle that interaction manually. It even hooks in the [validation of the ID token](https://github.com/auth0/react-native-auth0/blob/master/src/webauth/index.js#L100), which is really necessary when you are consuming its contents locally.

But remember, the 2 method

[2020-04-20 22:05] rjmontgomery commented on #296
Yes that really cleared things up! Thank you!

It seems I may have misunderstood what `webauth.authorize` is doing even in my use case (and admittedly I am still somewhat new to javascript). It seems you have actually implemented my use case exactly without me realizing it.

If I understand you correctly this is in fact what our application is doing now.

[2020-04-20 22:06] rjmontgomery commented on #296
Really appreciate you taking the time to explain this for me! You all are doing great work!

[2020-04-20 22:28] lbalmaceda commented on #296
That's not good...  Only consume the tokens from the second response (the code exchange). The access token you receive in the first request should be discarded.

There are different authentication flows depending on the application type you're calling the API from. There are some red flags you want to avoid, such as doing an implicit-flow from a native application (as it seems you are doing now).

[2020-04-20 22:53] rjmontgomery commented on #296
Seems like I need to do some more research on my end - appreciate the docs link I definitely want to do some more digging on this. And also appreciate you bringing up this issue - I'll make sure that gets resolved as well.

Thanks! I'll check out those docs!

[2020-04-21 15:13] lbalmaceda commented on #296
Closing this for now. If you run into issues, please re-open.

[2020-04-21 15:13] #296 closed

[2020-04-22 01:53] cHaLkdusT commented on #276
Hi all, Using a bare RN project, I also encountered this issue. As a workaround, I tried using different release versions of `crypto-js` was able to make it work. I find myself resolving to lower version *v3.3.0*.

| | Version | Error |
| :--: | :--: | :-- |
| ❌ | v4.0.0 | error: Error: Unable to resolve module `crypto` from `node_modules/crypto-js/core.js`: crypto could not be found within the pr

[2020-04-22 16:24] lbalmaceda commented on #276
@cHaLkdusT According to their [changelog](https://github.com/brix/crypto-js/compare/3.2.1...develop#diff-04c6e90faac2675aa89e2176d2eec7d8R225) `3.3.0` is `3.1.9-1`. That would make sense since it's the version that we used when testing this. Although no change and no new release would be necessary for this library as [^3.1.9-1](https://github.com/auth0/react-native-auth0/blob/master/package.json#L

[2020-04-27 10:42] lhuria94 opened #297 "Overheat issue during auth0 login"
We are using this module and sample boilerplate (https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login) for auth0 login.

When we click on login, it opens an in-app browser with an auth0 login. If we keep it idle say 6-8 mins, it starts to overheat the phone.

Wanted to check if its anywhere related to this library or in general?

We ran the profiling using Detox Instrume

[2020-04-27 23:10] michaelbramwell opened #298 "New Universal Login Window cutoff in React Native on IPad"
### Description

We are using react-native-auth0 lib 2.1.0 on React Native 0.61.4 and when launching the auth0 New Universal Login window on the IPad the login window is cutoff (tested on both my new 7th gen IPad and client’s older gen iPad Pro as used in the screenshot below).

There seems to be no way to control the window height via react-native-auth0 lib. Is there anyway to prevent this from b

[2020-04-28 22:41] RipTheJacker commented on #222
I don't see why it wouldn't work with https://docs.expo.io/versions/v37.0.0/sdk/auth-session/ but it does not.

[2020-04-29 15:03] lbalmaceda commented on #276
Fixed to 3.3.0 on https://github.com/auth0/react-native-auth0/pull/299. Please, reopen if you encounter more issues after the next release.

[2020-04-29 15:03] #276 closed

[2020-04-29 15:09] #293 closed

[2020-04-29 17:03] 3rfan opened #301 "Calling `webAuth.authorize` too quickly after resuming the app makes the returned Promise never resolve"
### Description

My code is calling `webAuth.authorize` when a user comes into the app through a deeplink. On Android everything works as intended. However, on iOS the `webAuth.authorize` call never resolves and the confirmation alert never shows.
I figured out that this happens because the `resolve` function in `NativeModules.A0Auth0.showUrl` in `agent.js` isn't called.

Delaying the call of `web

[2020-05-01 02:14] Widcket commented on #301
Hi @3rfan, when the deeplink url is handled the iOS app is not yet on the foreground. Setting a timeout just gives it time to finish loading. Instead you can use [AppState](https://reactnative.dev/docs/appstate) to detect when the app transitions to the foreground and call `webAuth.authorize`.

[2020-05-01 02:14] #301 closed

[2020-05-01 02:29] Widcket commented on #298
Hi @michaelbramwell, the window is managed by [AuthenticationServices](https://developer.apple.com/documentation/authenticationservices), the underlying iOS API used by the SDK. Unfortunately it does not expose any way to control its presentation.

[2020-05-01 02:29] #298 closed

[2020-05-01 03:11] Widcket commented on #297
Hi @lhuria94, thanks for the report. I ran the sample app on an iPhone 11 Pro, opened the browser window and left it there for 7 minutes. Got the following readings on Instruments:

<img width="1239" alt="Screen Shot 2020-04-30 at 23 58 50" src="https://user-images.githubusercontent.com/5055789/80778812-0407a880-8b40-11ea-82fb-60027ea6968f.png">

Doesn't seem to be related to the SDK.

[2020-05-01 03:11] #297 closed

[2020-05-04 05:00] beingArkReal opened #303 "Clear session without opening the browser from client."
I'm looking for a way to clear the auth0 session without showing the browser pop up on the client-side.

[2020-05-04 16:11] Widcket commented on #303
Hi @beingArkReal, unfortunately the only way to remove the Auth0 session cookie from the system browser requires showing the browser briefly.

[2020-05-04 16:11] #303 closed

[2020-05-07 05:48] laxman-ram-iconnect opened #304 "How i can validate user after login"
I am building an application and using this lib for authentication.
How could I make user silent_login once he signUp/loggedIn?

and how can I validate the user token session in react-native if it is valid or not so that I can send him for relogin?

[2020-05-07 11:04] pavelpashkovsky commented on #294
v2.3.1 still getting this popup. Is there any solution to avoid it except rolling back to old versions?

[2020-05-07 18:56] Widcket commented on #304
Hi @laxman-ram-iconnect, you can use a Refresh Token to get a new Access Token.

[code]

To get a Refresh Token, you need to use the `offline_access` scope on login. Like this:

[code]

The credentials object will contain a Refresh Token in addition to the Access Token. You need to store that Refresh Token somewhere safe, like the Keychain (in iOS), so you can retrieve it later when you want to us

[2020-05-07 18:56] #304 closed

[2020-05-11 08:48] paulosborne commented on #294
@Widcket

Is there a way to at least configure the message to say "sign-out" instead of "sign-in"?

[2020-05-11 09:19] lhuria94 commented on #294
Thanks @Widcket

Add the `prompt: login` worked for me. But I see later it can come back to us in case of SSO functionality since we are not clearing the session and making the user to force login again.

Showing "sign-out" would really help us here.

[2020-05-11 09:21] lhuria94 commented on #297
Thanks, that helps. We will check whats the problem on our side.

[2020-05-11 12:15] paulosborne commented on #294
@Widcket

Are you able to provide any clue how far down the backlog this is?

[2020-05-11 17:40] Widcket commented on #294
Hi @paulosborne, unfortunately it's not possible to modify the popup message in any way. Last week we've implemented the ephemeral session option [for Auth0.swift](https://github.com/auth0/Auth0.swift/pull/388), but I can't provide an ETA for this SDK.

[2020-05-12 08:41] paulosborne commented on #294
Thanks for the reply @Widcket

Will ephemeral sessions remove the sign-out prompt the user when they are logging out?

[2020-05-12 14:14] Widcket commented on #294
@paulosborne yes, and for the log in prompt as well. The behavior you get on iOS 13+ is similar to using `prompt: "login"` but without SSO, because it won't place a cookie in the system browser's shared cookie jar. Like using a browser in incognito mode.

[2020-05-13 08:00] theocikos commented on #232
Any updates? Has any of you managed to solve this issue?

[2020-05-13 08:35] paulosborne commented on #294
Excellent :)

[2020-05-13 10:20] theocikos commented on #232
Any updates? Has any of you managed to solve this issue? @ArronJLinton

[2020-05-13 21:54] lbalmaceda commented on #232
👋 apologies for missing this issue. Is it still happening with the last SDK version?

[2020-05-14 07:50] theocikos commented on #232
Yes i am using the latest version and React Native - "0.59.10"

[2020-05-14 17:35] lbalmaceda commented on #232
The output isn't helpful at all. If you re-run it with the flags suggested in the image, do you get anything we can use to debug?

[2020-05-15 13:32] theocikos commented on #232
![Screenshot 2020-05-15 at 4 26 29 PM](https://user-images.githubusercontent.com/49213748/82055679-87d99d00-96c9-11ea-89a4-b65faf140adb.png)

This are the errors i get.

[2020-05-15 15:49] lbalmaceda commented on #232
That's better!! Thanks.

The react-native-auth0 SDK version you are using (1.5.0) still makes use of the support libraries to pull the Chrome Custom Tabs dependency. See [here](https://github.com/auth0/react-native-auth0/blob/v1/android/build.gradle#L41).
The class name imported on the error shown above does exist and is correct. But for some reason, this Chrome Custom Tabs package didn't get inst

[2020-05-19 02:16] Widcket commented on #294
@paulosborne the changes are up on the branch `feature/ephemeral-session-support`. Can you please try them out? You'll need to pass the `ephemeralSession` option, like this:
[code]

[2020-05-19 07:04] paulosborne commented on #294
@Widcket I checked out the branch and gave it a try and the login prompt no longer appeared - nice work. It does still appears on logout but i'm assuming this branch is a work-in-progress?

Looks like SSO has been disabled successfully as I was required to re-validate my google account every time I logged in.

Thanks again :)

[2020-05-19 20:03] Widcket commented on #294
@paulosborne the thing is, you don't really need it for logout. There's no cookie to clear, so to perform 'logout' just remove the tokens from your app.

[2020-05-19 20:14] paulosborne commented on #294
@Widcket

Good to know, thanks for your help 😊

[2020-05-21 09:18] conorcussell opened #306 "Support .useLegacyAuthentication"
### Describe the problem you'd like to have solved

When authenticating a popup is displayed saying "APP wants to use DOMAIN to sign in" which the user must accept. This is confusing for our users because we have a single Auth0 domain but many apps with different names, as a result the user may not recognise the url we are authenticating them on as being related to the app they are using.

![Frame

[2020-05-21 12:20] Widcket commented on #306
Hi @conorcussell, this is in progress right now. Check out https://github.com/auth0/react-native-auth0/pull/305

[2020-05-21 12:20] #306 closed

[2020-05-21 19:43] higgins opened #307 "Auth module response handler expects `.json` keys presence when it is not returned in successful request"
### Description
Auth module response handler expects `.json` key that does not exist on status 200 response.

### Reproduction
[code]
see the following error
[code]

Inspecting what `src/auth/index.js#responseHandler` receives, we see no `.json` key present, hence the throw.
```{status: 200, ok: true, headers: REDACTED, text: "OK"}```

### Environment
react-native-auth0: `2.3.1`
iOS: `11.0`
react-

[2020-05-21 20:50] lbalmaceda commented on #307
Can you describe the steps you follow to log in? i.e. "launch web auth, click on twitter connection, type my credentials, the browser closes and my app shows this error"

[2020-05-21 21:06] higgins commented on #307
1. Launch web auth
2. We are presented with email, password form
3. Enter valid credentials
4. Tap "log in"
5. The form submits credentials
6. The response includes keys  [`status`, `ok`, `headers`, `text`] but no `json`
7. The view/modal the web form is in disappears (slide-down)
8. We catch the error and throw invariant displayed in

The Auth0 dashboard shows a successful login (under the user's

[2020-05-21 21:25] lbalmaceda commented on #307
Thanks for that.
Actually, there's a PR we recently merged that changed how we handle the responses (#285). Could you please try If this still happens with the version immediately prior to that? That would be `2.3.0`. See if you are able to log in or if you get a different error message.

[2020-05-21 21:48] higgins commented on #307
hmmm, we rebuilt on `2.3.0` and see the same error

[2020-05-22 19:17] #294 closed

[2020-05-26 12:20] Widcket commented on #295
Closing due to inactivity.

[2020-05-26 12:20] #295 closed

[2020-05-27 23:15] lbalmaceda commented on #307
@higgins I've tried to reproduce this following the steps you shared above and I did not run into any issues. Neither with iOS nor Android, using version 2.3.1. Please, check your lock file and be sure the version you're using is the latest. If not, you'll have to share with us more details like logging the network requests to understand what URLs are being called and what the server is responding

[2020-05-29 16:51] abba-logico-srl opened #308 "webauth authorize popup, older ios device"
Using authorize method the popup is opened in the browser. Everything is working well on all the device i tried, BUT with iPhone 8 the two buttons (cancel/confirm) are not responsive. I mean that I cannot tap on them, they look enabled but no reaction to the event.

Putting the app on background and bringing it back again enables the buttons and then I can tap on them correctly.
Even simply rotati

[2020-05-29 18:57] lbalmaceda commented on #308
👋 Do you refer to this dialog?
https://user-images.githubusercontent.com/2624187/56327098-d0c9c580-6146-11e9-9e32-4d03184d2fb2.png

Also, I noticed you're a few versions behind the latest `2.3.1`. Can you check if the issue is still present in the latest version?

[2020-05-29 20:56] higgins commented on #307
@lbalmaceda thank you for your patience and trying to reproduce! yes, we are using version 2.3.1 (confirmed with lock file and installed node_module).

independently, we decided to move back to our earlier integration with the auth0 rest endpoints

thank you again for your research here!

[2020-05-29 21:59] lbalmaceda commented on #307
@higgins I'm sorry you had to make that regression. It would be nice if you could provide us with any additional context that can help us debug this even further. You already shared the code snippet and the versions you were using. What about the networking logs? Stripping any sensitive data that could be included.

@Widcket can you come up with anything that can go wrong in this iOS setup?

[2020-05-29 23:27] higgins commented on #307
without setting up a network proxy (safari simulator bridge won't let you persist network requests as far as i can tell), here's what we see from tracing via `console.log`:

1. We show the password form here: https://github.com/auth0/react-native-auth0/blob/master/src/webauth/index.js#L74
2. Receive a valid redirectUrl as per this condition: https://github.com/auth0/react-native-auth0/blob/master/

[2020-06-01 03:10] laxman-ram-iconnect opened #309 "user-is-not-authorized-to-the-audience-for-those-scopes"
Hi I want to update the user metadata and read it, I do login using passwordless(SMS, email) and using this plugin.

when I try to submit I am getting an error: `user-is-not-authorized-to-the-audience-for-those-scopes` .

auth0.auth
        .loginWithSMS({
          phoneNumber: mobile,
          code: otp,
          scope:
            'read:current_user update:users update:users_app_metadata upda

[2020-06-01 04:15] laxman-ram-iconnect commented on #309
resolved it, remove audience part and it worked.

[2020-06-01 04:15] #309 closed

[2020-06-01 23:40] lbalmaceda commented on #307
Do you mean that it works fine with a different Auth0 `client_id` / `domain`? That would make a lot of sense. It could be a configuration issue on the application (auth0 dashboard). I'll wait to hear from you if that's the case to help you out.

[2020-06-01 23:51] lbalmaceda commented on #309
👋 Hi, @laxman-ram-iconnect I'm glad you were able to resolve the issue yourself.

The `audience` value is used when you need an access token that works for calling a specific API. The value you are passing above is for calling the Auth0 Management API2.

The error you see is because Native clients such as a mobile app should NOT request a token with the scopes you added above. If you get a token l

[2020-06-02 00:29] Johnsgaard commented on #281
I am having this issue now. Using the new universal login and its getting rejected over and over again. Is there any way around this without having to create a custom login with Classic? @Widcket @Ingibjorg

[2020-06-02 03:57] Johnsgaard opened #310 "iOS App rejected "Sign in with Apple" button not styled correctly"
### Description

My app was rejected by the Apple store based on the button styling / design of the Auth0 buttons in the Universal login.

My app at the time of rejection was using the Classic with v 11.24.1 lock.js package & It was also rejected using the New Universal universal login form.

Here is the message from Apple:

[code]

Link given in the apple review:
https://developer.apple.com/desig

[2020-06-02 08:05] cocojoe commented on #281
@Johnsgaard there shouldn't be an issue with new universal login, can you reach out to our support team please who can help further with this. If you have feedback from Apple please include the details. Thanks

https://support.auth0.com/

[2020-06-02 08:07] cocojoe commented on #281
I see you opened #310 as well, which does include more detail. I will raise internally. However, if you can raise a support ticket that would help. Thanks

[2020-06-02 12:13] aaguiarz commented on #310
Hi @Johnsgaard

One customer had a similar experience, and they pointed the Apple reviewer to this link https://developer.apple.com/design/human-interface-guidelines/sign-in-with-apple/overview/buttons/, specifically the "White with Outline" and "Creating a Custom Sign in with Apple Button", and they got it approved. The button complies with those rules.

Please let us know how that goes.

Thanks!

[2020-06-02 12:34] abolfazlyounesi opened #311 "is checkSession method supported?"

[2020-06-02 18:47] lbalmaceda commented on #311
👋 Check session is not available. The SDK only performs the authorization code flow + PKCE. You'd typically keep the access token safely stored and use it while it's valid (e.g. not expired). If it expires, you can request a new one if you have around the refresh token.

Related to https://github.com/auth0/react-native-auth0/issues/296

[2020-06-02 20:20] Johnsgaard commented on #310
@aaguiarz @cocojoe
I just got off the phone with Apple review and they have mentioned that the reason the rejection is happening is because of the grey border around the buttons. They say the app will not be accepted unless the grey border is changed too black.

[2020-06-03 13:50] Johnsgaard commented on #310
<img width="1099" alt="Screen Shot 2020-06-03 at 7 50 34 AM" src="https://user-images.githubusercontent.com/11530155/83644839-f4c8b000-a56e-11ea-8619-1ca73991ad8a.png">

[2020-06-03 16:51] Widcket commented on #310
Closing as the customer got their app approved, as per https://github.com/auth0/lock/issues/1877/

[2020-06-03 16:51] #310 closed

[2020-06-03 16:53] Widcket commented on #311
Going to close this issue, if you have any further inquiries please leave a comment.

[2020-06-03 16:53] #311 closed

[2020-06-05 15:50] conorcussell opened #312 "when is the next release (sorry)"
Sorry to make an issue about this but we're relying on this https://github.com/auth0/react-native-auth0/pull/305 to be released in order to start hiding that popup in our app, when is the next release scheduled for?

[2020-06-05 16:32] lbalmaceda commented on #312
@conorcussell I'm having some trouble bumping the dependencies before making this next release (#313). If this doesn't get shipped today it will ship the next week.

[2020-06-05 16:34] conorcussell commented on #312
Brilliant, thanks!

[2020-06-05 16:34] #312 closed

[2020-06-05 16:56] lbalmaceda commented on #312
@conorcussell 2.4.0 was just published

[2020-06-08 01:30] DarioVaccaro commented on #245
@bunea I was having the same issue, enabling this setting in the API on the Auth0 Dashboard fixed it.

https://github.com/auth0/react-native-auth0/issues/279#issuecomment-586506570

As well as setting the `Rotating Token Behavior` under the `Application Tokens` in my Application Settings

[2020-06-08 14:53] igorlimansky commented on #207
Having this issue on 2.4.0, any possible fix?
@peterholcomb did you figure it out by chance?

[2020-06-08 18:17] higgins commented on #307
Sorry for the delay @lbalmaceda ( i was out last week )

No, we weren't able to reproduce for different user+password (with the same `client_id` and `domain`).

[2020-06-08 19:13] lbalmaceda commented on #307
I'm still a bit confused. The developer on your team has tested this using the same code with the same `client_id` and `domain` as you but using a different username + password, and they are being able to log in and you are not. Did I get that right?

If so, it would be really helpful to see those network logs (e.g. https://github.com/jhen0409/react-native-debugger). Or knowing for example if the

[2020-06-08 23:32] lbalmaceda commented on #130
@leemcmullen I've opened a PR to try to improve this. Let me know what you think about it.

[2020-06-09 19:33] higgins commented on #307
correct.

it'll be a while till we can give the network logs as we're midway through a big upgrade and we've already removed this dependency. FWIW, the `react-native-debugger` network logs were not informative as the login flow redirects us to a webview (where the auth0 response is captured) before directing back to the app. Safari does allow a bridge mode to inspect the requests of a simulated de

[2020-06-18 16:13] wincod75 opened #318 "auth0.auth.passwordlessWithSMS is not a function"
Attempting to setup auth0 passwordless in my RN app, currently getting the error "auth0.auth.passwordlessWithSMS is not a function". Any advice is appreciated.

**Environment**
"react": "16.8.3",
"react-native": "0.59.10",
"react-native-auth0": "1.6.0"

**Code**
import Auth0 from 'react-native-auth0';

const auth0 = new Auth0({
  domain: 'MY_DOMAIN', (placeholder for security)
  clientId: 'MY_ID',

[2020-06-18 19:05] Widcket commented on #318
Hi @wincod75, I just tried `passwordlessWithSMS` in the [sample app](https://github.com/auth0-samples/auth0-react-native-sample) and was not able to reproduce the issue. Will close this one, if you have any further information please comment.

[2020-06-18 19:05] #318 closed

[2020-06-18 19:39] lbalmaceda commented on #318
I see you are using an old version of this library. Passwordless support was added back in `2.2.0`. If you were following the steps on a tutorial we maintain, let us know the URL so we can update it.

For resolving this try bumping the dependency to the latest version and if you need a solid reference, check the sample app Rita provided above.

[2020-06-18 20:00] wincod75 commented on #318
@lbalmaceda You nailed it, upgraded to 2.2.0 and it's working like charm, thank you!

[2020-06-20 14:54] lhuria94 commented on #311
Hi, I have a similar use case, where we want to SSO from web to mobile.
So, internally whenever the mobile app opens, we want to check if the session exists then trigger login.

Is it possible.

[2020-06-22 23:21] lbalmaceda commented on #311
@lhuria94 As mentioned before, this is not supported by the SDK. You can either use refresh tokens or launch the `/authorize` page for a new login. If the SSO session is still valid, your app should open right away (I haven't tested). Note on this second approach there's no way to avoid the browser from showing. And it's likely that the redirect gets blocked by the browser app because there's no "

[2020-06-29 06:52] lhuria94 opened #319 "Mobile SSO with SAML clients"
Hi, We are trying the following flow with mobile app idp login:

1. User opens the mobile application (React native)
2. Click on “Login to continue”
3. Auth0 Custom Template loads on the page with just one option i.e Email/User ID and a button called “Next”.
4. After User enters email e.g. abc@domain.com
5. Keep configuration in mobile app i.e domain to connection name linking
6. Use a existing SA

[2020-06-29 20:58] lbalmaceda commented on #319
👋 I've followed the steps 1-8 to what I think it's a regular authentication flow, with SSO on top of that provided by the custom page script you're using. What I don't understand is what's the problem you're facing in step 9. You seem to be receiving a callback in your application after the user has logged in into the IDP.

Can you clarify what is your expectation? and what parameters you receive

[2020-06-29 20:59] lbalmaceda commented on #308
Closing due to inactivity.

[2020-06-29 20:59] #308 closed

[2020-07-13 03:18] aliahsan07 commented on #222
So this doesn't work on expo? Wish I knew earlier

[2020-07-19 11:22] selimbenmrad opened #321 "on ios, safari cannot open page because the adress is invalid."
So, linking, the callback addresses, pod install, and all the rest work great, as the app used to compile and run smoothly.

After starting to implement react-redux, I have started having the following error message: Safari cannot open the page because the address is invalid.

Note that the code works perfectly on android.

here is the code

` import React, { Component } from 'react';
import {

[2020-07-20 20:17] immackay opened #322 "Gradle build is broken when using detox"
I agree to the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Description

Using [detox](https://github.com/wix/Detox) on android with react-native-auth0 breaks the gradle build.

### Reproduction

- Install detox and [setup android](https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md)
- Install react-native-auth0 and c

[2020-07-22 08:33] lhuria94 opened #324 "Federated flag does not work as expected"
Hi, We have a mobile application in which we are using Identity first log in (Multiple connections): https://auth0.com/docs/libraries/lock/v11/selecting-the-connection-for-multiple-logins.

In this, we have provided an ability to user to enter his/her email and redirect to IDP based on connection to domain mapping in Auth0.

This works fine.

During logout, we are trying to use this {federated: tr

[2020-07-22 20:40] lbalmaceda commented on #324
The behavior of the federated flag is up to each identity provider, I'm not sure the auth0 server can do anything here.

You blurred the screenshot so it's not really useful. Where is that page from, where are you seeing that?

[2020-07-25 01:10] bneigher opened #325 "Google Social Signon not working after new auth mechanism [SDK-1948]"
Potentially critical (?) external service change

### Description
Looks like google social signon no longer does 6 digit codes by default, instead does an email with a confirm it was me button.  This has broken my RN app, as each time I return from my Gmail app on my phone back to my RN app to proceed after "confirming it was me" it fails (see screenshot)

### Reproduction

Simply try to authentic

[2020-07-25 01:13] bneigher commented on #325
Ref: https://9to5google.com/2020/06/17/google-prompt-any-eligible-phone/
This change has been since July 7, 2020, so I'm hoping someone can confirm if this is an issue with my config or with the environment / this sdk

[2020-07-25 12:12] lbalmaceda commented on #325
👋  @bneigher Thanks for raising this. What would be helpful is a video or gif of the issue. Also, if you've received any suspicious logs on the Auth0 dashboard that can point to a redirect error or similar.

I'm thinking that maybe Google expects the link sent to your email to be opened in the same window that initiated that flow. But we'd have to check.

I'll share this with my team to monitor th

[2020-07-27 13:57] lbalmaceda commented on #319
@lhuria94 are you still having this issue?

[2020-07-27 14:07] lhuria94 commented on #319
Really sorry for the late response. It works fine now.

[2020-07-27 14:07] #319 closed

[2020-07-27 16:21] #322 closed

[2020-07-27 23:55] fedefrei opened #326 "React Native 0.63.2 - Autolinking not working (Android)"
### Description
After doing yarn add / install of the library when I launched the app I started to get a Missing NativeModule error. After looking at my android project I see that there is no trace of the autolinking there. I've added the thing manually and now its going as expected.

### Reproduction
Was following this code:
https://github.com/auth0-samples/auth0-react-native-sample/tree/Embedded

[2020-07-28 00:15] lbalmaceda commented on #326
I'm afraid the sample you referenced hasn't been updated since 2017. Though you could follow a similar approach with the current version and a bootstrapped app, you would want to use web auth over embedded flows. Is there a specific reason you chose it over the [webauth sample](https://github.com/auth0-samples/auth0-react-native-sample/)?

[2020-07-28 00:19] fedefrei commented on #326
I just referenced the guid as a starting point. But I'm almost sure that it doesn't have anything to do with it. The gradles/java files should have been updated right?

On the other hand, I should check the webauth sample, I followed this one bc it seemed more "native" at first.

[2020-07-28 13:03] lbalmaceda commented on #326
@fedefrei It's true that using web auth includes delegating the authentication to a login page in the browser app, there's no escape from that. But it also has security advantages over the embedded version. Check the comparison [here](https://auth0.com/docs/guides/login/universal-vs-embedded).

The thing with react-native apps is that every new minor release of react-native contains breaking chang

[2020-07-29 12:47] gabrielperales opened #327 "I can't set a scope when I'm using Password Grant `passwordRealm`"
### Description

I'm trying to update my user metadata, and in order to do that I need to login with the scope `update:current_user_metadata` but when I login with that scope it's not being set.

### Reproduction

[code]

### Environment

- **Version of this library used:** 2.5.0
- **Version of the platform or framework used, if applicable:** React Native 0.61.5

[2020-07-29 14:43] gabrielperales commented on #327
Ok, I have tried to change the scope using this rule:

[code]

And it seems to work, but when I try to update the user metadata it returns an error: `Bad HTTP authentication header format`.

This is the code I'm using to update my user:

[code]

[2020-07-29 22:14] lbalmaceda commented on #327
You shouldn't need to use any Auth0 rule to grant scopes. The issue is that the *current_user scopes belong to the Auth0 Management API and the access token you've requested does not have that audience. The audience value basically tells where the token should be used in.

Try the snippet you shared originally but adding the `audience` for the API. It should be `https://YOUR_DOMAIN/api/v2/` (repla

[2020-07-30 02:26] Widcket commented on #321
Hi @selimbenmrad, have you set up the Custom Scheme so the app can handle the callback?

[2020-07-31 10:03] gabrielperales commented on #327
It didn't work.

When I created the auth0 instance I was already setting the domain:

[code]

So this is my code after making the changes your suggest:

[code]

And when I try to login I'm getting this error message: `invalid audience specified for password grant exchange`.

[2020-07-31 13:50] lbalmaceda commented on #327
@gabriel-miranda your code is missing the trailing slash. It should be `https://YOUR_DOMAIN/api/v2/` (replacing your domain).
I'd console log that value just in case to check the template replacement is outputting the right domain.

[2020-07-31 14:49] gabrielperales commented on #327
@lbalmaceda I would have said I did it and it was not working either... but I just tried again and it worked.

Thank you very much :)

[2020-07-31 14:49] #327 closed

[2020-08-09 05:07] heysailor opened #328 "Refresh Token Rotation"
### Describe the problem you'd like to have solved

Thanks for [Refresh Token Rotation](https://auth0.com/docs/tokens/concepts/refresh-token-rotation) - it would be great to see it automatically handled in this library as in the React library.

### Describe the ideal solution

Ideally, once the user is authorised, this library would maintain access token validity with silent refresh token rotation

[2020-08-11 19:22] lbalmaceda commented on #328
It's a good feature addition, but I'm not sure what's the best way to securely store the tokens locally on this framework.

Once that's decided, the solution would take into account the `expires_in` value received in the credentials exchange response, which belongs to the access token, and the decoded ID token's `exp` claim, analogous but for the ID token, and consider both values to determine whe

[2020-08-12 10:39] Ekaterina-Krovyakova commented on #322
Hi there !

I have faced with the same issue

AGPBI: {"kind":"error","text":"Static interface methods are only supported starting with Android N (--min-api 24): androidx.browser.trusted.TrustedWebActivityDisplayMode androidx.browser.trusted.TrustedWebActivityDisplayMode.fromBundle(android.os.Bundle)","sources":[{}],"tool":"D8"
FAILURE: Build failed with an exception.

* What went wrong:
Execution

[2020-08-12 13:57] lbalmaceda commented on #322
@Ekaterina-Krovyakova the change that apparently fixed this was released this morning. Check version 2.6.0 and if you still have issues, we can re-open this. I don't have a detox project set up to manually test this, unfortunately.

[2020-08-12 19:13] immackay commented on #322
Can confirm that this is fixed in the latest version.

[2020-08-20 16:09] alexbrazier opened #331 "Dismissing the auth modal on iOS by dragging causes app to hang"
### Description

On iOS 13 and above the authentication window opens a modal when calling `webAuth.authorize` - see image below:

<img width="394" alt="image" src="https://user-images.githubusercontent.com/5689874/90795296-c785d580-e305-11ea-8ad5-76835891372b.png">

It's possible to drag the window from the top to dismiss it. When the user does this we get stuck "awaiting" the `authorize` command

[2020-08-21 07:43] DomVinyard commented on #222
Yes, me also. Does anybody have a recommended approach for Expo+social login?

[2020-08-26 14:16] Widcket commented on #324
Closing due to inactivity.

[2020-08-26 14:16] #324 closed

[2020-08-26 17:40] Widcket commented on #331
Hi @alexbrazier I was not able to reproduce it with the [sample app](https://github.com/auth0-samples/auth0-react-native-sample) (on an iPhone 11 Pro):

![RPReplay_Final1598463274](https://user-images.githubusercontent.com/5055789/91337573-f2f73d00-e7a9-11ea-8f47-fa8d78b8fb3e.gif)

Can you please record a video showing the issue?

[2020-08-27 11:28] alexbrazier commented on #331
Thanks for looking into it @Widcket, I've just tested the sample app on my iPhone 8 and it seems to be working as expected there. I'll see if I can work out what the other differences are, or if it is fixed in the latest version.

[2020-08-27 12:01] alexbrazier commented on #331
I've worked out it's an issue with `ephemeralSession: true`, I tried updating to the latest version and that didn't fix the issue either.

I've created a branch with the changes required to cause this error https://github.com/auth0-samples/auth0-react-native-sample/compare/master...alexbrazier:login-error-demo

See the recording below:

![RPReplay-Final1598528508](https://user-images.githubusercon

[2020-08-28 20:17] Widcket commented on #331
@alexbrazier indeed that only happens with `ephemeralSession: true`. I've been able to reproduce it on a barebones Swift app without the SDK, using only `ASWebAuthenticationSession`:

[code]

So it looks like a bug on Apple's side. We'll file a bug report with them, and advise you to do the same. The more people report it, the better.

[2020-09-01 04:27] jmz527 opened #333 "Include "ephemeralSession" option support to "clearSession" method"
### Description

I am receiving an "allow this app to share..." permissions dialog when using the `clearSession` method during my app's logout flow, and I would prefer the popup not to appear.

This issue has been raised before #294. In that thread it was suggested, at some point, to not bother with 'logout' and to "just remove the tokens from the app." That's fine for most apps. However, in my pa

[2020-09-01 14:11] lbalmaceda commented on #333
@jmz527 thanks for raising this. Sounds like an easy fix, provided we document the option only affects iOS. @Widcket can you think of any reason to keep the value hardcoded to false?

[2020-09-01 14:17] Widcket commented on #333
Hi @jmz527, when you're using `{ ephemeralSession: true }` there's no need to call `clearSession` because there's no cookie to remove. It's like using a browser in incognito mode.

[2020-09-01 14:27] Widcket commented on #321
Closing due to inactivity.

[2020-09-01 14:27] #321 closed

[2020-09-01 14:28] Widcket commented on #326
Closing due to inactivity.

[2020-09-01 14:28] #326 closed

[2020-09-01 14:29] Widcket commented on #331
We'll keep this issue open and pinned for future reference.

[2020-09-01 14:42] jmz527 commented on #333
@Widcket that's exactly what you said in #294. Yes, I understand there's no cookie to remove. As I said, I still need to use `clearSession`.

Also, I just tested, and I'm receiving this undesired popup on calling `clearSession` regardless of whether I use `{ ephemeralSession: true }` in the initial `auth0.webAuth.authorize` method or not. So what about that use case?

[2020-09-01 14:55] Widcket commented on #333
@jmz527 can you please share more details about your use case? Why do you still need to call `clearSession`?

[2020-09-01 15:17] jmz527 commented on #333
@Widcket We're only using auth0 for the initial authentication but not continued session handling. So once the user triggers a new login, auth0 doesn't prompt for re-authenticating, it just uses the previous state to re-authenticate.

Our desired result is for our users, to logout without being prompted by this popup, and then when returning to login again, to be prompted to re-authenticate using

[2020-09-01 15:46] Widcket commented on #333
@jmz527 you can add `prompt: 'login'` to the `authorize` call parameters to [force a new login prompt](https://github.com/auth0/react-native-auth0/issues/294#issuecomment-615523894):
[code]

[2020-09-01 15:48] jmz527 commented on #333
@Widcket yes, I know. I've tested that out before. It still doesn't solve the issue with the popup on logout.

[2020-09-01 16:13] Widcket commented on #333
@jmz527 sorry, I'm not following. As I understand, you need to call `clearSession` to get a new login prompt the next time you call `authorize`, but you can achieve that with `prompt: 'login'`. Is there any additional reason for you to call `clearSession`?

[2020-09-01 17:09] jmz527 commented on #333
@Widcket No, no, the purpose of calling `clearSession` is not to get a new login prompt. You're missing several steps. The purpose is to have our app call the `/logout` endpoint on our auth0 domain clearing the session server-side.

As I understand it, there is the _Application Session Layer_, the _Auth0 Session Layer_, and the _Identity Provider Session Layer_....hold on, I'm going to get our bac

[2020-09-01 17:48] JensAstrup commented on #333
Aforementioned backend engineer here 👋  👨‍💻

As far as I'm aware, `prompt: 'login'` is an option - although it just feels a bit weird to me to rely on the query params to force re-authentication rather than invalidating the session via `/logout`, but that's from my web-centric mindset where people have an easier way to modify the request values. Technically speaking, either route is an option - al

[2020-09-10 15:20] Widcket commented on #325
Closing due to inactivity.

[2020-09-15 19:04] jmz527 commented on #333
Hey @Widcket, just checking in. Any updates on this?

[2020-09-15 22:13] lbalmaceda commented on #333
@jmz527 @JensAstrup I haven't tested this myself, but I'm not sure if there's a server-side session being created. Otherwise, if you try to authenticate from a different browser than the one you've logged in previously, it should go through instantly, right? And that's not the case last time I checked. Steps to try this:
- Use "browser app A" to authenticate. The cookie is set for that browsing se

[2020-09-17 02:26] Widcket commented on #331
@alexbrazier this is now fixed on iOS 14.

[2020-09-17 02:26] #331 closed

[2020-10-08 17:06] lambdalisue commented on #62
@paulfalgout

Thanks for your comment. Without your hint, I could not found the reason for that. In my case, `token_endpoint_auth_method` attribute was missed when the client has created through the management API. Appling that attribute through the management API solved the issue.

See
https://community.auth0.com/t/failed-exchange-feacft-until-the-client-is-saved-through-auth0-dashboard-manually/

[2020-10-16 15:33] marknelissen opened #335 "Add support for react-native-windows"
### Describe the problem you'd like to have solved

The current version of react-native-auth0 only supports the default environments of iOS and Android. However, React Native can also be used to produce Windows (UWP) apps, through the use of react-native-windows. Although not part of the base product of React Native, it has become a mature implementation.

### Describe the ideal solution

Ideally,

[2020-10-20 15:23] AlejandroCamposPhinx opened #336 "Android: putting the app on background and tapping app's launch icon closes authentication webview"
### Description

On android:
 1. Calling client.webAuth.authorize pops a webview/embedded browser.
 2. Putting the app on background and refocusing it keeps the webview/embedded browser open with same state.
 3. Putting the app on background and tapping the app's icon will bring the app from background but will cancel the webview/embedded browser. <- This is the issue

This issue is highly critica

[2020-10-22 01:22] aprilmintacpineda opened #337 "multi factor authentication, mfa_required"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-10-22 20:27] Widcket commented on #337
Hi @aprilmintacpineda, do you have MFA enabled on your Auth0 tenant?

[2020-10-22 22:24] aprilmintacpineda commented on #337
@Widcket yes I have, it's set to ALWAYS and the "Phone Message" is on.

I also have checked the mfa on grant types.

![image](https://user-images.githubusercontent.com/21032419/96936109-07c92600-14f8-11eb-96ef-1bc452c81bbb.png)

Which is the intention because I want to use the MFA.

[2020-10-22 23:54] Widcket commented on #333
Here's a video showcasing the difference:

![RocketSim Recording - iPhone 11 - 2020-10-22 20 43 25](https://user-images.githubusercontent.com/5055789/96941366-9ca43300-14a8-11eb-8dff-262715e7cb80.gif)

Will close this one, if you need further guidance please ping.

[2020-10-22 23:54] #333 closed

[2020-10-23 00:07] Widcket commented on #337
@aprilmintacpineda in that case you need to check if the user has an MFA factor enrolled or not. Please follow the steps on the "Authenticate Using the Resource Owner Password Flow with MFA" guide from [this point](https://auth0.com/docs/mfa/authenticate-with-ropg-and-mfa#retrieve-enrolled-authenticators) onwards.

[2020-10-23 00:13] aprilmintacpineda commented on #337
I will follow that and come back to you with a response. Thank you!

[2020-10-23 00:20] aprilmintacpineda commented on #337
@Widcket aren't there functions in this library that I can call to do these requests instead of using fetch or something similar?

[2020-10-23 00:48] Widcket commented on #337
I'm afraid this SDK does not provide methods to interact with the MFA API.

[2020-10-23 00:53] aprilmintacpineda commented on #337
Okay then, I'll look into this and come back with a response, also to help others who will encounter this.

[2020-10-23 02:12] aprilmintacpineda commented on #337
@Widcket based on what I have read so far, MFA requires server to server, is that right?

[2020-10-23 21:28] Widcket commented on #337
Sorry, I'm not following. What do you mean?

[2020-10-25 04:35] aprilmintacpineda commented on #337
@Widcket I mean, I need to do it on the server-side, because the examples on the link you gave client secret which suggests that I should do it on the server-side, is that correct?

[2020-10-31 07:28] bandrews commented on #335
I have a need for this feature, too;  Windows is actually the primary target for the react-native app I'm working on, and iOS and Android are secondary...

[2020-11-02 14:33] ar-g opened #340 "android.content.ActivityNotFoundException: No Activity found to handle Intent"
We're getting quite a few exceptions on the Android side. I believe that the main cause is that we need to handle a case when the Browser app is not available on a specific Android device. So the solution would be to wrap [this](https://github.com/auth0/react-native-auth0/blob/d6be771267b750058fdd039db7da1ae9b8c73da0/android/src/main/java/com/auth0/react/A0Auth0Module.java#L53) into the try-catch

[2020-11-02 21:18] lbalmaceda commented on #340
@ar-g I don't think this exception is for the SDK to handle. In the end, the custom tabs dependency will always fallback to a simple `ACTION_VIEW` intent passing the URL you want to open as data. You could query the package manager for activies that can resolve that action in advance, before launching the web auth. I find hard to believe that nowadays there are still devices without a single brows

[2020-11-03 16:24] ar-g commented on #340
👍 That's a fair point, we can do this on the client-side. But since the library fires an intent I thought that would be more appropriate to do it on the library side.

Regarding nowadays devices, we have the Stacktrace:

[code]

It only happens on limited set of devices, though, and only Android 9 and 7.1:
LG V35 ThinQ - 25.0%
Nitro_5P - 25.0%
Nokia 2 - 12.5%
Others - 37.5%

[2020-11-10 10:46] nlindroos commented on #336
To bypass this issue, a potential solution is to use
[code]
in _AndroidManifest.xml_. This might cause some other unwanted effects so be sure to test the app thoroughly.

[2020-11-12 17:09] blarzHernandez commented on #294
It worked if  we set both properties: prompt and ephemeralSession as following
[code]

[2020-11-14 11:15] heysailor commented on #328
The React Native docs [have a great discussion of storing secret info here](https://reactnative.dev/docs/security) - see the Secure Storage section about using the iOS Keychain and android services to store tokens.

In particular, they reference the npm module [react-native-sensitive-info](https://github.com/mCodex/react-native-sensitive-info).

The main gotcha, including with that module, appears

[2020-11-19 04:22] Widcket commented on #337
@aprilmintacpineda were you able to implement the MFA flow?

[2020-11-19 04:41] aprilmintacpineda commented on #337
@Widcket No, not yet, I'm still a bit confused if it should be on the backend or not.

[2020-11-19 11:23] xanderberkein opened #342 "Google will discontinue support for sign-ins to Google accounts from embedded browser frameworks"
### Describe the problem

Recently I got an email from Google informing me they will discontinue support for sign-ins to Google accounts from embedded browser frameworks. They detected the use of an embedded browser framework on the OAuth client we are using for our auth0-Google login in our react-native app.

Here is a full blog post on Googles blog: https://developers.googleblog.com/2020/08/guid

[2020-11-20 15:38] cocojoe commented on #342
The library default to the system browser so there should be no issue. Can you ask for some more feedback also are you using an embedded browser for anything else? Thx

@lbalmaceda can you do a test on this please when possible. Thx

[2020-11-20 17:59] lbalmaceda commented on #342
I didn't receive that communication, and if this SDK was the case, I'd have expected to receive that. Perhaps this comes from another app you own or have signed in using that developer email? Can you please also clarify the platform you have logged in with, was that iOS or Android?

As Martin mentioned, we delegate the authentication to the browser application. In the case of android, that happens

[2020-11-20 22:47] Widcket commented on #337
@aprilmintacpineda according to the Authentication API docs, the client secret it's only required for regular web applications. To implement a mobile MFA flow, you can take a look at how the [Guardian for iOS library](https://github.com/auth0/Guardian.swift) does it.

[2020-11-22 19:01] RipTheJacker opened #343 "Documentation and Sample app difference"
The documentation for iOS has this, which XCode generates a warning for "Implementing deprecated method":

[code]

But the sample app has
[code]

Can you update them to whichever way is correct?

[2020-11-24 21:59] AlejandroCamposPhinx commented on #336
The solution we went with was creating a new launcher activity that solely launches React Native's activity. We then also had to compensate for different intents (App Store/Install manager/App Icon) causing different launcher behaviours.

[2020-11-25 20:50] lr-mjaouen commented on #207
`pod 'A0Auth0', :path => '../node_modules/react-native-auth0/ios'` worked for me

[2020-11-30 07:53] SergeiVeit opened #344 "No resolve or reject on iPad after clicking on past the popup"
# Describe the problem

On iPad popup window does not close all application window
If I click on past the popup on iPad, then popup will be closed, but application will not get catch in code

### What was the expected behavior?

I want to get catch with Login Cancel error

### Reproduction

- Open popup on iPad.
- Click on past the popup

### Environment

"react-native": "0.63.3",
"react-native-au

[2020-11-30 19:55] petegivens commented on #272
The solution posted does not work. `initialScreen` is not a valid property of AuthorizeParams. Is there a way to do this? I would have thought `webAuth.authorize({ scope: AUTH0_SCOPE, prompt: 'signup' })` would work, but it doesn't.

[2020-11-30 21:28] petegivens commented on #272
For posterity's sake, the solution using the "new" Universal Hosted Login experience is
[code]

[2020-12-01 02:44] Widcket commented on #343
Hi @RipTheJacker thanks for pointing this out, we'll update the docs to use the same snippet as the sample app.

[2020-12-01 02:46] Widcket commented on #344
Hi @SergeiVeit, does this happen in iPadOS 14?

[2020-12-01 08:00] SergeiVeit commented on #344
Hi, @Widcket
Yes, I see it on iOS 14.2

[2020-12-02 18:48] himalayaahuja commented on #254
Is this correct and working ?

[2020-12-07 09:37] mrarronz commented on #340
I have same issue when using `react-native-auth0`, from the Firebase console, we can see the crashlytics data in last 90 days:
[code]
[code]
 I agree with @ar-g this should be handled on the library side, it's strange to do that on client side that you have to check whether an Android device has a browser which supports custom tab before opening an URL.

[2020-12-09 02:31] jmz527 commented on #333
Sorry for the delay in getting back to y'all. And sorry in general.

Y'all were right - we were conflating things on our side. @lbalmaceda @Widcket

[2020-12-09 09:12] #343 closed

[2020-12-13 22:18] bearcub3 commented on #222
I don't understand why Auth0 is not compatible with Expo as it is widely used between many JS developers, specifically for React Native. :-(

[2020-12-17 04:04] #325 closed

[2020-12-18 00:09] aprilmintacpineda opened #346 "access_denied when using a custom connection on auth0.webAuth.authorize"
### Describe the problem

When calling:

[code]

I get the error:

[code]

After the user has successfully signed in.

### What was the expected behavior?

The error should not be thrown.

### Reproduction

1. Call the function as indicated above.
2. Consent appears, click continue
3. Web login appears
4. Login with your username/password
5. Login success, you will be redirected back to the app
6.

[2020-12-18 20:34] TylerEikenberg opened #347 "Package does not exist/Cannot find symbol errors"
### Describe the problem
In my react native project, every time I run `gradlew build` I get tons of errors all coming from react-native-auth0.

This is a truncated read-out of the logs I see when the build fails.
[code]

### What was the expected behavior?
- My build runs fine

### Reproduction

- In `/android` directory of my react native app
- run `./gradlew build`
-  Error occurs every time

##

[2020-12-20 12:25] aprilmintacpineda commented on #346
Turns out there's just some misconfiguration on their end.

[2020-12-20 12:25] #346 closed

[2020-12-22 08:28] aprilmintacpineda opened #348 "Get meta data of currently logged in user."
### Describe the problem

I've been looking at the documentation but I can't find any information about it. Every user in the system has metadata, in that metadata are some data that I need, here's the flow:

1. User logs in (using web login, `auth0.webAuth.authorize`)
2. If login successful, get user metadata.

Here's how I'm trying to do it, based on google search results directing me to some is

[2020-12-24 09:55] odedmagger opened #349 "Malformed Access Token received in response to loginWithSMS()"
### Describe the problem

When logging in with the Passwordless SMS flow, the call to `auth::loginWithSMS()` returns a response that contains a Malformed access token.

The response seems to be a legal JSON with the expected fields (accessToken, idToken, expiresIn, etc).

**The accessToken is not a legal JWT**, but rather a string that's 32 characters longs, composed of lowercase letters, uppercas

[2020-12-27 10:08] odedmagger commented on #349
The access token was an opaque token; The fact that Passwordless login may return an opaque access token if audience is undefined was well-hidden in the documentation; Perhaps worthwhile to explicitly document this fact.

[2020-12-27 10:08] #349 closed

[2020-12-28 13:38] #337 closed

[2020-12-28 13:43] Widcket commented on #342
Closing due to inactivity.

[2020-12-28 13:43] #342 closed

[2020-12-28 13:55] Widcket commented on #344
@SergeiVeit, apologies for the late response. I was not able to click past the popup, can you please provide a video of the issue?

![Screen Recording 2020-12-28 at 10 53 12](https://user-images.githubusercontent.com/5055789/103218955-2df5b280-48fb-11eb-8338-176ec889fe18.gif)

[2020-12-28 14:01] lbalmaceda commented on #340
@mrarronz How many devices do that % represent?

Having a browser app installed is one of this library's requirements and there's nothing it can do when a browser app is missing. Yes, we can make that check internally, but you would still need to catch the error code that we raise and decide how you want to proceed. e.g. showing a dialog telling the user to install a browser app.

To be clear, thi

[2020-12-28 14:03] Widcket commented on #347
Hi @TylerEikenberg, can you reproduce this issue with the [sample app](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login)?

[2020-12-28 14:29] Widcket commented on #348
@aprilmintacpineda the ID Token (present in the credentials) should contain the same data as the `userInfo` response. You only need to decode it, as the library [already validates it](https://github.com/auth0/react-native-auth0/blob/master/src/jwt/validator.js). Does that solve your issue?

[2020-12-28 22:08] aprilmintacpineda commented on #348
@Widcket No. What I need to get is the user meta data of the user, the userInfo doesn't have that.

![image](https://user-images.githubusercontent.com/21032419/103245782-39e58100-499c-11eb-9fad-0c7829f02bb4.png)

[2021-01-04 03:42] mrarronz commented on #340
<img width="1180" alt="Screen Shot 2021-01-04 at 11 32 48 AM" src="https://user-images.githubusercontent.com/10354834/103498781-d6b68b80-4e80-11eb-8025-722cd5e2c825.png">

<img width="414" alt="Screen Shot 2021-01-04 at 11 39 39 AM" src="https://user-images.githubusercontent.com/10354834/103499010-99063280-4e81-11eb-81bc-6e7f75109b5b.png">

@lbalmaceda This is the crash reported by Firebase in las

[2021-01-04 11:00] lbalmaceda commented on #340
Thanks for the details. I've updated the labels to signal this is on our side now.

[2021-01-04 23:23] wyang36 opened #352 "Allow additional parameters for `createUser`"
### Describe the problem you'd like to have solved

We have a custom scripts that runs when a new account is created, and it requires `first_name` and `last_name`. However the `createUser` method currently only accepts `email`, `password`, `connection`, and `username`. I can make it a separate call directly to `/dbconnections/signup` endpoint but it's messy.

### Describe the ideal solution

Add t

[2021-01-07 03:18] Widcket commented on #348
@aprilmintacpineda the method `getUser` belongs to the [Management API](https://auth0.com/docs/api/management/v2#!/Users/get_users_by_id), and you need an AT for that API. Check out [this documentation](https://auth0.com/docs/microsites/manage-users/define-maintain-custom-user-data#customize-and-maintain-user-data) about the different ways to access metadata, eg. using a Rule to copy it into the I

[2021-01-12 03:42] aprilmintacpineda opened #354 "Web Auth login automatic re-login after first login."
### Describe the problem you'd like to have solved

When the user accessed the app for the first time, what I do is I display a screen on the user with a button that says login, when the user taps on that button, I call the `webAuth.authorize` like so:

[code]

When the user logs in again for the second time, we don't want to display the login screen with that login button anymore, we just want to

[2021-01-18 08:50] cybaj opened #355 "Auth0 Rule"
### Describe the problem you'd like to have solved
I want to use Auth0 with Hasura engine. So I need to use Auth0 rule services to make custom claims for Hasura engine.
As far as I know Auth0 rule processed at end of the authentication of Auth0, so I think it will be okay to use it, but I failed to get **customized claim** with the tutorial using this dependency.

My rule is below.
[code]
And retu

[2021-01-18 09:42] cybaj commented on #355
okay, I added below.
[code]

[2021-01-18 09:42] #355 closed

[2021-01-20 08:38] emzet93 commented on #333
Hey @Widcket. As far as I understood `ephemeralSession` has no affect on android so I assume there is no option for disabling SSO on Android? If so, then with `ephemeralSession` set to true I still need to call `clearSession` on logout to clear cookies on Android devices. Am I right?

[2021-01-20 10:42] Widcket commented on #333
@emzet93 yes, you still need to call `clearSession` on Android.

[2021-01-20 11:26] emzet93 commented on #333
@Widcket thanks! I couldn't find any info about that in docs and code. And what about `prompt: 'login'` param in `authorize` method. Does it prevent saving cookies in browser somehow or it just force the browser to show login screen every time?

[2021-01-20 14:59] Widcket commented on #333
@emzet93 `prompt: 'login'` as you said, it just forces the browser to show the login screen every time. It has no effect on the cookies.

[2021-01-22 19:34] Widcket commented on #344
Closing due to inactivity.

[2021-01-22 19:34] Widcket commented on #347
Closing due to inactivity.

[2021-01-22 19:34] #347 closed

[2021-01-22 19:46] Widcket commented on #354
Hi @aprilmintacpineda, you need to securely store the credentials returned on first login (including the refresh token), eg using the Keychain on iOS. Then, on app launch, you need to check the validity of the credentials by their expiration date (beware that the AT expiration timestamp may be different from the ID Token expiration timestamp; in that case, consider for this purpose the closest dat

[2021-01-23 03:38] aprilmintacpineda commented on #354
So do I need to parse the JWT tokens on the app side?

[2021-01-23 15:42] Widcket commented on #354
You need to parse the JWT on your app. The SDK already validates it.

[2021-01-25 00:34] aprilmintacpineda commented on #354
Thanks, @Widcket, do you think it's okay if I simply call `auth0.auth.refreshToken({ refreshToken })` every time?

[2021-01-26 00:12] Widcket commented on #354
You'd be rotating your refresh token unnecessarily (if you have refresh token rotation activated), and you'd be having an extra network call on every launch that could be avoided if the credentials are fresh.

[2021-01-26 00:14] Widcket commented on #348
Closing due to inactivity.

[2021-01-26 00:14] #348 closed

[2021-01-26 03:15] aprilmintacpineda commented on #354
So you're saying that I need to decode both idToken and accessToken and check if one of those has already expired?

[2021-01-28 12:03] lbalmaceda commented on #328
@heysailor Thanks for the links and apologies for the delayed response. We would like to have a common helper class that works for both iOS and Android platforms in a similar and secure way, but we are limited by the requirements constraint.

Encrypted Shared Preferences is relatively new to Android. The version of the dependency that lowers the minimum Android API version required to 21 [has been

[2021-01-29 01:34] aprilmintacpineda commented on #348
@Widcket sorry I haven't really been able to check this, I might check it out next week when the tasks are active again, but essentially what I want to achieve here is get the user's meta data when the user logs in (we are using the web login), at first I checked if it's on the tokens provided but it seems it isn't, so I wondered if there's an endpoint that I need to hit or a method that I need to

[2021-01-29 19:38] Widcket commented on #354
The AT is not necessarily a JWT, for some cases it's just an opaque string, so it's not to be decoded. The response object contains a `expiresIn` property with a timestamp. That is the AT's expiration.
Then you should decode the ID Token (which is a JWT) and check the value of the `exp` claim.
So you need to check both expiration values.

[2021-01-29 20:36] Widcket commented on #348
There are essentially 2 ways of accessing the user's metadata:

1. Make a request from your app to the [Management API](https://auth0.com/docs/users/manage-users-using-the-management-api). You'll need to request an AT for that API (by including the Management's API identifier in the audience array -> `https://YOUR_DOMAIN/api/v2/`) and include the following scope `read:current_user`.
2. Use a Rule

[2021-01-30 05:31] aprilmintacpineda commented on #354
Ahh, I see thank you for the help, that makes sense 🙇🏻

[2021-01-30 05:34] aprilmintacpineda commented on #348
Thank you very much for the help, we will try the `idToken` approach :bow:

[2021-02-03 01:43] aprilmintacpineda commented on #354
@Widcket the `expiresIn` is actually the number of seconds when the token will expires, but the credentials does not include the `issuedAt`, so do I have to manually generate and store the `issuedAt`?

[2021-02-03 06:34] aprilmintacpineda opened #357 "auth0.webAuth.authorize sometimes does not resolve and hangs"
### Describe the problem

We have a login screen that has a "Login" button on it, when you press the button it fires the following codes:

[code]

For some unknown reasons, After the user has logged in, the login page just gets stuck there but I can see "successful login" on the logs, the callee just doesn't return to the caller, so I don't see the console log, I also don't see any errors or any l

[2021-02-04 18:12] duraz0rz commented on #335
Looks like someone opened #356 to add `react-native-windows` support!

[2021-02-04 18:22] Widcket commented on #354
@aprilmintacpineda the issued at should be in the ID Token as the `iat` claim.

[2021-02-05 06:51] aprilmintacpineda commented on #354
Thanks very much @Widcket

[2021-02-05 06:51] #354 closed

[2021-02-05 15:05] Widcket commented on #357
@lbalmaceda can you please take a look?

[2021-02-05 15:49] lbalmaceda commented on #357
If I understand correctly, what you are saying is that the redirection from the browser into your application is broken for the Android platform. If that worked for the tenant `account1` and stopped working with `account2` is definitely a configuration issue.

You'd need to check in the Auth0 dashboard that you are using an application of type "Native" and registering the allowed URLs correctly. F

[2021-02-07 22:12] aprilmintacpineda commented on #357
Thanks, I will try these out.

[2021-02-07 22:57] aprilmintacpineda commented on #357
Aha, that solved it, I forgot to change the `android:host`.

Thanks for the kind resposne 🙇🏻

[2021-02-10 02:21] aprilmintacpineda commented on #294
how come `prompt` is not included in https://auth0.github.io/react-native-auth0/WebAuth.html#.authorize

[2021-02-23 09:27] lbalmaceda commented on #352
To me, this is a valid request. @wyang36 are you able to provide a PR with tests? The change should be located in these lines https://github.com/auth0/react-native-auth0/blob/master/src/auth/index.js#L481-L486

[2021-02-23 15:50] lbalmaceda commented on #335
Hi all and apologies for the lack of response 👋  I've raised this feature request for internal discussion the past week, and after a long conversation, we've decided we will not provide support for the Windows platform with this SDK. The main reason being that we don't have a dedicated person today that can maintain this code. I'll proceed to close the related issues/PRs.

[2021-02-23 15:50] #335 closed

[2021-02-24 19:13] stmoy commented on #335
👋 - hi @lbalmaceda! My name is Steven and I'm from the React Native for Windows team here at Microsoft. Thank you for reviewing the contribution from @tritao. I wanted to provide a bit more context on this contribution: Microsoft is partnering with Janea Systems to help bootstrap the module ecosystem for React Native for Windows. We identified Auth0 as an important module for RNW apps and worked w

[2021-02-26 07:52] DenisDov opened #358 "Face ID"
### Face Id authentication

Is it possible to authenticate users with Apple Face ID?

[2021-02-27 10:10] DenisDov commented on #352
How about passing this fields in metadata?

[2021-03-01 20:11] irekrog commented on #333
This is still an issue.

RN 0.63.4, iOS 14.4, react-native-auth0@2.7.0 - after calling clearSession modal with Sign In is showed. It doesn't matter if is set prompt login, ephermalSession on true. Always after clearSession is modal... It totally breaking UX.

Is any option to not show this modal like on Android and just clear a session?

[2021-03-01 21:30] Widcket commented on #333
Hi @irekrog, can you please confirm if in your app:
- You're using `ephemeralSession` on the **login** call
- You're calling `clearSession` only on Android, **not** on iOS

[2021-03-02 06:43] irekrog commented on #333
@Widcket
**I am calling clearSession on iOS** and I have a this modal https://user-images.githubusercontent.com/909292/91794499-d2cbe180-ebe0-11ea-9975-d1be08686b4b.png I tried with/without `ephemeralSession` and `prompt:login` and always when running clearSession above modal is showed.

[2021-03-02 11:03] Widcket commented on #333
@irekrog Please do not call `clearSession` on iOS if you’re using `ephemeralSession` on the login call, it is not necessary.

[2021-03-02 11:18] irekrog commented on #333
@Widcket
Ok, what if case when I set `ephemeralSession` to false?

[2021-03-02 11:47] Widcket commented on #333
@irekrog In that case the pop up is unavoidable. It’s generated and handled by iOS and there’s nothing we can do about it.

[2021-03-03 04:13] Widcket commented on #358
Hi @DenisDov, Universal Login [supports](https://auth0.com/blog/auth0-releasing-sign-in-with-apple-support-for-billions-of-ios-devices/) Sign in with Apple, which lets you authenticate with FaceID.

[2021-03-03 15:44] idrisssakhi opened #359 "Sso confirmation pop up when logout in ios > 13"
### Describe the problem you'd like to have solved

When loging out in ios with version > 13, a confirmation pop up is displayed

### Describe the ideal solution

adding ```{ephemeralSession: true}``` for clearSessionn method

## Alternatives and current work-arounds

[2021-03-03 15:46] Widcket commented on #359
Hi @idrisssakhi, you [do not need](https://github.com/auth0/react-native-auth0/issues/333#issuecomment-788308422) to call `clearSession` on iOS when you're using `ephemeralSession` on the login call.
I'll be adding clear documentation about this on the Readme.

[2021-03-03 15:46] #359 closed

[2021-03-03 16:15] idrisssakhi commented on #359
Thank you, solved it as specified in that post.

[2021-03-03 19:42] kevlil83 commented on #335
@stmoy appreciate all the info. The extra context is helpful. We're taking another look at this and will circle back next week. In the near term, would you be willing to hop on a call with me to discuss more about what your team is working on? Would love to dig in and learn more. Thanks! Feel free to reply back here or DM me on Twitter and we can coordinate a time.

[2021-03-03 19:47] stmoy commented on #335
@kevlil83 - awesome! Very happy to chat. Lets coordinate on Twitter - is this the right handle? https://twitter.com/lillybrk

[2021-03-03 19:54] kevlil83 commented on #335
@stmoy thats the one :)

[2021-03-12 23:52] ravi-poonia opened #360 "Auth0 authorize stuck only on the very first try"
On the very first install of the app, if I call the authorize function, it just gets stuck ..no error...no response. If I restart the app and do the same thing again it starts working.

### What was the expected behavior?

The authorize function should either use the logged-in session or popup the universal login view.

### Reproduction
Install a fresh app and call the authorize function

Note:
I'

[2021-03-16 12:54] bkusch commented on #360
the same

[2021-03-19 01:08] Widcket commented on #360
Hi @ravi-poonia, what config parameters are you passing to the SDK?

[2021-03-19 13:20] Widcket commented on #360
Also, which Xcode version are you using?

[2021-03-29 10:53] lbalmaceda commented on #358
Closing this, if you have further questions feel free to chime back in.

[2021-03-29 10:53] #358 closed

[2021-03-29 11:02] lbalmaceda commented on #352
@DenisDov yes that's a good suggestion. When these properties are not supported by the endpoint, they should go in the `user_metadata` object property. We already support passing that to the sign-up endpoint, see [this line](https://github.com/auth0/react-native-auth0/blob/master/src/auth/index.js#L486). As requested here, `first_name` and `last_name` are not directly supported by the sign-up endp

[2021-03-30 14:54] SergeiVeit commented on #344
Hi, @Widcket
Sorry for big delay.
I try repeat it on simulator, but on Simulator it it works correctly. But on real device it has this problem.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/25428354/113009795-f2c88100-9180-11eb-8fc7-89c0685de8c4.gif)

[2021-03-31 19:59] Widcket commented on #358
@DenisDov using FaceID as a MFA factor is now available: https://auth0.com/docs/mfa/configure-webauthn-device-biometrics-for-mfa#ios

[2021-04-08 15:35] #340 closed

[2021-04-13 18:16] sathishk2030 opened #365 "Blank Auth0.com login page on Android below 6.0 inch screen"
Auth0 login page showing blank, it is happening in screen size below 6.0 inch.

Steps to reproduce:
1. Create new react native app and integrate react-native-auth0 into the app as instruction from site or use sample app from Auth0.com
2. run android app in Screen below 6.0 inch and login takes to blank Auth0.com page.

- When we load first time in 5.0 inch devices it is working but from second tim

[2021-04-19 14:53] lbalmaceda commented on #365
I believe this might not be an issue with the SDK but with your Universal Login Page configuration. You might want to check in the dashboard if you've done any customizations to it, and turn it off to use the default, in that case, to test if that fixes it. I'll wait for your reply.

[2021-04-21 01:20] BailyTroyer commented on #245
Just adding to @DarioVaccaro's response with a supplemental screenshot for anyone that runs into this issue.

Under Application Settings, the following toggle fixed it so `refreshToken(...)` returns a `refreshToken` in the response object.

<img width="1144" alt="Screen Shot 2021-04-20 at 9 17 26 PM" src="https://user-images.githubusercontent.com/22754190/115482951-d66ab200-a21d-11eb-9798-1f3e5874

[2021-04-22 08:43] Widcket commented on #360
Just tried this out. Xcode 12.5 beta and RC no longer accept an entire URL for the `ASWebAuthenticationSession` scheme. We need to update the SDK.

[2021-04-26 10:10] JohnKim7 opened #368 "iOS 13+ ephemeralSession for logging out"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-auth0@2.8.1` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-04-28 17:49] fsolis17 commented on #209
I am seeing the sign in dialog when logging out in 2.6.0. Should this be reopened or should a new issue be created?

[2021-04-28 21:36] altibanna commented on #360
Same for me, XCode 12.5 has now been released and i'm hitting this bug today for the first time.

Is there any workaround ?

[2021-04-29 01:41] Widcket commented on #368
Hi @JohnKim7, you [do not need](https://github.com/auth0/react-native-auth0/issues/333#issuecomment-788308422) to call `clearSession` on iOS when you're using `ephemeralSession` on the login call.

[2021-04-29 08:52] norbertschuler opened #371 "AuthenticationServices crashes due to invalid scheme using iOS simulator 14.5"
### Describe the problem

When trying to open the Auth0 web view to login with an iOS 14.5 emulator, a crash in the native part of the module happens as following:

[code]

### What was the expected behavior?

The app should open the web view.

### Reproduction

This only happens with iOS 14.5 - running the app with e.g. iOS 12.4 does not have any issues.

### Environment

Output from `react-nativ

[2021-04-29 08:58] norbertschuler commented on #371
Sorry, this is probably duplicating #360

[2021-04-29 08:58] #371 closed

[2021-04-29 12:40] #360 closed

[2021-04-30 14:37] Widcket commented on #368
Just added some information to the Readme.

<img width="811" alt="Screen Shot 2021-04-30 at 11 35 56" src="https://user-images.githubusercontent.com/5055789/116710610-52949080-a9a8-11eb-884b-4f2e0c856139.png">

I will close this issue, please ping if you have any questions.

[2021-04-30 14:37] #368 closed

[2021-05-03 05:08] sathishk2030 commented on #365
No change done in universal login. if it is universal login issue where to report.

[2021-05-05 13:42] lbalmaceda commented on #365
You can contact support directly via the [support center](https://support.auth0.com/). The options of contact will vary depending on the type of Auth0 subscription you have.

[2021-05-19 21:41] Widcket commented on #344
@SergeiVeit what is the code you're using for login? (please redact your account details). Is that Universal Login in the popup?

[2021-05-25 09:12] SergeiVeit commented on #344
@Widcket It is weird, but issue solved only after upgrade cocoapods version.

[2021-05-25 11:47] Widcket commented on #344
Thanks for getting back, glad the issue is solved.

[2021-05-25 11:48] #344 closed

[2021-05-28 15:23] vishnuchd opened #379 "Android: crash during social login with error Network request failed"
### Describe the problem
We have used the guide from the react-native-auth0 git repo as well as reviewed all documentation around this on auth0 website
https://github.com/auth0/react-native-auth0.
https://auth0.com/docs/quickstart/native/react-native?download=true#integrate-auth0-in-your-application

You can see the below screenshots to give you an idea of our work, which seems to be all correct..

[2021-05-29 00:31] Mr-Fraser commented on #379
Looks like it is failing here C:\Users\codyf\Source\refrra\refrra_react\node_modules\react-native-auth0\src\networking\index.js

[2021-06-02 16:45] ghills opened #380 "showUrl callback is called from iOS code with an `NSError` object that cannot be converted for React Native"
instances:

https://github.com/auth0/react-native-auth0/blob/95350bf0d306a1dd73e04d6b89b45373235ba90e/ios/A0Auth0.m#L111

https://github.com/auth0/react-native-auth0/blob/95350bf0d306a1dd73e04d6b89b45373235ba90e/ios/A0Auth0.m#L140

The result is that if an error occurs (that isn't the user cancellation) then the Javascript callback is invoked with null for both the error and redirectUrl.

Pull req

[2021-06-02 17:11] ghills opened #382 "Error 3 on iOS from showUrl when trying to do login in some conditions"
### Describe the problem

Authorize call doesn't prompt for login when it should on iOS hardware. With changes in #381 I see the following error occuring from the iOS native code:

`LOG  {"error": "The operation couldn’t be completed. (com.apple.AuthenticationServices.WebAuthenticationSession error 3.)", "error_code": 3}`

It doesn't seem to happen on initial login. It is happening when I am tryin

[2021-06-02 17:27] Widcket commented on #382
Hi @ghills, thanks for raising this. Do you have any rules/hooks/actions on your tenant that might be causing auth to fail?

[2021-06-02 17:38] ghills commented on #382
Hello @Widcket - thank you for your response. We do have a few rules that run but I don't think they are failing and I don't see any indication in the logs or anything related to the attempted login at all. To be clear, when this happens I don't get any popup to even attempt to log in at all.

[2021-06-02 18:19] Widcket commented on #382
That seems like an `ASWebAuthenticationSession` error, particularly `The UIWindowScene for the returned window was not in the foreground active state.` (error code 3).
By any chance, is this an app that hasn't been updated (or tested on an iOS device) for a long time? Because that error is related to some iOS 13 changes.
And,per chance, are you invoking WebAuth on `viewDidLoad`?

[2021-06-02 19:12] ghills commented on #382
It's not an overly outdated app - I have made recent changes to it over the last year that have been tested on device.

However, your second question I think may be on to something with it being timing related. This is happening from react native so it isn't in `viewDidLoad` itself but I think in this case we were having UI changes happen at the same time as the login was initiated (Auth0 was actu

[2021-06-02 20:15] Widcket commented on #382
Glad you were able to start pinpointing the issue. Will close this, please ping if you'd like to reopen.

[2021-06-02 20:15] #382 closed

[2021-06-05 14:43] sathishk2030 commented on #365
issue fixed on recent update

[2021-06-05 14:43] #365 closed

[2021-06-09 21:21] #328 closed

[2021-06-10 13:11] AjithKumarRaviChandran opened #383 "Integrating auth0 SSO feature with react-native"
With my react-native application currently i am using 2factor to verify and store the user details, I want to integrate an additional feature to my app which supports auth0 with SSO(Single sign on), so I want auth0 to verify the user credential(using 2factor API)  and also supports the SSO feature with my app.

[2021-06-10 23:04] llaver commented on #307
Hello, I am having almost the same issue on 2.7.0.

Same exact process, but instead of username/password, we are using social login: `connection: 'google-oauth2',`.

All signs point toward a successful login (webauth closes, logs show successful auth and exchange, etc.) but the error is thrown due to no json. Comparing the social login user account to a username and password user account (/authori

[2021-06-10 23:52] Mr-Fraser commented on #307
I don't understand why this issue is closed, is the solution to revert to rest apis??

I am having the same issue with social signin on Android only, error we get though is "network request failed"..

Shows successful login in auth0 user history but crashes the app after returning from webview to the app.

I have a separate issue created on the following link and have reached out to support audi b

[2021-06-10 23:55] higgins commented on #307
I'm not in an environment to reproduce this bug anymore, but reopening as it appears to still be affecting folks

[2021-06-12 18:58] llaver commented on #307
I've done some further research into my case and found an interesting detail. Note, I have only tested this on android.

The bug only seems to occur while the application is in debug mode. When I turned off remote js debugging (just debug/stop debugging on android), and debug only through the output console, I was able to get the login flow to complete and receive a valid token.

So far, stopping

[2021-06-18 12:57] #336 closed

[2021-06-23 17:04] lbalmaceda commented on #379
I'm sorry you are running into this issue. Let's keep the conversation in the linked issue above as this seems to be a duplicate and so more people are involved and can loop back therefeedback. If this isn't correct, please explain further how they differ and I'll reopen it.

[2021-06-23 17:04] #379 closed

[2021-06-23 17:07] lbalmaceda commented on #307
@vishnuchd @Mr-Fraser @llaver Apologies for the delayed response. Can you reproduce this consistently every time you run the app?

I downloaded the sample app (from [here](https://github.com/auth0-samples/auth0-react-native-sample)) and changed it to send a scope, connection, and audience value when doing web auth.

![image](https://user-images.githubusercontent.com/3900123/123138573-7a0e5380-d455

[2021-06-25 03:43] cpave3 opened #385 "Support custom parameters in RefreshToken call"
### Describe the problem you'd like to have solved

We have a need to provide custom parameters to both the `authorize` and `refreshToken` calls so that we can use rules to add some derived data into our JWTs. `authorize` currently supports this by just adding the extra parameters to the call, but the `refreshToken` call seems to filter them out.

### Describe the ideal solution

Ideally, I can su

[2021-06-25 20:03] IgorGanapolsky commented on #340
I am facing the same error:

        at net.openid.appauth.AuthorizationService.prepareAuthorizationRequestIntent

[2021-06-30 14:26] lbalmaceda commented on #340
@IgorGanapolsky the fix for this is available in `2.8.1`. Of course, you would need to capture [this error and handle](https://github.com/auth0/react-native-auth0/pull/363/files#diff-8abdd77b11f2be4ed54f8ff5273d31dcdf60d3bd8ea02a762bdd6aecd6a5f66bR71) it appropriately. That could imply showing a dialog telling the user they need to download a browser app.

[2021-07-01 12:39] raldred opened #387 "Manifest merge fails when building androidTest package due to missing placeholder substitution"
### Describe the problem

We use detox/espresso to test our application. It builds a second application `androidTest` which is used alongside the main application to run grey box e2e tests.

Gradle fails processing the manifest for the test application. manifestPlaceholders substitutions are required.
The main application builds fine.

We're not using the webAuth so have both the manifestPlacehold

[2021-07-01 20:30] jasonkv opened #388 "Android is crashing on startup without any error logs"
### Describe the problem

Our  android app  now crashes  right away  (on startup ) without any error logs.

### What was the expected behavior?
We are just trying to add this package to our react native app  by following the README instructions but it crashes on android right away without any error logs. We have it mostly working as expected for ios.

### Reproduction

We installed the package wit

[2021-07-01 21:11] jasonkv commented on #388
I believe this is because we had expo-auth-session still installed and it was conflicting in a weird way for android only.
Now we are seeing a new error but will make a new issue if we can't figure it out:

`[TypeError: Object is not a constructor (evaluating 'new Auth0({`

[2021-07-01 21:11] #388 closed

[2021-07-01 21:37] Widcket commented on #388
Hi @jasonkv I just tested the SDK on a fresh Expo bare app, and I'm not able to reproduce the last error you mentioned:

https://user-images.githubusercontent.com/5055789/124192213-4e195080-da9b-11eb-9ede-cb86aa93ec64.mov

[2021-07-01 23:24] jasonkv commented on #388
Hi @Widcket  which error in particular?

If it's the Auth0 constructor error, that was a mistake from importing the auth0 package in the wrong way by doing import * as auth0, instead of import from

But if you mean the original error, that one was due to having both `expo-auth-session` and react-native-auth0 installed

[2021-07-01 23:26] Widcket commented on #387
Hi @raldred, are you adding the manifest placeholders to the test app?

[2021-07-01 23:26] Widcket commented on #388
@jasonkv the Auth0 constructor error.

[2021-07-01 23:31] Widcket commented on #383
Hi @AjithKumarRaviChandran, apologies for the late response. Could you please explain in more detail your use case? What exactly do you want the SDK to support and why?

[2021-07-01 23:51] jasonkv commented on #388
Ah got it @Widcket . Thanks for looking into it but yeah that was just a mistake on my end trying to do a workaround that ended up causing that error later. That's why I had removed it from my comment after but sorry you still saw that and wasted your time.

[2021-07-05 16:09] gitmazzio opened #389 "“You may have pressed the back button” error fro auth0.webAuth.authorize"
Hi,
the following error popup showing on iphone (6/7) on some of our customers when they try to login via webview:

`"Oops!, something went wrong. You may have pressed the back button, refreshed during login, opened too many login dialogs, or there is some issue with cookies, since we couldn’t find your session. Try logging in again from the application and if the problem persists, please contact

[2021-07-05 16:30] Widcket commented on #389
Hi @gitmazzio, is a re-render causing `authorize()` to be called twice?
Also, please fill out the details from the issue template:

[code]
In the future, please fill out the template in your issue description instead of removing it.

[2021-07-06 07:57] lutzk opened #390 "how to get token for different audience"
### Describe the problem you'd like to have solved

in auth0-spa-js to get a token for a different audience i can use `getTokenSilently` with my target audience of the api i want to authenticate

i checked the docs and src but i am not sure how to do that here in `auth0-react-native`
using `webAuth.authorize` always opens the webview

is there a way to get a token for different audience silently w

[2021-07-07 09:33] gitmazzio commented on #389
Hi all,

we found that it was just our client's problem. He hadn't enabled cookies on the iPhone.
I close the issue.

[2021-07-07 09:33] #389 closed

[2021-07-07 17:54] ghills commented on #380
Hello @Widcket - I originally noticed this when I was diagnosing an error I had reported in #382. Unfortunately, I am having trouble getting a small reproducible example to result in the same error from the iOS code to demonstrate the issue. To demonstrate it I need `ASWebAuthenticationSession` to fail with an error other than cancelling.

However, at a minimum you can see that the two lines I ref

[2021-07-08 01:03] #352 closed

[2021-07-14 20:31] ANIBIT14 commented on #307
@lbalmaceda Hi facing the same issue keeps getting this in the catch part of the code [TypeError: Network request failed]
using this as code
const socialLogin = (connection: string = 'google-oauth2') => {
    auth0.webAuth
      .authorize({ scope: 'openid profile email', connection })
      .then(credentials => {

        console.log(credentials);
      })
      .catch(error => {
        console.

[2021-07-15 03:32] ibtisamarif831 opened #391 "After webview, a weird popup is being shown."
### Describe the problem

Recently, our application has started to show the selector dialogue after the user login or logout from the webview inside the application. The two redirections to the application are shown in the picture and only one of them successfully logins or logsout the person. This was not happening before it only started appearing 5-6 days before.
![unnamed](https://user-images.g

[2021-07-15 14:33] lbalmaceda commented on #307
@ANIBIT14 Is this for every run of just random ones? Maybe relates to a proxy or DNS issue on your device side. Are you able to check if the JWKS URL is accessible?

[2021-07-15 14:51] ANIBIT14 commented on #307
@lbalmaceda this is for every run on android. JWKS URL is accessible on my device browser I checked.

[2021-07-15 15:01] lbalmaceda commented on #307
@ANIBIT14 I'm afraid that without new debugging info, different from what the rest provided above and that I used to attempt to reproduce the issue, I cannot help.

It seems like it's failing to fetch the JWKS, which is then used to verify the received ID token. Have you tried with a physical device or a different android emulator? Perhaps you can debug the network request using the approach descr

[2021-07-15 15:07] ANIBIT14 commented on #307
@lbalmaceda I am trying on physical devices, I even made an apk and tried. Will try debugging the network request

[2021-07-16 09:17] ANIBIT14 commented on #307
@lbalmaceda for me the issue was happening because of this; react-native issue https://github.com/facebook/react-native/issues/27250
 after adding the updated implementation of okhttp, all social logins works great

[2021-07-16 11:50] #391 closed

[2021-07-16 13:36] mattryles commented on #387
Hi,
I'm facing the same issue.
When you say to the test app, do you mean the detox app?
How would I add these to the test app?
They are within the defaultConfig in ther build.grade.

[2021-07-16 14:32] Widcket commented on #387
Hi @mattryles, if you're using a separate app to run the tests, then that app needs to have the manifest placeholders in its own Manifest.

[2021-07-16 14:35] mattryles commented on #387
Thanks for the response. The tests are in the same app. Are the placeholders required if you’re not using the web auth stuff?

[2021-07-16 14:41] Widcket commented on #387
@mattryles no they're not. Please see https://github.com/auth0/react-native-auth0#skipping-the-web-authentication-setup

[2021-07-16 14:50] mattryles commented on #387
Cheers. I will rip them out.
Detox doesn’t support web views from my experience and I know you guys push devs down the web view route so this maybe why it’s not popped up much.
To replicate:
- Create empty react native project (crna)
- add react-native-auth0
- Add detox.
- iOS is fine, android isnt.
It’s likely how detox handles the build - but I’m not up on grade 🤷

[2021-07-16 15:12] #380 closed

[2021-07-16 15:25] mattryles commented on #387
Still fails on build :(
Any more pointers?

[2021-07-16 19:06] ghills commented on #380
That isn't going to cause the problem because it is hitting the special
case for cancellation which returns an NSDictionary as the error instead.
In order to trigger the problem it must be an error other than cancellation.

On Fri, Jul 16, 2021 at 8:12 AM Rita Zerrizuela ***@***.***>
wrote:

[2021-07-16 20:17] raldred commented on #387
Yeh despite not using the web auth and adding the placeholders and the remove snippets, gradle still refuses to compile the test app.

For now we're back on 2.8.3.

[2021-07-19 08:01] ZubairKh opened #392 "Auth0 - React Native - Android (release app) - weird behaviour of webAuth Login / logout"
Hey everyone!

We have a live app that our users are using! Please need your attention on this problem as quick as possible.

### The Problem

We have implemented auth0 authentication login into our mobile app built using React Native. We're using webAuth to login (that opens up the webview by auth0 and shows the login form). Also, we did register 2 apps on the auth0 dashboard, one is for our deve

[2021-07-19 11:37] Widcket commented on #392
Hi @ZubairKh I'm looking into this, will update later today.

[2021-07-20 07:36] ZubairKh commented on #392
@Widcket Thanks for putting my attention towards Merged Manifest. Yes, both the activities have mentioned with correct values but I've got the hint from here because we're using multiple product flavors in our app like in the **dev** environment we have **.dev** at the end of the package name while for the **prod** environment we have a **different package name**.

I'll play around with it by chan

[2021-07-20 11:50] ZubairKh commented on #392
@Widcket Just resolved my issue. I'm explaining here so anybody who will go through the same issue can fix this

Actually, in the case of multiple product flavors we should be adding **`manifestPlaceholders:  []`** multiple times for each flavor. I was only adding manifestPlaceholders inside the android object in `build.gradle` file like mentioned in your documentation

[code]

But for different f

[2021-07-20 11:50] #392 closed

[2021-07-23 13:32] lbalmaceda commented on #387
I suggest you add an `AndroidManifest.xml` file in the `test` source folder, where you either remove these activities or replace their intent-filter declaration with some hardcoded values, so they don't depend on "manifestPlaceholders".

i.e.

[code]

[2021-07-23 15:15] Widcket commented on #390
Hi @lutzk, it is not possible to get a token for a different audience without logging in again. Are you, per chance, passing the `/userInfo` endpoint as the audience on initial login and then attempting to use your own API as audience? Because if that’s the case, Auth0 always includes the `/userinfo` endpoint as the default audience value; there’s no need to specify it directly, and you could coul

[2021-07-23 15:15] #390 closed

[2021-07-25 17:42] dziter opened #396 "Android: Invalid token specified"
### Describe the problem

Hello,

Yesterday, our app was still working really well on both iOS & Android.
As we are close to production, the only change we made was to not rely on developer credentials for the Google Sign In mode. In my opinion, I don't see any link with the current problem which just occurred ONLY on Android. iOS is working fine.

Basically, this piece of code is producing issues

[2021-07-25 23:26] Widcket commented on #396
Hi @dziter, thanks for raising this. You can quickly check if it's something to do with the manifest placeholders by bypassing them, redeclaring the SDK's `RedirectActivity` in your app's Manifest (intent filter and everything) using static values for the intent filter.

If your problem persists, please check if you're able to reproduce the issue in isolation, eg. in our QuickStart sample app.

[2021-07-26 01:18] cpave3 commented on #385
@lbalmaceda I've made the change and submitted the PR. Please let me know if you need anything else from my side 🙏 Thank you.

[2021-07-26 10:01] dziter commented on #396
Hi @Widcket, thanks for your answer.

manifestPlaceHolders are mandatory for me to build the Android version.
But everything is okay since I have deleted the intent filter and let the SDK do the boilerplate by itself I guess.

To be sure, I have used static/hardcoded value for domain and applicationId.
So I am closing this issue.

[2021-07-26 10:01] #396 closed

[2021-07-28 01:35] Mr-Fraser commented on #396
I am getting the same issue..

Cody Fraser

Founder & CEO

(+61) 403 650 732

http://www.refrra.io

375 Wickham Terrace, Spring Hill, QLD, 4000
This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed.
If you have received this email in error please notify the system manager
and delete this email from your

[2021-07-30 16:14] christophby commented on #347
@TylerEikenberg did you solve that issue?

[2021-08-02 10:00] lbalmaceda commented on #385
Merged!

[2021-08-02 10:00] #385 closed

[2021-08-02 10:36] Widcket commented on #307
Closing as @ANIBIT14 was able to solve the issue.

[2021-08-02 10:36] #307 closed

[2021-08-02 10:37] Widcket commented on #383
Closing this one for now, please ping if you'd prefer to reopen.

[2021-08-02 10:37] #383 closed

[2021-08-13 07:46] LouisJS opened #398 "How to send app_metadata in CreateUser"
### Describe the problem you'd like to have solved

Hi, i'm using the method `createUser` to create my user, and i need to pass some metadata.
In the auth0 documentation, it is said that there is different type of metadata available

[Metadata Auth0](https://auth0.com/docs/users/metadata#metadata-types)

Here is an example of `createUser` implementation on web app.

[code]

However, using auth0/re

[2021-08-16 09:29] seltar opened #399 "Some Android devices never resolve the webAuth.authorize promise"
### Describe the problem

Some Android devices don't resolve the promise when executing webAuth.authorize.
I fill out all the information during the login flow and get to the last page where I expect the browser to close and return the connection details, but instead it just hangs until I cancel.

### What was the expected behavior?

The browser should close when login is verified and return the t

[2021-08-18 14:24] lbalmaceda commented on #398
👋  the `app_metadata` field is intended to be a **read-only** field. You can set values there when you first create the user, or by using an Auth0 Rule, or by changing it manually in the User's dashboard, or with a request to API2 with an Access Token scoped with `update:users_app_metadata`.

If you need to set a value from a public client, such as a mobile app, you should be using the `user_metad

[2021-08-18 17:36] ls-andrew-goodale opened #400 "Gradle warning about maven plugin"
### Describe the problem

When gradle initializes our React Native project with this library, it outputs the following warning:
[code]

### What was the expected behavior?

This library's gradle code should not use deprecated Gradle APIs.

Is the maven plugin even necessary for end-users of this library?

### Reproduction

On the command line in a React Native project, run a gradle command such as

[2021-08-18 20:22] Widcket commented on #399
Hi @seltar, thanks for raising this. Version 2.9.0 introduced a breaking change to the Android configuration. Have you followed the migration steps at https://github.com/auth0/react-native-auth0#android?
Se also a sample diff of the necessary changes: https://github.com/auth0-samples/auth0-react-native-sample/commit/69f79c83ceed40f44b239bbd16e79ecaa70ef70a

[2021-08-19 11:24] lbalmaceda commented on #400
This is the offending line https://github.com/auth0/react-native-auth0/blob/master/android/build.gradle#L18. I'm afraid is being used at the bottom of the file, referencing a local file. But I haven't pull the repo to try removing it. It could potentially be fixed by upgrading the project following these guidelines https://reactnative.dev/docs/upgrading or with what they recommend here https://doc

[2021-08-19 14:56] seltar commented on #399
Unfortunately I've had this problem with v 1.4.2 as well, which is why I tried upgrading to v 2.9.0.
I've tested the steps you provided and it doesn't solve our issue unfortunately.

[2021-08-20 13:41] seltar commented on #399
The problem seems to have solved itself (no code changes) using v1.4.2, so I'm suspecting there was a bug with the provider that they managed to fix. Either way, this is solved for now.

[2021-08-20 13:41] #399 closed

[2021-08-24 03:56] ElihuJ opened #401 "React-native-auth0. “Open with..” Duplicate after upgrade to 2.9.0"
Hi,
I have upgraded my react-native-auth0 from 2.6.0 to 2.9.0
Ever since the upgrade when logging in, the app request confirmation on what app to use to continue (Only on Android)

![ss](https://user-images.githubusercontent.com/30395400/130553415-abf4e43c-69d9-4f73-876e-643b9b000231.jpeg)

I have added as per the documentation manifestPlaceholders = [auth0Domain: "myDomain.auth0.com", auth0Scheme

[2021-08-24 06:30] aprilmintacpineda commented on #357
I'm reopening this to ask for and guidance, this time it happens when using the latest version 2.9.0 and only happens on android.

On my `build.gradle`, I have:

[code]

I am able to login but for some reason after logging in, and I can see logs in auth0 logs but the login screen just stays put and nothing happens afterward.

This was the call to login

[code]

[2021-08-24 08:17] lewie9021 commented on #401
I was also experiencing this issue. The fix for me (for now) was to remove Deep Linking configuration in the AndroidManifest.xml, [leaving a single `<intent-filter>` within the MainActivity](https://github.com/facebook/react-native/blob/main/template/android/app/src/main/AndroidManifest.xml#L19).

I'm interested to find how others have fixed this issue who require Deep Linking though.

[2021-08-24 13:00] Widcket commented on #357
Hi @aprilmintacpineda, in your merged manifest, do the SDK's RedirectActivity and AuthenticationActivity appear declared? Does the intent filter show up, and does its URL match the one you configured as the Callback and Logout URL in the Auth0 dashboard?

[2021-08-24 15:15] Widcket commented on #401
Hi @ElihuJ, thanks for raising this. Did you remove [this intent filter](https://github.com/auth0-samples/auth0-react-native-sample/commit/69f79c83ceed40f44b239bbd16e79ecaa70ef70a#diff-e0de684ab7a7be0085b0bf2990b399d0a60aa2391fb50d4b73fa589b68347f4aL23), as per the migration instructions?

[2021-08-25 04:17] ElihuJ commented on #401
Correct @lewie9021 @Widcket once I removed the extra intent it worked fine, I was guided by the documentation given in npm, [https://www.npmjs.com/package/react-native-auth0#android] and I couldn't find where it mentions about removing the extra intent, maybe I just missed it

Thanks heaps for the help!

[2021-08-25 04:17] #401 closed

[2021-08-25 06:23] aprilmintacpineda commented on #357
I don't know how to check this.

I have checked the callback and logout URLs and so far I think they are all correct.

I don't know what exactly you mean by this.

This is what happens, I do:

[code]

When the user pressed a button, then the login screen actually appears, and I can type and if I type the wrong password it works as expected, but when I type the correct credentials, after successful

[2021-08-25 14:07] Widcket commented on #357
You can check that from Android studio, to see if the [merged manifest](https://android-doc.github.io/tools/building/manifest-merge.html) contains everything the SDK expects it to contain:

<img width="1364" alt="Screen Shot 2021-08-25 at 11 00 27" src="https://user-images.githubusercontent.com/5055789/130805225-c954e2bf-0850-4e78-bd26-9dd86514729d.png">

Yes, we added a bit to the README about pr

[2021-08-25 14:09] #357 closed

[2021-08-25 14:46] Widcket commented on #398
@LouisJS I'll close this issue as your question has been answered. Please ping if you have further questions.

[2021-08-25 14:46] #398 closed

[2021-08-31 02:16] Gra55h0pper opened #403 "Android Build error using RN 0.65.1 with Gradle 7.0.2"
### Problem

After upgrading React-Native and Gradle to the latest & greatest available versions `gradlew bundleRelease` throws an error:

[code]

### Reproduction

Both `gradlew clean` and `gradlew bundleRelease` will throw the above error.

### Workaround

Don't know yet but I will try downgrading Gradle to a version older than 7.0.0.

### Environment

React Native 0.65.1
react-native-auth0: 2.9

[2021-08-31 03:49] Gra55h0pper commented on #403
### Workaround

Downgrade Gradle.
In Android Studio go to `File->Project Structure` and select:
- Android Gradle Plugin Version: 4.2.2
- Gradle Version: 6.7.1

This seems to make things work again.

[2021-09-03 19:53] markpar commented on #387
Could I petition to reopen this issue?  I have time and resources to devote to investigating this issue, so am happy to help in any way I can.

I tried the solution from @lbalmaceda but still hit the same error.  Here's the `AndroidManifest.xml` I placed in `android/app/src/androidTest`:
[code]
Error
[code]
The command I'm using to build is `./gradlew assembleDebug assembleAndroidTest -DtestBuildT

[2021-09-07 20:17] markpar commented on #387
@lbalmaceda thanks for reopening!  I'm not using Robolectric, just Detox.  I did create an `AndroidManifest.xml` in the `app/src/androidTest` folder, with the contents from your previous comment, but it didn't work.  I also tried it in a `test` folder, with the same results.

Thanks for the link to the example test manifest.  Mine looks very similar but there are a few differences, so I'll check t

[2021-09-08 06:10] lewie9021 opened #407 "`webAuth.authorize` hanging on iOS"
### Describe the problem

`webAuth.authorize` sometimes hangs on iOS (only identified on iOS but Android could also be affected). I found a related issue [here](https://github.com/auth0/react-native-auth0/issues/301) and added an `AppState` check to ensure the app was `active`. However, I'm still able to cause the flow to hang on my iPhone 12 Pro even though `AppState.currentState` is `active` imm

[2021-09-10 00:24] Widcket commented on #407
Hi @lewie9021, thanks for raising this. Can you please provide a video of the issue in our [sample app](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login)?

[2021-09-10 10:47] lbalmaceda commented on #387
@markpar I'm not familiar with Detox. I see they have a disclaimer that they [only support specific RN versions](https://github.com/wix/Detox#react-native), you might want to double-check if that's affecting you.

If with the options above your test build is not getting that manifest file replaced, then there must be something in one of those gradle steps when you run it with Detox that for some r

[2021-09-10 17:44] markpar commented on #387
Thanks for the reply, @lbalmaceda!  Unfortunately, the two suggestions you made didn't work for me.  It seems like they _should_, but neither the `testOptions` settings nor creating `android/app/src/androidTest/AndroidManifest.xml` and copying the contents of https://github.com/auth0/Auth0.Android/blob/main/auth0/src/test/AndroidManifest.xml into it worked (got the same error).  Also, we are on Re

[2021-09-10 18:49] markpar commented on #387
Here's the full text of the error message, if it helps:
[code]
Ignore the warning about `androidx.vectordrawable`; it's unrelated.

[2021-09-13 09:11] mnylen opened #409 "Allow passing timeout and/or AbortSignal to auth.refreshToken()"
### Describe the problem you'd like to have solved

If user's phone has a bad network connection, the `auth.refreshToken()` call might end up taking a very long time, and in the worst case, will never succeed or fail.

To simulate this happening in iOS, you can install Network Link Conditioner and select the 100 % Loss profile.

### Describe the ideal solution

Ideally I would like to be able to p

[2021-09-13 14:55] lbalmaceda commented on #387
@markpar Thanks for sharing that PoC project. I think it could help others if you add the list of commands that need to be run to reproduce this. i.e. Detox CLI set up, commands to run tests, expectations, and actual results, etc.

There's not much information on using Detox along with Manifest Placeholders. This is what I could find, where it seems to enforce that the final configuration for a sp

[2021-09-13 17:39] markpar commented on #387
@lbalmaceda Thank you for the suggestion on my test repo.  I'm actually a tester by trade and am a bit ashamed that I forgot to include instructions!  🤣   I've added a readme that shows the commands to reproduce the error as well as expected behavior.  I also included a quick list of how I set up the project.

Nice find in the OneSignal repo!  I'll definitely try that out.

[2021-09-13 18:56] markpar commented on #387
Good news!  The method suggested in the OneSignal repo [here](https://github.com/OneSignal/react-native-onesignal/issues/579#issuecomment-442504553) worked!  I added this section to `android/build.gradle` and now my Detox build is successful.
[code]
I verified that those placeholder values are indeed being fed through to `android/app/build/intermediates/merged_manifest/debug/AndroidManifest.xml`.

[2021-09-13 20:32] raldred commented on #387
Thanks for looking into this @lbalmaceda & @markpar.
I'll add this to our maintenance window next week to try this out.

[2021-09-14 11:45] lbalmaceda commented on #387
I'm glad you were able to resolve the issue! I'll close this but if you run into more trouble let me know and I'll re-open. Cheers

[2021-09-14 11:45] #387 closed

[2021-09-16 15:06] ripupo88 opened #410 "Warning for deprecated method "removeEventListener()" with "react-native" "0.65.1""
### Describe the problem

I get this warn when use auth0.webAuth.authorize( );

` _WARN  EventEmitter.removeListener('url', ...): Method has been deprecated. Please instead use 'remove()' on the subscription returned by 'EventEmitter.addListener'._`

### What was the expected behavior?

Do not get Warnings messages.

### Reproduction

- Step 1.. Use auth0.webAuth.authorize( ); to go Auth0 and logi

[2021-09-17 06:10] 09user opened #412 "auth0.getTokenSilently()"
Hi Team,

I am using react-native-auth0 in our Project, am looking for a function similar to auht0.getTokenSilently() to get the token. This function support not available in library. is there a way/ approach to similar to auht0.getTokenSilently() ?

Thanks

[2021-09-18 09:44] fcandi opened #413 "Update from 2.9.0 to 2.10.0 breaks login with refresh token"
### Describe the problem

Without any change, after upgrading to 2.10, login with refresh token do not work andy more, while gettig the user info i get "unauthorized: invalid credentials". After downgrading again, everything works again.

### What was the expected behavior?

There should be no breaking change

### Reproduction

I get the stored refresh token and try to resume like so:

[code]

I t

[2021-09-21 07:37] Uzef1997 commented on #276
if you are still looking for a solution refer to this
https://stackoverflow.com/a/69265048/7017860

[2021-09-23 16:35] andcal opened #415 "Unable to choose Google account login with iOS 15"
### Describe the problem

On a device with iOS 15, when I select log in with Google I cannot choose an account if I have already been logged in before. Whereas with iOS 14.5 I can make this choice: use a previous account or add a new one.

I tested on both iOS versions with the same code and app configuration.

### What was the expected behavior?

I can choose between a previously registered Googl

[2021-09-23 16:52] flashman2 opened #416 "Logout not working"
### Describe the problem

Unable to LogOut user with clearSession
LogIn works well, however on LogOut a popup appears saying "Safari cannot open the page because the address is invalid".
This happens on both iOS and Android. Using console.log I was able to see that LogOur URL was correct and returns some callback. But Safari just can't handle this callback and get back to the application. The call

[2021-09-23 18:31] flashman2 commented on #416
looks similar to this one: https://github.com/auth0/react-native-auth0/issues/321

But, if problem is CustomScheme setup, then where is documentation for this? How this works and how to add CustomScheme?

[2021-09-23 20:10] IgorGanapolsky commented on #340
This issue is still happening when targeting `API 31`.  It has nothing to do with browser being unavailable, as I have Chrome installed on my Android phone....

[2021-09-24 10:44] andcal commented on #415
I solve it by adding ` prompt: 'select_account',` as an `authorize` param
[code]

[2021-09-24 10:44] #415 closed

[2021-09-26 11:58] vmurillo opened #417 "Support Biometrics for Android and iOS"
### Describe the problem you'd like to have solved

Modern apps allow users to log in seamlessly using biometrics

### Describe the ideal solution

Universal Log in should support this

[2021-09-26 20:47] softshipper opened #418 "Can not pass the parameter screen_hint: 'signup' on webAuth.authorize method?"
Hi all,

I would like to redirect the users to SIGN UP page when they press the SIGN UP button.
Unfortunately, I can not pass the parameter `screen_hint` to `auth0.webAuth.authorize(...)` method. Regarding the type definition of [AuthorizeParams ](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native-auth0/index.d.ts#L201) it does not provide the parameter `screen_hint`

[2021-09-27 20:14] Widcket commented on #416
Hi @flashman2, please follow the setup instructions at https://github.com/auth0/react-native-auth0#configuration. I'll close this one as it answers your question, but please let me know if you'd prefer to reopen.

[2021-09-27 20:14] #416 closed

[2021-09-27 20:15] Widcket commented on #407
@lewie9021 looks like you're not experiencing this issue anymore. I'll close this issue then. Please let me know if you'd prefer to reopen.

[2021-09-27 20:15] #407 closed

[2021-09-27 20:20] Widcket commented on #417
Hi @vmurillo, thanks for raising this.
Using biometrics with Universal Login is supported as an MFA factor: https://auth0.com/docs/login/mfa/fido-authentication-with-webauthn#platform-authenticators- and https://auth0.com/docs/login/mfa/fido-authentication-with-webauthn/configure-webauthn-device-biometrics-for-mfa
Note that UL-related issues are beyond the scope of this SDK, so I'll close this iss

[2021-09-27 20:20] #417 closed

[2021-09-27 20:24] Widcket commented on #412
Hi @09user, thanks for raising this.
Can you please share more details about your use case? What is it you are hoping to achieve?