[2021-09-27 20:28] Widcket commented on #413
Hi @fcandi, thanks for raising this.
Are you still experiencing this issue?

[2021-09-28 16:01] therunbuddy opened #419 "Social Login"
### Describe the problem you'd like to have solved

I want to be able to start the `Sign in with Google`  authentication flow directly from my app. Screenshot of example below:
![image](https://user-images.githubusercontent.com/77796515/135122856-2a5467b0-1615-46d1-8a36-8a09a84a172c.png)

At the moment in order to start this flow you first need to open up the universal login page using `auth0.webA

[2021-09-28 16:33] lbalmaceda commented on #410
Thanks for the PR. I left a review there.

[2021-09-28 16:37] lbalmaceda commented on #419
This is already supported. You should be able to achieve this with `auth0.webAuth.authorize()` passing the correct connection name, which you can pick from the auth0 dashboard (Authentication / Social).

e.x.
[code]

Cheers

[2021-09-28 16:37] #419 closed

[2021-09-28 16:41] lbalmaceda commented on #418
@softshipper 👋  we do not maintain that package. You can create a PR in that [repository](https://github.com/DefinitelyTyped/DefinitelyTyped/pulls) and add support to this parameter. Cheers.

[2021-09-28 16:41] #418 closed

[2021-09-28 16:47] therunbuddy commented on #419
Ohh amazing. Maybe a section on the readme would be useful for this feature

Walter
________________________________
From: 'Luciano Balmaceda' via Developer ***@***.***>
Sent: Tuesday, September 28, 2021 5:38:03 PM
To: auth0/react-native-auth0 ***@***.***>
Cc: Run Buddy ***@***.***>; Author ***@***.***>
Subject: Re: [auth0/react-native-auth0] Social Login (#419)

This is already supported. You sho

[2021-09-28 16:58] lbalmaceda commented on #419
@therunbuddy Thanks for the suggestion! We prefer not to duplicate documentation, as we find often they get outdated and not kept in sync.

That said, we do have generated docs that are sourced from the code doc block annotations on every release. [Here](https://auth0.github.io/react-native-auth0/WebAuth.html#.authorize) you can find the specific one for the web auth authorize method.

Cheers.

[2021-09-28 22:22] flashman2 commented on #416
Hi @Widcket

I followed instructions for set up. It does not answer for my questions. Logout is not working - looks like Auth0 return wrong callback URL. This could be related to Bundle Id. It contain uppercase symbols and auto-converted to lowercase. Or maybe it is something else... Anyway, logout is not working.

[2021-09-28 22:50] Widcket commented on #416
@flashman2 are you able to reproduce this using the sample app at https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login?

[2021-09-29 11:44] therunbuddy commented on #419
@lbalmaceda thanks for the above suggestion. I was able to get Google Social Login working, however, the `authorize()` API does not return a `refreshToken` on successful login with Google. Is this expected? If so do you have any suggestions on how to refresh the access token without asking the user to go through the login flow again? Ideally, I want to keep the user logged in on my application.

[2021-09-29 12:08] therunbuddy commented on #419
Nevermind I managed to get the `refreshToken` by adding `offline_access` to scope parameter

[2021-09-29 14:44] lbalmaceda commented on #409
@mnylen 👋

1) The simplest and fastest solution would be for us to add a "default timeout" of, say, 10 seconds, that would impact all the network requests made from this library. It could be achieved with an "internal" `AbortSignal` and a `setTimeout` function. This needs to be done in the [networking client](https://github.com/auth0/react-native-auth0/blob/master/src/networking/index.js) class.

[2021-09-29 16:09] mnylen commented on #409
@lbalmaceda Ideally I'd like it to be customisable in a way that you could pass your own abort signal (someone might want to cancel the request based on other factors than just timeout) for each request (same signal can't be reused between requests), but it definitely is easier to just implement a global timeout of 10 seconds.

I can take a stab at making a PR for this, although it might take a go

[2021-09-30 10:23] therunbuddy opened #420 "Password Reset API"
### Describe the problem you'd like to have solved

I would like to trigger the `Forgotten Password/ Password Reset` flow from within my RN app. At the moment this library does not expose the `change_password` Authentication API.

### Describe the ideal solution

The ideal solution would be to have API called `auth0.auth.passwordReset()`

## Alternatives and current work-arounds

I presume the cur

[2021-09-30 15:34] therunbuddy commented on #420
Yep, that's it. Sorry, I was reading the docs on the README and resetPassword was not mentioned so I assumed it was not there. Thanks for the reply.

[2021-09-30 15:34] #420 closed

[2021-10-12 19:33] Widcket commented on #412
Closing due to inactivity. If you'd like to reopen, please ping.

[2021-10-12 19:34] #413 closed

[2021-10-14 20:17] ptrowan opened #421 "Support for multiple Auth0 tenants"
Before version 2.9, we were able to add support for multiple tenants (for example, we have a dev tenant and a prod tenant) by simply adding multiple `<data/>` tags to the intent filter, one for each auth0 domain we use.
With the updates in version 2.9, we can only specify one Auth0 domain. We can swap between Auth0 domains between doing production builds and dev builds, but in our use case, our te

[2021-10-21 07:51] xanderdeseyn commented on #421
This is completely blocking our team from upgrading as well.

[2021-10-27 04:23] schoenbl opened #422 "Plugin with id 'maven' not found."
Trying to get get the library to work in the android emulator but the build fails.

What I'm using:
- react native: 0.65.0
- react native auth0: 2.9.0
- gradle version: 6.7.1
- android gradle plugin version: 4.2.2

This is seemingly the same issue: https://github.com/auth0/react-native-auth0/issues/403

The versions are set to the same versions that are said to have worked in the issue, and the bu

[2021-11-03 17:57] bneigher commented on #403
This is breaking releases for the current version of react-native (uses gradle 7)

[2021-11-03 18:03] bneigher commented on #400
Do you guys anticipate supporting Gradle 7?  Looks like react-native is moving to it with 0.67 so I imagine this becoming a blocking issue soon

[2021-11-03 19:51] thedarkcder commented on #349
https://github.com/auth0/react-native-auth0/blob/defc6f945c1fd6ba929eb583588ba5d3c43c775d/src/auth/__tests__/index.spec.js

for anybody who comes across this issue - please find the solution to adding the audience

[2021-11-09 14:38] alessioemireni commented on #421
Same problem here. We have in production an App with open Domain and now we are blocked with the v2.9.0. Before we could set the `<intent-filter>` like below:
[code]
In the actual version of the library I try to remove the `auth0Domain` in the build.gradle but the app not compile.

Could be possible to set an empty `auth0Domain` in the next release, so that we will accept a multi domain?

[2021-11-10 01:34] Widcket commented on #421
Hi @ptrowan, thanks for raising this.
I believe https://github.com/auth0/Auth0.Android/issues/333#issuecomment-686644124 will answer your question (the Android SDK also uses manifest placeholders and this question has come up in the past).

Please let me know if that helps.

[2021-11-10 01:37] Widcket commented on #422
Hi @schoenbl, are you still experiencing this issue?

[2021-11-11 19:24] jalmonacidOA opened #425 "iOS dialog permission"
### Describe the problem

Every time I try to log into Auth0, iOS shows the permission dialog "App wants to use xxxx.com to sign in". Even after allowing the application to redirect to the browser, log in normally, log out, select log in again, the app asks for permission again, this behavior is repeated every time I reload the application or log out, there is any way to avoid asking for permissio

[2021-11-11 20:04] Widcket commented on #425
Hi @jalmonacidOA, thanks for raising this.
That dialog is not created/handled by the SDK, but by the underlying iOS API being used (`ASWebAuthenticationSession`). It is being shown because by default that API will save the auth cookie on the shared Safari cookie jar, which makes SSO possible.
On iOS 13+ it is possible to enable ephemeral sessions, which will not save the cookie in the shared cooki

[2021-11-11 20:04] #425 closed

[2021-11-11 20:06] jalmonacidOA commented on #425
@Widcket thanks!

[2021-11-12 11:07] sambeetsahu opened #426 "Web view google sign in error 403 disallowed_useragent"
Hi I am getting Error 403: disallowed_useragent
message while login using the google mail id.
Can you please let me know how to resolve it
react-native-auth0 2.10.0
<img width="254" alt="Screenshot 2021-11-12 at 4 36 20 PM" src="https://user-images.githubusercontent.com/89605585/141457445-b71c7123-988a-4334-984c-fcf09e844b01.png">

[2021-11-12 11:25] sambeetsahu commented on #245
I have done that in the auth0 dashboard but still not able to get the refresh token
auth0.webAuth
      .authorize({
        audience: config.API_BASE_URL,
        connection: connection,
        scope: 'openid profile email offline_access',
      })

[2021-11-12 11:59] sambeetsahu commented on #245
can i get a working example in a git public repo … where i will change the credentials for auth0 and test if refresh token coming or not

[2021-11-12 12:22] sambeetsahu opened #427 "Not getting refresh token in response"
Hi

I am using react-native-auth0 2.10.0 for google sign in . I am trying to get the refresh token but not able to get the refresh token even if I pass offline_access in scope and enable the refresh token in the Auth0 dashboard for the application please help

[2021-11-13 07:01] #427 closed

[2021-11-15 19:20] ptrowan commented on #421
@Widcket adding an activity with `tools:node="replace"` seemed to work! thanks!!
for the sake of writing out a solution on this thread, I added this to my AndroidManifest:
[code]
(which is identical to the `<activity/>` tag in the package manifest, with the exception of explicitly defining multiple domains and adding the `tools:node="replace"`)
and remember to add `xmlns:tools="http://schemas.andr

[2021-11-15 19:20] #421 closed

[2021-11-15 21:12] Widcket commented on #426
Hi @sambeetsahu, thanks for raising this.
Are you using web auth? You need to use web auth (which uses `ASWebAuthenticationSession` under the hood on iOS and Custom Tabs on Android) to do web-based login. You can't use an embedded web view.

[2021-11-16 17:05] sambeetsahu commented on #426
Yes @Widcket I am using the  auth0.webAuth as per the documentation if there is work around to solve the issue in android using the custom tabs on android can you please guide me how to do that to change web auth to custom tab in android ..

[2021-11-16 19:21] jalmonacidOA opened #428 "Weird behavior on Android"
Using web auth on Android, every time I enter the corresponding credentials in the browser and then return to the app, a strange behavior occurs:

I have an application that when reaching the "Welcome" view, it will always redirect to the web auth (even if you cancel, it will show the browser again), knowing this, the following behavior occurs:

1. When entering the credentials correctly and retur

[2021-11-16 23:13] Xesme commented on #92
I am facing the same issue as the previous user, when I visit the link you provided @cocojoe  it only allows me to alter the HTML for the login page, not the sign up page. Do you have updated documentation for this?

[2021-11-17 08:53] vvilhonen commented on #422
This seems to appear when using Gradle 7.x versions

[2021-11-17 09:02] #403 closed

[2021-11-17 11:12] fcandi commented on #422
I have the same problem after upgrading Gradle and Gradle Plugin. What is the solution?

[2021-11-19 16:13] Widcket commented on #426
@sambeetsahu are you able to reproduce this on the [sample app](https://github.com/auth0-samples/auth0-react-native-sample)?

[2021-11-21 15:55] breynolds-dev commented on #410
I'm trying to get these errors resolved to clean up warnings in my project - are there any updates on this PR?

[2021-11-23 11:24] fragilehm commented on #421
@ptrowan thanks for sharing the solution, so android:launchMode="singleTask" from the main activity should be removed right? And no need to add manifestPlaceholders?

[2021-11-23 17:20] schoenbl commented on #422
@Widcket It still keeps popping up.

[2021-11-23 17:22] Widcket commented on #422
@schoenbl are you using the `gradle7` branch? Because it hasn't been merged yet.

[2021-11-30 15:27] #422 closed

[2021-11-30 19:30] Widcket commented on #422
The fix is now out in [v2.11.0](https://github.com/auth0/react-native-auth0/releases/tag/v2.11.0).

[2021-11-30 20:06] fcandi commented on #422
Thx @Widcket thats great 🚀

[2021-11-30 21:15] Deltaxel opened #432 "Support for react-native-windows"
### Describe the problem you'd like to have solved

`react-native-auth0` does not work when targeting Windows platform with `react-native-windows`.
The `authorize` method keeps failing with the following message:
[code]
Since I use react-native 0.66.0, we can assume that it is not a linking issue but the native module for windows not existing.

### Describe the ideal solution

Ideally, a native mo

[2021-11-30 21:26] Widcket commented on #432
Hi @Deltaxel, thanks for raising this.
This is something that has come up in the past (https://github.com/auth0/react-native-auth0/issues/335). Unfortunately, we still do not have plans to support React Native on Windows with this SDK, which is focused on mobile (iOS & Android).

cc @kevlil83

[2021-11-30 21:26] #432 closed

[2021-11-30 23:06] zgordon02 opened #433 "Change auth0Domain at runtime on Android"
### Describe the problem you'd like to have solved
This is an issue only in Android, iOS is fine

We have an environment selection screen when our app starts. For each environment we have a different `auth0Domain`. In iOS I have everything working great.

In iOS, we can simply pass the `auth0Domain` when the client is created. On Android, it appears that the required manifest placeholder overrides

[2021-11-30 23:09] Widcket commented on #433
Hi @zgordon02, thanks for raising this.
Please refer to https://github.com/auth0/react-native-auth0/issues/421#issuecomment-964700004, as this has come up in the past.

[2021-11-30 23:09] #433 closed

[2021-11-30 23:49] zgordon02 commented on #433
Thanks @Widcket. Is there something in the docs I missed? If not, I would suggest highlighting this in the setup docs explaining why this behavior exists. Thanks again!

[2021-12-01 08:56] Deltaxel commented on #432
Hi @Widcket,

Thank you for your answer. I read the related posts you shared.
Although I understand the reason for the reject of the windows platform, it is for sure an issue for any project that support more than just windows. Especially when using libraries that depend on auth0. The integration gap and flow alignment represent a lot of work for each individual project with no clear alternative s

[2021-12-04 02:54] Widcket commented on #428
Hi @jalmonacidOA, are you still experiencing this issue?

[2021-12-04 02:54] Widcket commented on #426
Closing due to inactivity.

[2021-12-04 02:54] #426 closed

[2021-12-06 13:47] jalmonacidOA commented on #428
Hi @Widcket! Still facing this issue 🥲

[2021-12-06 15:41] Widcket commented on #428
@jalmonacidOA you should remove both the `singleTask` launch mode and the intent filter as specified in https://github.com/auth0/react-native-auth0#android.

[2021-12-06 17:22] jalmonacidOA commented on #428
it works! thanks

[2021-12-06 17:22] #428 closed

[2021-12-08 09:06] fragilehm opened #434 "The login modal is not popping up when running the app on M1."
After pressing login the image below shows up and nothing happens after clicking `Continue`:

<img width="389" alt="Screenshot 2021-12-08 at 15 07 02" src="https://user-images.githubusercontent.com/20160573/145180576-b8a99e8c-77e2-40bb-a996-f576bc14b9c3.png">

Version: `2.10.0`

[2021-12-13 03:47] aprilmintacpineda opened #435 "Anyway we can close the auth0.webAuth.authorize popup?"
### Describe the problem you'd like to have solved

We need a way to programmatically close the popup that opens when we call `auth0.webAuth.authorize`, maybe something like `auth0.webAuth.close`. We do this in relation to deep linking.

### Describe the ideal solution

We can call a function like `auth0.webAuth.close` to close the popup when needed.

## Alternatives and current work-arounds

Have

[2021-12-13 14:19] Widcket commented on #435
Hi @aprilmintacpineda, thanks for raising this.

The SDK has no control whatsoever over that popup. It cannot be closed programmatically, and its contents cannot be changed. It's displayed (and managed) by `ASWebAthenticationSession`, the underlying Apple API used by the SDK.
See https://github.com/auth0/react-native-auth0#disable-single-sign-on-ios-13-only for more information

[2021-12-13 14:19] #435 closed

[2021-12-13 14:21] Widcket commented on #434
Hi @fragilehm,

That popup is displayed by default by the underlying Apple API used by the SDK (`ASWebAuthenticationSession`).
See https://github.com/auth0/react-native-auth0#disable-single-sign-on-ios-13-only for more information.
In the future, please complete the issue template instead of removing it. Thanks.

[2021-12-13 14:21] #434 closed

[2021-12-13 14:23] Widcket commented on #410
Hi @breynolds-dev, please feel free to raise a new PR. Please make sure the tests pass (that's the reason the existing PR is still open).

[2021-12-13 14:35] fragilehm commented on #434
Thanks for the reply @Widcket but when enabling `ephemeralSession` the previous login sessions will be gone, and on the next login a user will have to re-enter the credentials again, is there a way to keep both options?

[2021-12-20 22:32] IbrahimSaberi opened #437 "webAuth({ prompt: 'signup' }) doesn't work as expected"
### Describe the problem

The `prompt` option seems to be ignored when callng `...webAuth.authorize({ prompt: 'SOME_PROMPT' })`

### What was the expected behavior?

I expected prompts as outlined [here](https://auth0.com/docs/brand-and-customize/text-customization-new-universal-login/prompt-common) to result in the proper webauth screens being pulled up. I've tried `signup`, `signup-password`, `l

[2021-12-20 22:58] IbrahimSaberi commented on #437
Ok, turns out you can pass the parameter `screen_hint: 'signup'` and this will do the job, though the `screen_hint` parameter is not in the TS definition files. Is doing this not advised for some reason, or does this parameter just need to be added still? Thanks in advance!

[2021-12-20 23:04] IbrahimSaberi commented on #437
Scratch that, just realized y'all don't currently maintain your TS definitions. I don't see this param however in the [actual jsdoc for the authorize method](https://github.com/auth0/react-native-auth0/blob/965ef8150001e940d1e26c768893e347f71d518a/src/webauth/index.js#L51), so original question still stands. Is using the `screen_hint` param ok/ safe or will this potentially cause unwanted behavior

[2021-12-20 23:25] Widcket commented on #437
Hi @IbrahimSaberi, thanks for raising this. This SDK allows passing arbitrary parameters that are added to the call to `/authorize`, so we don't keep a whitelist of parameters (beyond validating the required ones).
That's why you won't find `screen_hint: 'signup'` in the jsdoc, but it's totally fine to pass it.

[2021-12-21 15:06] IbrahimSaberi commented on #437
Thanks for the clarification!

[2021-12-21 15:06] #437 closed

[2021-12-27 14:26] Tenember opened #438 "Android : App in background reset the auth0 modal state"
### Describe the problem

I'm having issues with our app on Android. When the app is sent on background, then launched again from the home of any Android device, the auth0 modal is closed and his state is reset.

Bad quality gif explaining the issue : https://giphy.com/gifs/xLa6JwCUhiiTt8JTGE

### What was the expected behavior?

The auth0 modal not closing on app relaunch

### Reproduction

I was

[2022-01-03 17:03] #410 closed

[2022-01-05 10:03] fcandi commented on #413
hi @Widcket

the problem is not solved!

I did not find the time to try it again. Now, its urgent because I need to update to v2.10.0 because of Gradle 7 Update.

When I try to get Userinfo after Creating a session with the refresh token, I get "unauthorized: invalid credentials" since v. 2.10 (and now in 2.11). The same is still working in production with 2.9!

What could this be?

Thanks,

Andre

[2022-01-07 05:39] Kumargaurav11998 commented on #251
where to `import 'react-native-auth0';`?

[2022-01-08 18:31] lucasbento commented on #416
Exact same issue here and I'm using the [`auth0-react-native-sample`](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login) app.

Can you please reopen this @Widcket?

[2022-01-11 21:07] nickwelp opened #445 "Error When Attempting to Reset Password"
When attempting to trigger a reset password flow, I get the following error:
`[SyntaxError: JSON Parse error: Unexpected identifier "We"]`

That is triggered by this bit of code
`    auth0.auth.resetPassword({
        email: username,
        connection: connectionName,
      })`

I'm able to create users and log in users, so I believe my settings in Auth0 are correct.

There error states the issu

[2022-01-13 20:40] nickwelp commented on #445
I did work around this, as this particular functionality was fairly easy to do as a fetch without using the library

[2022-01-16 13:45] fotos commented on #426
@Widcket confirmed with the sample app!

Provided the `domain` and `clientId`, build the Android app and saw the `403` error from Google:

<img width="467" alt="auth0-app" src="https://user-images.githubusercontent.com/11336/149662659-2756d84f-217a-4328-86c6-5da5c5ceca8d.png">

<img width="467" alt="auth0-login" src="https://user-images.githubusercontent.com/11336/149662664-f703fd0d-53e1-4b87-aa93

[2022-01-16 14:20] fotos commented on #426
Quick follow up: using an emulator that has Play Store support and includes Chrome works like a charm.

I was using `Pixel 3A` which didn't have Chrome. Switching to `Pixel 4` works as expected.

[2022-01-16 20:24] gax97 commented on #437
I am still experiencing a problem here. Even when I pass `screen_hint: 'signup'` it goes to the login page(iOS). Does anyone have a same problem?

[2022-01-17 10:04] poovamraj commented on #445
Thanks a lot @nickwelp. We will check this out and roll out a fix. The description and comment are detailed enough to make it easier for us.

[2022-01-17 11:34] gax97 opened #446 "Build error on android after upgrade to gradle 7"
### Describe the problem

After upgrading my android project to use gradle 7 I have a problem building it because of the error in react-native-auth0
[code]

I tried commenting out this line: 94 and when I do so build succeeded.

### What was the expected behavior?

I expect to be able to build android project

### Reproduction
In `build.gradle`
Update `buildToolsVersion` and `compileSdkVersion` to

[2022-01-17 20:59] Widcket commented on #426
Hi @fotos, the SDK needs a browser app to be installed.

[2022-01-17 21:01] Widcket commented on #437
Hi @gax97, the `screen_hint: 'signup'` parameter only works for the new Universal Login Experience, not the classic experience. Are you using the new Universal Login Experience?

[2022-01-17 21:27] gax97 commented on #437
@Widcket I am not sure TBH, how can I check that?

[2022-01-17 21:33] gax97 commented on #437
You were right, it only works with Universal Login Experience. Thanks for clarifying.

[2022-01-17 23:10] fotos commented on #426
Hi @Widcket! Indeed, I figure so when I saw the "WebView Browser Tester" in the screenshots above.

I realized that the browser requirement is [mentioned in the README](https://github.com/auth0/react-native-auth0#web-authentication) as well, yet I didn't get the `a0.browser_not_available` error as indicated. Does the documentation needs to be slightly amended?

[2022-01-18 00:55] Widcket commented on #426
@poovamraj maybe we can update the documentation to account for the "WebView Browser Tester" in emulators?

[2022-01-18 10:37] poovamraj commented on #446
Hi @gax97 Can you confirm the React Native version you are using?

[2022-01-18 10:44] gax97 commented on #446
Hi @poovamraj I am using react-native 0.66.3 and react-native-auth0 2.11.0

[2022-01-18 23:58] ravi-poonia-7 commented on #233
Something is wrong, facing the same issue in my RN project. It occurs only on the first attempt after a fresh install, after that it works fine. After I added some logs in the library files, it seems the issue is the same as mentioned below. The showurl function is resolved immediately and the login screen never shows up.

RN: v0.66.4
Auth0: v2.11.0
IOS: 15.2

I have configured the whole setup mul

[2022-01-19 18:28] jdoozer opened #447 "Android bug: cannot create new user (sometimes)"
### Describe the problem
We've had a few reports of users being unable to register a new account using an Android device. The error coming through looks like it's the default auth0 error:
`a0.response.invalid: unknown error`

Here's (roughly) my Typescript code, using React Sagas - it's taken almost directly from the sample code.

[code]

### What was the expected behavior?
I expected that calls t

[2022-01-20 18:12] jalmonacidOA opened #449 "Blank screen on Android"
### Describe the problem
After login on the web browser nothing happens, the browser don't redirect to the app. On iOS works great!

### What was the expected behavior?

Been redirected to the app after login through the browser

### Reproduction

Through a custom hook we manage the bucle to force the user to log in

[code]

AndroidManifest

[code]
[code]
[code]

### Environment

- **Version of th

[2022-01-20 20:20] Mr-Fraser commented on #449
We have been facing similar issue for over a year now with no solution..

[2022-01-20 20:28] pupimarti commented on #449
you are using react-navigation??

[2022-01-21 02:16] jdoozer commented on #447
Urgh, I was able to find and solve the problem, it was on my end - I wasn't trimming whitespace off the front or back of emails, and when my coworker let his phone auto-complete his email address, it added a space at the end. This threw an error because the format of the email address was invalid. Wanted to update here in case anyone has a similar problem!

But as a side note, the only way I was a

[2022-01-21 02:16] #447 closed

[2022-01-21 09:58] jalmonacidOA commented on #449
@pupimarti yes!

[2022-01-24 14:46] poovamraj commented on #449
@pupimarti Can you provide more information on this? We are looking into this issue and it would be helpful to have more information. And if the issue is because of react-navigation we can try to provide a fix for it.

[2022-01-24 16:21] poovamraj commented on #445
@nickwelp Can you let us know what version of the auth0 library you were using?

[2022-01-24 16:28] pupimarti commented on #449
https://github.com/auth0/react-native-auth0/issues/83
this is exactly same issue.
I was able to fix it by changing this

    public void onActivityResult(Activity activity, int requestCode, int resultCode, Intent data) {

        new Handler().postDelayed(new Runnable() {
            @Override
            public void run() {
                Callback cb = A0Auth0Module.this.callback;

[2022-01-24 17:41] pupimarti commented on #449
With this fix only works if the account is cached 😕

[2022-01-24 18:54] nickwelp commented on #445
^2.9.0

I did some more digging, and I am using a library that may be causing issues, though it works in every other fetch scenario. react-native-blob-util replaces react-native fetch. React-Native fetch is itself a limited implementation of fetch, because it is really JavaScriptCore's XMLHttpRequest with promises wrapped around it. I found an issue with XMLHttpRequest unrelated to Auth0 and used

[2022-01-24 18:58] poovamraj commented on #445
Auth0's API response for changing password is a text instead of JSON. I guess this is the reason it is affecting only that API. You can refer to the API Document [here](https://auth0.com/docs/api/authentication?http#change-password). Thanks for bringing this to our notice but since the library is working as intended, we are closing this issue for now. Please feel free to open it if you have more q

[2022-01-24 18:58] #445 closed

[2022-01-25 10:55] poovamraj commented on #400
This warning has been fixed in [v2.11.0](https://github.com/auth0/react-native-auth0/releases/tag/v2.11.0). You can check this [PR](https://github.com/auth0/react-native-auth0/pull/429) for reference. Closing this issue for now. Please feel free to reopen if the issue isn't fixed.

@bneigher We plan to support Gradle 7. Currently, #446 is blocking it and we are working on fixing this issue. You ca

[2022-01-25 10:55] #400 closed

[2022-01-26 03:18] mnylen commented on #409
This can be closed now that the timeout support was merged.

[2022-01-26 03:18] #409 closed

[2022-01-26 10:27] poovamraj commented on #449
@pupimarti @jalmonacidOA Can you confirm whether you are using `react-navigation` or `react-native-navigation`. Currently, we need a few changes to be made for React Native Navigation. React Navigation should work out of the box.

[2022-01-26 11:55] pupimarti commented on #449
@poovamraj i use react-navigation and i have the same problem with this library. The callbacks urls not works in android, the page stays in an infinite loading or in blank screen

[2022-01-26 13:35] poovamraj commented on #449
@pupimarti I integrated React Navigation into our [sample app](https://github.com/auth0-samples/auth0-react-native-sample) and followed the integration steps from the [React Navigation document](https://reactnavigation.org/docs/getting-started/) and it seems to work correctly. I would suggest creating a simple sample app that reproduces this issue so that we can figure it out further.

[2022-01-26 14:57] jalmonacidOA commented on #449
@poovamraj Yeah, mee too, im currently using react-navigation, will create a fresh react native installation and test again with auth0 and react-navigation

[2022-01-26 15:38] poovamraj commented on #438
@Tenember Thanks for the analysis, the GIF and the sample app definitely helped us analyze the issue.

The issue seems to occur only when the app is connected to the development server, without which it works fine. The development server seems to start a new instance of the activity while clicking on the app icon which seems to cause this issue and it shouldn't happen in production. I am closing t

[2022-01-26 15:38] #438 closed

[2022-01-27 06:57] hamzaz9912 commented on #403
i'm having the same issue

go to MainActivity.java and remove ...   @Override
  protected String getMainComponentName() {
    return "AwesomeProject";
  }

[2022-01-27 07:32] schoenbl commented on #403
I don't recall exactly what I did, but I think I may have uninstalled the node module, built the app, and then installed the module again. And it worked, but it maybe different issues, and/or I can't remember how I solved it.

[2022-01-27 08:26] poovamraj commented on #446
This issue is fixed in #450 and will be released in a new version. We will keep you updated on the release

[2022-01-27 08:27] poovamraj commented on #403
@hamzaz9912 Which version of the SDK are you using? If it is the latest, can you confirm which Gradle line is causing the issue. We currently have a fix in master for a similar issue in Gradle 7.0. Refer #446

[2022-01-27 14:55] param-finder commented on #446
I'm facing the exact same issue. I'm using Gradle 7.0.2 and react-native-auth0 2.11.0

[code]

[2022-01-27 15:17] poovamraj commented on #446
Hey all 👋  The fix for this should be available in v2.13.0 which is currently live. We are closing this issue for now but please feel free to open it back if you face further issues

[2022-01-27 15:17] #446 closed

[2022-01-27 18:28] jalmonacidOA commented on #449
leave this test [repo](https://github.com/jalmonacidOA/auth0-react-navigation)  with auth0 and react-navigation, seems to work great, but in the project that i refer on this issue the problem persist.

[2022-01-27 18:34] jalmonacidOA commented on #449
In what file should be this code?

[2022-01-28 09:25] poovamraj commented on #449
@jalmonacidOA since the repository you provided seem to work without any issue. Can you try to figure out the differences between your project and the repository you shared? It is difficult to work on this issue without a reliable way to reproduce it.

[2022-01-28 13:12] jalmonacidOA commented on #449
@poovamraj ok, let me try to create a branch with the exact same conditions of the actual project that i've been facing the problems

[2022-01-29 15:00] VilleMiekkoja opened #454 "How to delete user by auth0 management api"
After users login to auth0, their information is stored on the auth0 side. Apple review will soon require that user data should be able to delete through app itself. Can we delete auth0 side user data using this library? I saw no methods indicating that in the repo so far.

[2022-01-31 15:24] Widcket commented on #454
Hi @VilleMiekkoja, thanks for raising this.

To delete a user, you'll need to expose an endpoint in your backend that makes a request to the Management API. You can then call your endpoint from the mobile app, using the Access Token.

[2022-02-02 01:44] Widcket commented on #454
@VilleMiekkoja, I'll close this issue as I believe the above answers your question. Please let me know if you'd prefer to reopen.

[2022-02-02 01:44] #454 closed

[2022-02-02 13:07] jalmonacidOA commented on #449
@poovamraj Created this replica of the project that im actually working on https://github.com/jalmonacidOA/auth0-react-navigation/tree/demo-replica, seems to work on Android so basically i need to figure out through the code what's going on

[2022-02-02 15:26] poovamraj commented on #449
@jalmonacidOA I am sorry but can you clarify whether the issue is reproducing or whether the SDK works as intended?

[2022-02-02 18:08] jalmonacidOA commented on #449
@poovamraj The SDK works great on the provided repo, but even if i try to use the exact same dependencies on the original project, keeps failing.

[2022-02-02 18:23] poovamraj commented on #449
😅 That is really tricky @jalmonacidOA! We will close this ticket for now since we couldn't see a way to proceed much further. But please feel free to reopen it in case you need any assistance or if you are able to reproduce this issue.

[2022-02-02 18:23] #449 closed

[2022-02-03 18:11] jalmonacidOA commented on #449
@poovamraj figure out the problem, in `andoird/app/build.gradle`, there is several buildTypes defined (the ones showed when this issue was open). The applicationIdSuffix is the problem, in the Allowed callbacks urls configuration the aplicationID is with and without the suffix, if i remove the applicationIdSuffix from the debug buildType, works perfect. So my problem is that, with the aplicationId

[2022-02-03 18:42] pupimarti commented on #449
@poovamraj what would be the solution? I do not understand

[2022-02-04 13:24] jalmonacidOA commented on #449
@pupimarti add manifestPlaceholders to every environment on the buildTypes, like this:
[code]

[2022-02-04 13:29] poovamraj commented on #449
@pupimarti Do you use application suffix as well?

[2022-02-10 15:50] ghivert commented on #449
For all of you who have the same problem with buildTypes, you can do a thing a little bit more generic:

[code]
You can just copy/paste the same lines `manifestPlaceholders` in each buildType.

[2022-02-14 12:19] ZentPeople commented on #352
Do we have support for adding first name in signup?

[2022-02-14 15:03] KrifaYounes commented on #426
I have the same issue
how to install a browser in emulator ?

[2022-02-14 21:23] KrifaYounes commented on #391
Sale issues
What happening ?

[2022-02-17 13:38] gax97 opened #458 "Setting auth0domain at runtime"
Would it be possible to set the auth0domain at runtime? Right now it looks like this is possible only for iOS. On android, auth0domain is used in the manifest file.

This is useful for situations where you want to retrieve your auth0 config from the backend.

[2022-02-17 15:13] poovamraj commented on #458
Hi @gax97, It should be currently possible by using `customScheme` and you can override the RedirectActivity if you don't need want to hardcode your domain. You can follow the steps in this section to achieve this -https://github.com/auth0/react-native-auth0#android

Please reopen this ticket if you have any further doubts regarding this.

[2022-02-17 15:13] #458 closed

[2022-02-18 18:20] fbartho opened #459 "Android: Switching apps to get the SMS code dismisses the Auth0 modal"
### Describe the problem

On our Android devices, when you app-switch to get the Auth-code from your Messaging application, when you return to our App, the Auth0 modal dismisses, so you're forced to restart the process, and hopefully see the Auth-code from the notification-overlay.

This is a duplicate of #438, but I can't reopen that ticket.

I've verified that the Auth0 tenant is marked as `Prod

[2022-02-18 19:02] fbartho commented on #459
There are `useMemo` and `useCallback` that are wrapping the relevant chunks of code for our API & AuthProvider component.

At a higher-level than the Auth components, there is a component that listens for background/foreground changes to send analytics events.

I logged in to auth0, and looked at the label under the Tenant drop-down. Additionally, we use `.env` files to configure our app for Dev/S

[2022-02-18 19:25] fbartho commented on #459
Sorry, I'm not able to do this right now, as I'm just representing the team operating on other timezones.

Sorry I was unclear -- we're reproducing this in our Production app downloaded from the Play Store, so it's definitely not connected to a debug server. Customers in the wild are also reporting this.

If you use the Task Manager instead of clicking the App Icon, then the problem does not occur

[2022-02-18 19:31] poovamraj commented on #459
This means intent is sent invoking a new activity instance instead of just reusing the already running activity. We noticed this behaviour when connected to debugging server but not while running the application without it.

Thanks for reporting this issue. We will look into this.

[2022-02-24 13:34] marcelmeulemans opened #460 "On iOS the promise returned by webauth.authorize can sometimes never complete."
### Describe the problem

The promise returned by `webAuth.authorize()` will consistently not complete when called immediately again after pressing cancel on the iOS permission popup (i.e. "App" want to use...). The issue is related to this `if` statement:

https://github.com/auth0/react-native-auth0/blob/master/src/webauth/agent.js#L44

In reproduction situation both `redirectURL` and `closeOnLoa

[2022-03-09 22:29] chookhen60 opened #462 "iOS - SSO not working between mobile App and Safari (default) Browser"
### Describe the problem
No matter what we seem to do, once a user performs a successful log in to our Mobile App in iOS, SSO does not seem to be achieved with the Safari (default) browser.

Note that all the testing I have performed thus far is with the iOS Simulator simulating an iPhone 13 running iOS 15.0.

In our case, we are using Microsoft B2C as the IdP.  We can see from examining the netwo

[2022-03-10 03:43] everettblakley commented on #120
@lbalmaceda any ideas on how to get it to work when using React Navigation? I am running into this issue currently and have not been able to find a solution

[2022-03-12 01:33] Widcket commented on #462
Hi @chookhen60, thanks for raising this.

Could you please provide more details on the scenario in which SSO works? This would be very helpful.

[2022-03-12 01:35] Widcket commented on #460
Hi @marcelmeulemans, thanks for raising this.
I'm a bit busy ATM, but I'll try to take a look at this next week.

[2022-03-12 04:38] chookhen60 commented on #462
Hi @Widcket,

SSO works in the following scenarios:
 - Between our Android App (which uses Chrome Custom Tabs as per this library) and the Mobile Google Chrome browser - after manually logging into our App, the user can then go to Mobile Chrome, and navigate to the website (which requires login, so will redirect to the b2c login page when this occurs), has the same auth IdP as the App (b2c), and S

[2022-03-15 01:55] Widcket commented on #462
Hi @chookhen60, are you able to reproduce if you previously clear the cookies on Safari?

[2022-03-15 02:07] chookhen60 commented on #462
Hi @Widcket, yes I can re-produce the issue if I clear the Safari Cookies before starting the whole App login process (I believe this is what you were asking?).  As expected, once the Safari cookies are cleared, trying to access the website in Safari directly will require login as the Cookie is gone.

[2022-03-15 02:10] Widcket commented on #462
Sorry, I should have been clearer. I meant to say clear the cookies and then login in the web app, then try SSO on the mobile app:

https://user-images.githubusercontent.com/5055789/158291757-60780724-24ea-402b-88c1-0da6dd5b9a04.MP4

[2022-03-15 02:23] chookhen60 commented on #462
@Widcket Thanks for clarifying - I'll test this scenario shortly and let you know

[2022-03-15 04:49] chookhen60 commented on #462
Hi @Widcket, that scenario does not work for me either - after logging into the Website in Safari (and having cleared all Safari data cleared before doing so like in your video) and then switching back to the App and attempting login does not SSO, and the App instead asks me to login (i.e. no SSO achieved).

[2022-03-15 20:35] chookhen60 commented on #462
@Widcket We aren't using a custom domain as of this moment, but are in the process of setting one up so we can have a more palatable message to users when they sign in.  I'll need to confirm if the App is in the same domain as what we are setting up as the custom domain and let you know.

[2022-03-16 04:08] Widcket commented on #462
Please make sure to test on a real device. I dug into this some more, and while it works on devices when the Custom Domain is set up, it does not seem to work on simulators. Could be a bug in the iOS simulator.

[2022-03-16 04:29] chookhen60 commented on #462
Hi @Widcket - thanks for that info - I had my fears there could be an issue with the Simulator, particularly due to the fact that it sounds like the way Cookies are stored may be different on the iOS simulator.

I do now have the custom domain working in the app, but still need to configure the website to use this too so both logins are using the same domain.

I have also confirmed our App is in t

[2022-03-16 04:34] jaquinocode commented on #54
@cocojoe This question is unrelated to the issue here, but how were you able to know the error name and message for this specific scenario (in this case the password being invalid)?

Is there some kind of resource you can direct me to where I can see a list of all the possible error names when using this library, so that way I as a developer can have an easier time handling errors?

[2022-03-16 15:11] Slasherio opened #463 "Remember this device for 30 days auth0 not working"
### Describe the problem
Hi. I have auth0 for my mobile application and I have enabled MFA. Everything working fine, but, if I will click on the `Remember this device for 30 days` checkbox, it is not working, and with the next login, I have to enter the security code again.

### What was the expected behavior?
In case to user clicked `Remember this device for 30 days` checkbox during login, the ap

[2022-03-16 15:41] Widcket commented on #463
Hi @Slasherio, thanks for raising this.

I see you're using `ephemeralSession: true`. This means that the cookies will not be persisted. Since the `Remember this device for 30 days` relies on cookies to work, it will not be remembered on the next login.

[2022-03-16 17:10] #463 closed

[2022-03-18 09:28] Slasherio opened #465 "How redirect user from mobile application to web without authorization?"
Hello.

I have a mobile application and web application ( SPA - React).
They are divided into different applications at the Auth0 dashboard.

![Screenshot 2022-03-18 at 11 19 35](https://user-images.githubusercontent.com/27573924/158975735-b73c24ab-ad05-428a-bac8-11014743d8e4.png)

I have redirection to some resources ( pages ) from the mobile application to web application.
But for now, the user

[2022-03-18 11:10] #460 closed

[2022-03-18 11:17] marcelmeulemans commented on #460
Thanks @Widcket!

[2022-03-18 11:21] poovamraj commented on #465
Hi @Slasherio 👋, The feature you are expecting is called Single Sign-On which is supported by Auth0.

As you can see [here](https://auth0.com/docs/get-started/applications/enable-sso-for-applications) This feature should be enabled by default for all new tenants.

1. Are you using the Web Authentication flow provided by our React Native SDK?

2. Can you let me know whether you are using our [React

[2022-03-18 11:26] Slasherio commented on #465
Thank you for your quick reply.

1. Yes. My code for login into the mobile application is:
[code]

2. Yes. For web application I am using @auth0/auth0-react

[2022-03-18 11:53] poovamraj commented on #465
Looking at the code, the authentication flow could be triggered again if the user has not selected "Remember this device" during MFA. Just want to check whether this was selected as well

[2022-03-18 12:10] Slasherio commented on #465
I am not sure that I correctly understand your answer.
1. MFA can be enabled/disabled by the user. So some users can have MFA, some not.
2. Regarding SSO. I checked auth0 dashboard, but could not find any references. I can see only SSO integration for my tenant, but can not understand how it should work for real.

[2022-03-18 16:41] poovamraj commented on #465
Basically you have to ensure that you call `getAccessTokenSilently` once your React app loads. Then if the user already logged in using the mobile app, the react app should login as well. Can you try this and let me know if it works?

[2022-03-21 13:55] Slasherio commented on #465
@poovamraj I am calling `getAccessTokenSilently` to get token and make an API call, but routes are protected and i can not to access them before I log in. All of the routes are protected, and wrapped with `withAuthenticationRequired`

Axios Wrapper ( short code )
[code]

Protected Route
[code]

[2022-03-22 13:48] poovamraj commented on #465
@Slasherio the best way to proceed forward is if you can provide us with a setup of both RN and React apps where the issue is reproducing. It will help us debug the issue properly. You can share it as a Github repository.

[2022-03-28 18:11] Widcket commented on #462
@chookhen60 are you still experiencing this issue?

[2022-03-28 20:33] chookhen60 commented on #462
Hi @Widcket, apologies for the delay, we are just trying to get some time to test on a real device, but hoping that will happen today for us. I need to get one of my colleagues to do the testing as I don't have a physical iOS device.

 I will report back as soon as I have an answer on that testing.

[2022-03-29 23:23] chookhen60 commented on #462
Hi @Widcket, I can confirm using a real device that the SSO works perfectly using a custom domain for both the app and the website in our case.  Our test case of first logging into the App, then going to Safari and accessing the website, correctly performs SSO on the website and the user does not have to login a second time.

Thank you for your help working through this issue! It's a bit of a sham

[2022-03-29 23:27] Widcket commented on #462
Perfect, thanks for the update. Will close the issue.

[2022-03-29 23:27] #462 closed

[2022-03-30 10:29] arunzone commented on #416
I am also facing the same issue, I logout urls are configure as recommended by documentation. @Widcket  can you please repoen this issue, we want this to get it working. We ran out of options now

[2022-03-31 18:24] sophie-li commented on #460
Thanks so much! Do we have an ETA for when will this be released? 😄

[2022-04-01 19:05] Widcket commented on #460
@sophie-li it's out now: https://github.com/auth0/react-native-auth0/releases/tag/v2.13.1

[2022-04-02 17:43] schoenbl commented on #422
Was having the same issue again and can confirm the specific version of `v2.11.0` works.

[2022-04-26 17:16] bombillazo opened #471 "Explicitly support Custom URL parameters for authorize"
### Describe the problem you'd like to have solved

When passing custom URL parameters to the `authorize` function, one appends them to the first parameter. this parameter has a set of "supported" parameters but also implicitly allows any additional parameter to be passed. The issue comes when using TypeScript  with the library, which doesnt support these custom parameters:
[code]
[TypeScript Issu

[2022-04-27 13:18] poovamraj commented on #471
Hi @bombillazo, Thanks for raising this. Really appreciate the effort with the PR.

With respect to the ideal solution, I don't think it can be adopted directly since it will be a breaking change that will need a major release.

Analyzing your PR what we would recommend from the library end is the below snippet.

[code]

Since it will be the user who will be defining the custom parameters, they wi

[2022-04-27 18:35] bombillazo commented on #471
The @types repo PR has been merged, thanks for the feedback!

[2022-04-27 18:35] #471 closed

[2022-05-04 00:43] mostafa-abardeh commented on #459
We are experiencing this exact issue. @poovamraj  any updates ?

[2022-05-18 09:41] saadnaveed94 opened #473 "Code 400: bad request. Expecting a non-nullable value. LoginWithSMS"
### Code 400: bad request. Expecting a non-nullable value. LoginWithSMS
 I am using passworldless method.
 i use auth0.auth
  .passwordlessWithSMS({
    phoneNumber: '+5491159991000',
  })
to receive the code in sms. which is successful. But when i enter the code in this method
auth0.auth
  .loginWithSMS({
    phoneNumber: 'info@auth0.com',
    code: '123456',
  })
i get the error  Expecting a non

[2022-05-20 08:23] antila3567 opened #474 "cannot get refresh_token with passwordless magic link"
Hello, everyone. I tried to use Passwordless login via email's magic links and get a problem with refresh token.
But with default login or social media login I don't get any problems.
Could someone explain me How can I get refresh token in magic link, please. Thanks
==REQUEST
auth0.auth.passwordlessWithEmail({
                email: email,
                send: 'link',
                authParams:

[2022-05-23 08:54] antila3567 commented on #474
I used exchange function. It helps me

[2022-05-23 08:54] #474 closed

[2022-05-23 17:38] antila3567 commented on #401
Hi. I have the same problem. I removed intent filter and it doesn't help. I open that magic link from email and I cannot get data in my Linking listener, could you help , please ?

[2022-05-24 09:41] miladezzat opened #475 "Missing NativeModule. React Native versions 0.60 and up perform auto-linking"
Missing NativeModule. React Native versions 0.60 and up perform auto-linking. Please see https://github.com/react-native-community/cli/blob/master/docs/autolinking.md.
at node_modules/react-native-auth0/src/webauth/agent.js:60:8 in Agent#newTransaction
at node_modules/react-native-auth0/src/webauth/index.js:72:11 in WebAuth#authorize
at App.js:19:4 in onLogin
at node_modules/react-native/Libraries

[2022-05-24 19:47] alexmyshchyshyn opened #476 "Is it possible to auth user with Face ID ( IOS ) / Touch ID ( Android )?"
Hello!

Is it possible to auth user with Face ID ( IOS ) / Touch ID ( Android )?

My current implementation:
[code]

P.S I tried to enable `WebAuthn with FIDO Device Biometrics`, but it do not work :(
P.S.S We don't have custom domains. We're using default one: `sc-staging.eu.auth0.com`

[2022-05-27 04:36] Mingyang-Li opened #477 "Unable to update auth0Domain URL for android build"
### ❌ Describe the problem
Our app uses auth0 login widget to login users.

Currently, I'm unable to open `Auth0 login widget` with RN `InAppBrowser` once I clicked to login from the native app UI. Instead, I get an error like the screen attached below

This happens after checking the `auth0Domain` URL string from `manifestPlaceholders` array in  `build.gradle` is indeed correct => I somwhow, at s

[2022-06-01 15:39] bombillazo commented on #222
Can we re-open given there is a PR for a solution in the works to make this compatible with Expo and this seems to be the original issue?

[2022-06-06 21:29] Mingyang-Li commented on #477
@poovamraj @fbartho any 2 cents on this? I saw you were discussing another issue in this repo:)

[2022-06-06 22:27] Mingyang-Li commented on #477
@noway Any 2 cents?

[2022-06-07 05:56] juddey commented on #477
Did you try clearing metro bundlers cache, maybe?
`yarn start --reset-cache`

[2022-06-07 06:05] tony-dong opened #479 "ITMS-90338: Non-public API usage: _SFAuthenticationErrorDomain"
I received an email from Apple rejecting the app due to usage of a non-pubic API. This happened when I uploaded a build to the App Store.

`Dear Developer,

We identified one or more issues with a recent delivery for your app. Please correct the following issues, then upload again.

ITMS-90338: Non-public API usage - The app references non-public symbols in : _SFAuthenticationErrorDomain. If metho

[2022-06-07 06:06] Mingyang-Li commented on #477
Yes I tried, still having the same issue on my VD
Output:
[code]

[2022-06-07 06:08] juddey commented on #477
Yes, but that issue says you already have a metro bundler running on another port:
`error listen EADDRINUSE: address already in use `

[2022-06-07 06:12] gran33 commented on #479
Same for me, found this [thread](https://developer.apple.com/forums/thread/127678?answerId=715975022#715975022), see last comments.

[2022-06-07 07:03] Mingyang-Li commented on #477
Yea, I intentionally killed the server and ran that script again before your last comment, I still got the same error

[2022-06-07 10:06] tony-dong commented on #479
This appears to be an Apple issue, and as per @gran33's comment, is now resolved. So I'm closing.

[2022-06-07 10:06] #479 closed

[2022-06-07 23:02] brandonedley commented on #476
Definitely need this feature as well. We use react native and want to have a more seamless experience with FaceID. Seems the swift SDK has this available already?

[2022-06-08 07:10] poovamraj commented on #459
@mostafa-abardeh we are not able to reproduce this issue on our end, will it be possible to provide the reproduction steps so that we can work on this?

[2022-06-08 23:50] tyfrth commented on #477
Similar to what @Mingyang-Li has stated regarding other machines, just adding that I wasn't able to reproduce this in our sample app on my end either 🤔

[2022-06-09 11:28] FaisalSeraj-techverx opened #480 "I cannot set the scope to get the refreshToken with authO.auth.loginWithSMS"
i am trying to add the refreshToken to my response when user is authenticated. I am unable to get the refreshTOken in the response because i am unable to set the scope = 'offline_access' to auth.loginWithSms
here is the code:
     authO.auth
        .loginWithSMS({
          phoneNumber: completePhone,
          email: '',
          code: code,
          authParams: {
            scope: 'offline_a

[2022-06-09 17:43] richardgirges opened #481 "Android webview login returning error ERR_UNKNOWN_URL_SCHEME"
### Describe the problem
Hello! We have react-native-auth0 working perfectly for iOS. However, we're seeing an odd error when logging in via Android.

Upon initiating `auth0.webAuth.authorize()`, the webview appears and our login domain is loaded. Once you login, the callback fires and we are seeing this error in the webview:
[code]

It works perfectly in debug mode. If I was to run a build with `

[2022-06-09 17:43] richardgirges commented on #481
This same issue was reported in the auth0-cordova package, but the proposed solution doesn't seem to work: https://github.com/auth0/auth0-cordova/issues/180#issuecomment-968371832

[2022-06-13 09:17] poovamraj commented on #481
@richardgirges Can you provide us with the following details
- What is the version of Chrome (assuming that is the browser)? Is it reproducing in other versions as well?
- Can you share the final Merged Manifest for Android (removing any confidential info)?

[2022-06-13 11:26] poovamraj commented on #473
Hi @saadnaveed94, I checked the code and looks like you are sending the email id instead of the phone number, I saw the same issue is there in our README and updated it in this PR - https://github.com/auth0/react-native-auth0/pull/482. Hope it helps

[2022-06-13 11:26] #473 closed

[2022-06-13 11:37] poovamraj commented on #480
Hi @FaisalSeraj-techverx, the scope should be sent as a parameter like the following example

[code]

That should return the following result

[code]

Hope this helps. Please feel to reopen this issue if you have more doubts

[2022-06-13 11:37] #480 closed

[2022-06-13 11:43] poovamraj commented on #476
Hi @alexmyshchyshyn and @brandonedley, Can you confirm that the expected feature is to secure the credentials in the app using biometric authentication similar to our [iOS](https://github.com/auth0/Auth0.swift#biometric-authentication) and [Android](https://github.com/auth0/auth0.android#encryption-enforced) implementation?

[2022-06-13 11:48] alexmyshchyshyn commented on #476
@poovamraj Hi. Yes

[2022-06-13 11:49] poovamraj commented on #475
@miladezzat Can you provide more information on this?

You can use the template which has all the information we require. We especially need information like the RN version you are using and the SDK version as well.

[2022-06-13 11:53] poovamraj commented on #477
@Mingyang-Li this seems to be because of the browser redirection. You can clear the storage (and cache) on the browser app and it should work. Please feel free to reopen this issue if the issue still persists

[2022-06-13 11:53] #477 closed

[2022-06-13 22:36] poovamraj commented on #481
Hi @richardgirges can you provide the following details as well

- Merged manifest which can be found under `android/app/build/intermediates/merged_manifest` and `android/app/build/intermediates/merged_manifest/debug`
- Value found for `auth0Domain` under build.gradle of the android app
- If it doesn’t have their auth0 domain, fill it with it and check whether the issue is fixed?

[2022-06-13 23:11] poovamraj commented on #481
Hi @richardgirges, in your build.gradle you have set your auth0Domain to your package name instead of the "Domain" value (``manifestPlaceholders = [auth0Domain: "com.mypackage"``) present in Auth0 - it could be something like "name.eu.auth0.com", but I can see your manifest refers to

You can also see there are 2 `RedirectActivity` with 2 different hosts in the manifest. Is there anything configur

[2022-06-14 09:37] hstemplewski commented on #250
Hi, I have the same problem. Should it have worked out of the box?

[code]

[code]

[code]

[2022-06-14 14:11] brandonedley commented on #476
Yes confirmed. This is exactly what I need

[2022-06-14 14:37] richardgirges commented on #481
Ah you pointed me directly to the problem. I had misconfigured my buildType configurations and was loading the wrong auth0Domain in the staging release version of the build. Thank you very much! Closing issue.

[2022-06-14 14:37] #481 closed

[2022-06-14 17:54] fcastaneda9725 commented on #475
@poovamraj I'm having the same issue with `"react-native": "0.69.0-rc.6"` and `"react-native-auth0": "^2.13.1"`

[2022-06-15 09:36] hstemplewski opened #483 "a0.state.invalid: Invalid state received in redirect url"
- Which SDK this is regarding: react-native-auth0
- SDK Version: 2.13.1
- Platform Version: iOS 15.5
- Code Snippets/Error Messages/Supporting Details/Screenshots:

https://community.auth0.com/t/invalid-state-error-for-react-native-auth0-passwordless/85098?u=hubert.stemplewski

Hi, I've tried to set up a passwordless flow with email and magic links. After I set up all the needed things in the mana

[2022-06-15 16:59] MatiAedo opened #484 "ERR_UNKNOWN_URL_SCHEME in some devices"
### The problem

Hello, we are working in a mobile app with react native including auth0. We have setted the sdk following this [tutorial](https://auth0.com/docs/quickstart/native/react-native/00-login?_ga=2.203791829.499200059.1655271560-439011996.1650323642&_gl=1*f3ox60*rollup_ga*NDM5MDExOTk2LjE2NTAzMjM2NDI.*rollup_ga_F1G3E656YZ*MTY1NTMxMDQ1My4xMC4wLjE2NTUzMTA0NTMuNjA.#native-configuration) and

[2022-06-16 06:34] Andriiklymiuk commented on #274
hi, seems that we have same issue.
What was a workaround @Bilal-S that you refer to?
Thanks in advance

[2022-06-16 10:51] poovamraj commented on #484
Hi @MatiAedo, can you let us know which devices are causing this issue, Android and Chrome version in which the issue is happening?

[2022-06-16 13:59] salprincipato opened #485 "Remove Consent Alert on React Native"
### Describe the problem
Is there anyway to remove the consent dialog when a user tried to login with Auth0 from a mobile app? We currently use this method to login with Auth0:
[code]

And when we run that command the user is prompted (automatically) to consent, we would like to find a way to remove it using react native:

![File (1)](https://user-images.githubusercontent.com/89735631/174085439-81

[2022-06-16 14:49] #485 closed

[2022-06-18 04:06] MatiAedo commented on #484
Hi @poovamraj ! Sorry for the delay
We are asking our clients those details, but until now only one answered. It is a Huawei with Emui 12.0.0 (Android 11) and Huawei Webview 11.1.5.315. Also we know that there are some Samsung devices and we are waiting for the details. In our team we tested two Xiaomi and one Motorola with the latest versions of Chrome/Webview and it works perfectly. When I know

[2022-06-18 15:06] poovamraj commented on #476
@brandonedley @alexmyshchyshyn thanks for your feedback. We are actually planning to implement this feature and have this in our upcoming releases. We can't confirm on the timeline but we will keep you updated once this is out there. We will note this issue in the internal ticket we maintain, so we will close this for now. Please feel free to reopen it if you have anything more to add on to it.

[2022-06-18 15:06] #476 closed

[2022-06-19 17:20] poovamraj commented on #483
Hey @hstemplewski 👋, Looks like you have used Web Authentication which is different from Passwordless Login.

For Passwordless login you can refer to the documentation [here](https://github.com/auth0/react-native-auth0#login-with-passwordless)

Your 2nd question on window closing, For Web Authentication, we close the window automatically. For passwordless you have to pass the verification code to

[2022-06-19 17:20] #483 closed

[2022-06-20 11:24] karimbutt commented on #475
@poovamraj I'm having the same issue on `"react-native": "0.68.1"` and `"react-native-auth0": "^2.13.1"` - however, I'm running RN on MacOS `"react-native-macos": "0.66.57"` - does this lib not work on MacOS? If not, can you give some pointers on how I can take the ios/ files and make them work for React Native on MacOS?

[2022-06-21 10:44] karimbutt commented on #475
@fcastaneda9725 absolutely! Here's a demo reproducing the issue: https://github.com/karimbutt/auth0-macos-native-modules-demo (note this does NOT include the native side stuff that needs to be done to catch the auth redirect yet since that part is not relevant for the demo)

`yarn install && cd macos && pod install && yarn start` and then `yarn macos` in another window to start the app and see the

[2022-06-21 10:45] karimbutt commented on #475
@poovamraj  absolutely! Here's a demo reproducing the issue: https://github.com/karimbutt/auth0-macos-native-modules-demo (note this does NOT include the native side stuff that needs to be done to catch the auth redirect yet since that part is not relevant for the demo)

`yarn install && cd macos && pod install && yarn start` and then `yarn macos` in another window to start the app and see the err

[2022-06-21 11:55] karimbutt commented on #475
Also, just looking here https://github.com/auth0/react-native-auth0/blob/master/ios/A0Auth0.m - and this is all written for iOS so MacOS can't just be added as a target for the podspec. I'm no Swift / iOS / MacOS pro but stuff like `UIApplication` can't be used for MacOS

[2022-06-21 12:12] karimbutt commented on #475
@Widcket thanks! What would you recommend is the best way to get this done in MacOS? Looking at the other Auth0 libs, they all seem to be platform dependent (e.g., some of the JS ones such as React, SPA, and even just JS use `window`). Do I need to roll my own here? If so, do you have examples here of repos where this has been done?

[2022-06-21 13:21] Widcket commented on #475
[React Native for macOS](https://github.com/microsoft/react-native-macos) is not an officially supported React Native platform, it's a fork by Microsoft. So I'm afraid you'd have to wrap [Auth0.Swift](https://github.com/auth0/Auth0.swift) (which supports macOS) in a plugin yourself. Or wrap another OpenID-compliant library, like AppAuth.

[2022-06-23 12:16] Bardiamist opened #486 "React native 0.69.0 support"
I can't sync Project with Graddle in React native 0.69.0

Repro step
1. `npx react-native init diff`
1. `yarn add react-native-auth0`
1. Open with Android Studio

<details>
<summary>Output</summary>

[code]

</details>

[2022-06-23 20:42] michaelbeutler opened #487 "Missing NativeModule after `react-native upgrade`. `v2.13.1`"
### Describe the problem

When trying to authenticate, the error `Missing NativeModule` gets thrown.

### What was the expected behavior?

When clicking any button, the user should be authenticated using webauth.

### Reproduction

- clone https://github.com/iperka/vacations-mobile
- Run `yarn install && yarn react-native upgrade`
- Upgrade `react-native-auth0` to v2.13.1
- Run `yarn ios`
- Press

[2022-06-24 08:08] Widcket commented on #487
Hi @michaelbeutler, thanks for raising this.
Are you able to reproduce this using the sample app at https://github.com/auth0-samples/auth0-react-native-sample?

[2022-06-24 16:54] Widcket commented on #487
Hi, I just tried installing the dependencies from scratch (on `master`) using both yarn and npm and was successful:

<img width="672" alt="Screen Shot 2022-06-24 at 13 53 16" src="https://user-images.githubusercontent.com/5055789/175607071-e368bc5a-0eb4-4c8e-b6ed-afa4222e85fe.png">

[2022-06-24 17:36] Widcket commented on #487
Just installed the pods from scratch and was successful:
<img width="704" alt="Screen Shot 2022-06-24 at 14 35 21" src="https://user-images.githubusercontent.com/5055789/175613184-6e7d46a4-0520-4983-9935-7bcfdc8348e4.png">

Do you have your specs repo clone updated? Run `pod repo update` if not.

[2022-06-24 18:41] michaelbeutler commented on #487
I did... do you use an arm64?

[2022-06-24 21:08] Widcket commented on #487
No, I'm not using an M1.

[2022-06-26 21:29] marc-wittwer commented on #486
+1 :)

[2022-06-27 08:36] lutzk commented on #486
its not working for ios either
when creating a fresh rn app with v 0.69
and running `pod install`
the pods of this lib are not added to the podfile.lock
and manual linking is removed in rn 069

[2022-06-27 09:54] poovamraj commented on #486
@Bardiamist we are looking into this issue, Can you help us by providing the following information.
Is it localized to RN version 69?
Can you provide us a minimal sample application in which the issue is reproducing?

[2022-06-27 10:08] Bardiamist commented on #486
Yes

It's simple to create a new
But if you need, it's here: https://github.com/Bardiamist/diff/tree/auth0

[2022-06-27 14:22] poovamraj commented on #486
Looks like commenting out [line 95](https://github.com/auth0/react-native-auth0/blob/master/android/build.gradle#L95) seems to make it work. Still exploring what change in the new React version is causing this. You can check this fix locally and let us know your feedback. We will explore more details before rolling out the fix.

[2022-06-27 16:37] michaelbeutler commented on #487
Okay, it was my fault, had to simply remove `node_modules` and `yarn.lock` and install everything again. Works now, thanks for the quick support.

[2022-06-27 16:37] #487 closed

[2022-06-28 10:32] poovamraj commented on #475
@miladezzat Have you tried removing the node modules and trying to install it again?

It seems to have worked in this case - https://github.com/auth0/react-native-auth0/issues/487

[2022-06-28 16:59] poovamraj commented on #486
Hey @Bardiamist, we have released a new version here - https://github.com/auth0/react-native-auth0/pull/489 to fix this issue. Please check this out and let us know. We are closing this issue for now but please feel free to reopen it for further doubts

[2022-06-28 16:59] #486 closed

[2022-06-29 09:27] poovamraj commented on #475
@fcastaneda9725 Can you confirm whether the new release fixes the issue? Also did you try clearing out the `node_modules` folder and retry?

[2022-06-29 10:17] miladezzat commented on #475
yes but doesn't work

[2022-06-30 05:12] Bardiamist commented on #486
Sync Project with Graddle passed
Not sure about build, now blocked with another depencdency

[2022-06-30 15:11] dminkovsky commented on #475
This happens for me with RN 0.69.0. 068.2 is not affected by this problem. Please see my reproduction at https://github.com/auth0-samples/auth0-react-native-sample/issues/68.

[2022-06-30 15:21] poovamraj commented on #475
Hi @dminkovsky, @Widcket will be taking a look into this issue and we will get back to you on this. Thanks for raising this!

[2022-06-30 15:37] dminkovsky commented on #475
Thank you all. Yes, the very last commit on that example repo seems to have bumped RN to 0.69.0 :) https://github.com/auth0-samples/auth0-react-native-sample/pull/65

[2022-07-05 19:02] jedashford commented on #475
When we move the podspec file to the root of the project, the `pod install` works great and the auto linking works. Was a simple change, but you'll need to update the package.json location in the podspec after moving.

move
`node_modules/react-native-auth0/iOS/A0Auth0.podspec`
to:
`node_modules/react-native-auth0/A0Auth0.podspec`

Then update this line:
`package = JSON.parse(File.read(File.join(__

[2022-07-05 20:01] jfspencerAngel commented on #475
Also the react native auto linking docs requires the pod spec to be located in the root directory see: https://github.com/react-native-community/cli/blob/main/docs/autolinking.md#platform-ios

[code]

[2022-07-05 22:29] #475 closed

[2022-07-06 16:33] idanlevi1 opened #492 "How get react-native-auth0 cookies when log in with auth0?"
I use `react native` 0.68.2v
`react-native-auth0` 2.13.3
I can log in with auth0, is return me credentials and userInfo,
the server-side asks me for cookies from auth0, how do I get it?

[2022-07-07 14:25] michaelbeutler commented on #487
Yes, it worked by reinstalling all dependencies.

[2022-07-08 09:45] poovamraj commented on #492
Hi @idanlevi1, Are you selecting

In the Auth0 dashboard, can you confirm this is checked. Native applications wouldn't use cookies for authentication

[2022-07-20 01:08] chookhen60 opened #494 "iOS SSO between App and Safari when a user has just registered a new Account in the App"
### Describe the problem
We have a working Android/iOS App which can successfully SSO into the browser using B2C as our IdP.  This works for the following scenarios:
 - Android:
    -  Logging into the App (and ticking the Keep Me Signed In checkbox), and then accessing a site from the default browser which uses the same IdP
    - Registering a new account in the App (no KMSI checkbox here), and t

[2022-07-22 07:48] poovamraj commented on #492
Hi @idanlevi1, we are closing this issue for now. Please feel free to reopen this if you have any more doubts

[2022-07-22 07:48] #492 closed

[2022-07-22 07:49] poovamraj commented on #484
Hi @MatiAedo, were you able to get more device information? we are not able to reproduce this issue from our end. It would be great if you can provide an environment where we can reproduce this.

[2022-07-22 07:59] poovamraj commented on #494
Hi @chookhen60, thanks for the detailed report. @Widcket will take a look at this

[2022-07-22 22:09] Widcket commented on #494
Hi @chookhen60, thanks for raising this.
Could you please share a video of the issue?

[2022-07-25 05:49] chookhen60 commented on #494
Hi @Widcket, we are just doing up a video now showing the issue and will get it to you as soon as it's ready

[2022-07-26 02:11] MatiAedo commented on #484
Hi @poovamraj ! Sorry again for being late reply. Finally it worked on all the devices, we didn't make any changes so we supposed that it was a problem with some versions of Chrome/WebView, or maybe a change in the library. I'm so thankful for your fast answers!

[2022-07-26 12:31] poovamraj commented on #484
Thanks a lot @MatiAedo! that sounds wonderful. We will close this issue for now. Please feel to reopen it if you have any more doubts!

[2022-07-26 12:31] #484 closed

[2022-07-28 09:45] MaxJadav commented on #340
Reproduce: Android 12 Google device, Or emulator.
Disable all browser from emulator.
App crash when you use this auth0.webAuth.
Add this part in try catch fix my issue in AuthenticationActivity.java  -> void onResume() -> launchAuthenticationIntent();

[code]

[2022-08-01 21:43] chookhen60 commented on #494
Hi @Widcket apologies for the delay in getting this video to you.

Please see here for a video demonstrating the issue:
https://drive.google.com/file/d/1kvA77J87RVNN6FRwxz5hk6s1vOcbXnYQ/view?usp=sharing

As mentioned above, in this video, a new user registers an account in the App (and the App does prompt correctly as we want the session to be able to SSO), and once they are logged in, the user cl

[2022-08-02 01:42] Widcket commented on #494
Hi @chookhen60, thanks for the video.

I'm unable to reproduce the issue:

https://user-images.githubusercontent.com/5055789/182273483-9140472b-bbef-43fa-838d-28f9c0d6a58d.MP4

- I'm using a custom domain
- The custom domain is set as the Auth0 domain in the native app
- The custom domain is used in the web app as well
- The API I'm using as the audience has the following setting enabled:

<img wi

[2022-08-02 01:43] Widcket commented on #494
I'd suggest checking in the logs of your Auth0 tenant for any error logs.

[2022-08-02 02:16] chookhen60 commented on #494
Thanks for testing that on your end @Widcket.

We'll have a look at those things on our end to see if we can narrow down what the issue might be, but it does seem to be an issue ouside of this library (especially as yours is working as intended)

[2022-08-02 11:26] rajibahmed opened #495 "[bug] peer dependency error on React 18.0.0 upgrade."
### Describe the problem

Hi folks, I upgraded one of my react native project 0.69.3 from 0.68.2 which upgrades react to 18.0.0.

Upgrading to React 18 causes peer dependencies mismatch and github action `npm install` to fail.

Probably caused by this --
https://github.com/auth0/react-native-auth0/blob/68e91cb7710039e02eca8b33b08f578626ecffae/package.json#L27-L30

Logs
[code]
### What was the expe

[2022-08-04 18:46] chrismcleod opened #496 "Support Universal Links and App Links"
### Describe the problem you'd like to have solved

Apple and Google "strongly recommend" Universal Links / App Links for deep linking user credentials rather than custom url schemes.

### Describe the ideal solution

This library would allow using Universal Links and App Links for the authorization callback redirect.

## Alternatives and current work-arounds

Wrap and directly use the iOS / Andro

[2022-08-05 16:58] poovamraj commented on #496
@chrismcleod Can you provide more details on what is stopping you from using Universal Links and App Links in the current implementation?

[2022-08-05 19:37] AlekSteinmetz commented on #495
I'm having to deal with this issue as well. It would be great if the dependencies could be updated.

[2022-08-08 22:16] chrismcleod commented on #496
@poovamraj I'm not sure how to do it.  So a documentation example would help.  Specifically, what native code updates would I need to make for the app to accept the redirect and respond to the javascript authorize call?

[2022-08-09 09:12] poovamraj commented on #496
@chrismcleod Got it thanks. We will try to get a documentation up but until then the procedure should be same as [Android](https://auth0.com/docs/get-started/applications/enable-android-app-links-support) or [iOS](https://auth0.com/docs/get-started/applications/enable-universal-links-support-in-apple-xcode) and our RN SDK will work as it is. Hope this helps. We are closing this issue for now but f

[2022-08-09 09:12] #496 closed

[2022-08-10 20:53] cross19xx opened #499 "webAuth.authorize does not return the idToken"
### Describe the problem
We are currently using the web auth in React native.
We noticed that authentication using the same function has different responses which seem to happen after you leave the app idle for a while.

Initial login (with no prior login)

[code]

After leaving the app idle for a while, we are faced with this response, using the same function:

[code]

My best guess is that we're

[2022-08-18 14:14] saadjaliawala opened #502 "Password Reset"
I want a flow where a user can reset its password within my mobile application

[2022-08-20 13:41] poovamraj commented on #459
@fbartho @mostafa-abardeh, we are closing this issue for now since we are not able to reproduce this in a production version. Please feel free to reopen this with a sample application & repo. It will be of great help. Thanks

[2022-08-20 13:41] #459 closed

[2022-08-20 13:46] poovamraj commented on #502
Hello @saadjaliawala,

Doing it with API, you can follow the docs here - https://auth0.github.io/react-native-auth0/Auth.html#.resetPassword

For Universal Login (Web Auth) - You can follow the doc [here](https://auth0.com/docs/authenticate/database-connections/password-change#universal-login-page)

[2022-08-20 13:46] #502 closed

[2022-08-22 08:48] poovamraj commented on #499
@cross19xx I see that you have set `ephemeralSession: true`. Are you able to reproduce this in iOS alone or is it on both platforms?

[2022-08-22 08:57] cross19xx commented on #499
This was done on an iOS simulator... For Android I can get rid of this by clearing the webview app. But it happens on both platforms :)

Thanks for your reply btw

[2022-08-24 00:34] mweel1 commented on #499
Try adding the audience property in authorize

[2022-08-24 00:45] mweel1 commented on #120
Same here, can we re-open this issue and get it figured out?

[2022-08-24 00:47] mweel1 opened #504 "User cancelled the Auth on callback"
On the call back of my android react native app I get the following error:

{"error": "a0.session.user_cancelled", "error_description": "User cancelled the Auth"}

I've tried all the suggestions in the issue tracker with no success.  Any thoughts on how to debug this?

[2022-08-24 01:28] Widcket commented on #494
Seems like your issue is solved @chookhen60, so I'll close this one. Please feel free to ping if you'd prefer to reopen.

[2022-08-24 01:28] #494 closed

[2022-08-24 17:09] dutradotdev commented on #504
same error on android, iOS works well.

[2022-08-24 22:24] jmz527 commented on #499
Just spotted something...does the `auth0.webAuth.authorize` method accept more than one argument parameter? @poovamraj

[2022-08-26 07:09] poovamraj commented on #504
@mweel1 @dutradotdev, can you provide the steps to reproduce this issue? This error is thrown only when the user explicitly cancels the login flow

[2022-08-26 07:12] poovamraj commented on #499
@jmz527 yes it accepts 2 arguments (`parameters` and `options`) and the `parameter` argument has the following options

![Screenshot 2022-08-26 at 09 10 11](https://user-images.githubusercontent.com/15910425/186843893-af8dc191-0056-4dbb-aa5d-8b1394f1cc88.png)
![Screenshot 2022-08-26 at 09 11 38](https://user-images.githubusercontent.com/15910425/186844175-039fc0ff-5a6c-4020-861f-05ed0b8b43a0.png)

[2022-08-26 18:44] mweel1 commented on #504
Here is the link coming back from Auth0

Its obvious the user is not canceling the auth process as this is the link calling back

io.xxxxxxxx.enforcement://xxxxxxx.us.auth0.com/android/ioxxxxxx.enforcement/callback?code=IYdtOeydL8OQ-HmTDvMMJNn1d4SzglYb0g4Ko_tcKWXnm&state=M5KeYkSX0L_XZJB1aCO8sYyyPcQBP-vsG2HPfo6N_Hg

 LOG  {"error": "a0.session.user_cancelled", "error_description": "User cancelled t

[2022-08-27 06:06] poovamraj commented on #504
Hi @mweel1 I agree, but we would need more information to reproduce this issue.
- Is this happening only in specific devices/OS versions?
- Are there any particular case in which it is not working?
- Does the MergedManifest have RedirectActivity with the proper intent filter applied?
- Can you see the error thrown when using Chrome Debugger when the redirection is failing?

Information on these qu

[2022-08-29 00:07] poovamraj commented on #499
@cross19xx are we sure we are passing the scope as `openid profile email`? I was able to reproduce this if `scope` is empty but not other than that.

[2022-08-30 19:02] dutradotdev commented on #504
hey @mweel1

I followed this diff https://github.com/auth0-samples/auth0-react-native-sample/commit/69f79c83ceed40f44b239bbd16e79ecaa70ef70a and now it is working on Android!

[2022-09-01 21:43] mweel1 commented on #504
Is this happening only in specific devices/OS versions?

No, it happens on both IOS & Android

Are there any particular case in which it is not working?

There is really only one use case, login and it doesn't work.

Does the MergedManifest have RedirectActivity with the proper intent filter applied?

Where would lI find this?

Can you see the error thrown when using Chrome Debugger when the redir

[2022-09-07 14:42] poovamraj commented on #495
Hey @rajibahmed @AlekSteinmetz we have fixed this issue in this PR - https://github.com/auth0/react-native-auth0/pull/509

The version with this fix will be released soon. We will close this issue for now but please feel free to reopen if you have more doubts.

[2022-09-07 14:42] #495 closed

[2022-09-09 18:26] jnalviano opened #514 "TimeoutError when logging in"
### Describe the problem

A number of our users have been experiencing what we believe is a bug in the Auth0 SDK in our app. When a user tries signing in using the universal login widget, login appears to succeed: the app callback URL is successfully hit, returning the user to our app and Auth0 logs show a successful signup. However, the user experiences login failing and is unable to authenticate

[2022-09-13 03:13] Wxlevan opened #515 "Need i18n support"
### Describe the problem you'd like to have solved
I hope to have international support.
### Describe the ideal solution

1. Add an initialization language parameter in the Auth0's Options.
2. Add language parameters to other methods.
## Alternatives and current work-arounds
When I use `passwordRealm` to login, the error message always be English.

[2022-09-13 16:13] ceyanesb opened #516 "I am having a Undefined symbols for architecture x86_64: "_RCTMakeError" Xcode error"
After installing react-native-firebase to log some analytics my app is not building from Xcode, after all pod cleaning, installing, etc I go to build and A0Auth0 gives me this error

[code]

React Native info
[code]

[2022-09-14 04:03] Widcket commented on #516
Hi @ceyanesb, thanks for raising this.

If it was working correctly before adding react-native-firebase, then I'm not sure this is an SDK issue. Note that this SDK does not support `react-native-macos`, which is a fork by Microsoft. It only supports Android and iOS.

[2022-09-15 08:08] musab-olurode commented on #514
@jnalviano I seem to be experiencing the same issue (only on my emulator in my case). Every other android device works fine.

[2022-09-15 09:00] poovamraj commented on #504
It is interesting that it is not working in both iOS and Android. It would be better if you can share a sample app in which this issue can be reproduced for us to debug this further.

[2022-09-15 13:51] poovamraj commented on #515
@Wxlevan `passwordRealm` is an API based authentication and the error messages returned in this will tend to always be in English. We would suggest to do the i18n on your end.

If you want i18n support on Web Auth, you can enable it in your settings and use the following code to trigger locale based auth
`authorize({scope: 'openid profile email', "ui_locales": 'de', login_hint: 'test@test.com'});`

[2022-09-15 13:51] poovamraj commented on #515
We will close this issue for now but please feel to reopen it if you have more doubts on this.

[2022-09-15 13:51] #515 closed

[2022-09-15 16:38] poovamraj commented on #499
@cross19xx I tried to reproduce this issue for some time now but couldn't. It would be better if you can provide us with a sample repository that is able to reproduce this issue. I attached a sample where I tested with the code you mentioned (with no idle time but I have tried that as well).

https://user-images.githubusercontent.com/15910425/190459317-218cc9f3-9d48-4748-b6ab-1076d4ee93dc.mov

We

[2022-09-15 16:38] #499 closed

[2022-09-15 16:44] poovamraj commented on #514
@jnalviano this looks really peculiar.

Can you let me know if there is any error message available at this point?

Also when you mention the signup is successful, do you get the access token?

The only thing that happens after being redirected to the app and before getting the access token is PKCE network call. Will u be able to confirm if the error is happening there?

[2022-09-15 23:01] fractalframing commented on #514
That's interesting it's happening to me too. If I copy the request (by debugging this library's code)  and send it via Postman I receive the appropriate token. On the Android simulator however, I receive a `Timeout error` and no other info. This is for both my project (`React Native v0.70`) and the examples provided in this repo configured to point towards my Auth0 endpoint.
I'll test on a physica

[2022-09-20 15:29] shottah opened #517 "Unable to initialize Auth0.Auth.Client class for Passwordless (2.13.3)"
### Describe the problem

When implementing standard usage on iOS, calling`Auth0.auth.passwordlessWithSMS` returns the error:
`Unable to send Auth0 authorization code [TypeError: Cannot read property 'post' of undefined]`

### What was the expected behavior?

`Auth.Client` should be initialized when `new Auth(Optionts)` is called.

### Reproduction

**Steps to reproduce:**
- Fork [zedio/rnauthstar

[2022-09-20 15:32] Widcket commented on #517
Hi @shottah, thanks for raising this.

Are you able to reproduce this in a brand new Expo app (with bare workflow)?

[2022-09-20 15:37] shottah commented on #517
Hi @Widcket This link i shared is a brand new Expo bare app using the following steps.

1. Use `npx react-native-init rnauthstarter`
2. Add react-navigation, react-redux, redux, redux-saga
3. Run `npx install-expo-modules@latest` and `expo`, now using Bare Workflow
4. Install `react-native-auth0@2.13.3`

If there is a concern that there are many conflicts here in the instructions above, I will con

[2022-09-20 15:39] Widcket commented on #517
Is it reproducible without any other dependencies, such as redux and redux-saga?

[2022-09-20 17:19] shottah commented on #517
@Widcket, following up here. In a fresh react-native project with Expo bare workflow, the issue reported is not replicated. At the end I will also post a snipped of the redux-saga code where the function is executed in the original project that has issues.

Install Scripts
[code]

App.tsx
[code]

--- End of code for Fresh React-Native Expo Bare App ---

Redux-Saga snippet

[code]

[2022-09-26 08:34] Aleksei-Egorenko-EPAM opened #518 "Blank screen FB login"
RN - 0.61.5
React-native-Auth0 - 2.4.0
device OS - android

User try to login over FB:

    - if user already logged in FB, in webView he see blank screen
    - if user use 1 factor authentication, then after all steps he get “no internet”
    - if user use 2 factor authentication, then after all steps he get blank screen

In all cases webView doesn’t redirect to app and provide jwt

We have not c

[2022-09-26 13:12] oelerpearler commented on #495
Hi @poovamraj ! Is there already a date planned for the release?

[2022-09-27 20:22] renzactus opened #519 "Annoying "open with" confirmation on Android."
SDK: react-native-auth0
When I use auth0 to autenticate on Android a anoying pop up with "open with" message appear. Probably due to that, authentication work awful on android.
![image psd-2](https://user-images.githubusercontent.com/62368761/192627463-e6dc4b0b-b16b-459f-99e4-4174507c184e.png)
Also auth0.webAuth() returns {"error": "a0.session.user_cancelled", "error_description": "User cancelled

[2022-09-28 05:13] #519 closed

[2022-09-29 10:39] poovamraj commented on #495
Hi @oelerpearler  👋 We have already released a first availability with this fix which can be found [here](https://github.com/auth0/react-native-auth0/releases/tag/v2.14.0-fa.0)

[2022-09-29 11:19] poovamraj commented on #517
@shottah I tried the fork you provided and it looks like there is no issue initializing the SDK. I am not able to reproduce the issue and also looks like the SDK works good in a plain project. It would be great to have more details if you still think the issue is on the SDK side

[2022-09-29 14:05] Widcket commented on #516
Closing due to inactivity. Please feel free to ping if you'd prefer to reopen.

[2022-09-29 14:06] #516 closed, assigned to nobody

[2022-10-04 18:54] hesham2255 commented on #387
its not worked with google play requirement targetSdkVersion 31, please update

[2022-10-05 06:13] Afaq503 commented on #251
can you send vedio about this error sulation

[2022-10-05 12:10] poovamraj commented on #517
@shottah We will close this issue for now due to inactivity and since we are not able to reproduce it. Please feel free to reopen it if you have any more doubts.

[2022-10-05 12:10] #517 closed

[2022-10-07 13:51] damienherve opened #525 "Typescript support"
### Describe the problem you'd like to have solved

No Typescript support

### Describe the ideal solution

Rewrite the library in TypeScript (ideal)

## Alternatives and current work-arounds

At least, maintain @types/react-native-auth0

### Additional information, if any

Currently, the library has no Typescript support, as @types/react-native-auth0 last published version is 2.13.1.

Is it plann

[2022-10-10 10:06] Bardiamist opened #528 "[2.14.0] iOS build error"
Not building after update from 2.13.3 to 2.14.0

[code]

<details>
  <summary>Screenshot</summary>

<img width="1078" alt="Screenshot 2022-10-10 at 16 58 07" src="https://user-images.githubusercontent.com/22082342/194841624-4a56c227-f8c7-4b8d-a787-af0842c05787.png">
</details>

[2022-10-10 11:58] poovamraj commented on #528
Hi @Bardiamist, Can you try cleaning your project and trying to build again.

This would mean you must delete the folder in which your `pods` and `node_modules` are installed and do `pod install` and `yarn install` again.

[2022-10-10 12:07] Bardiamist commented on #528
Hi @poovamraj

Not helped:
1. Remove: `node_modules`, `Pods`, `yarn.lock`, `Podfile.lock`
1. `yarn`
1. `pod install`
1. `Xcode` -> `Product` -> `Clean Build Folder`

[2022-10-10 14:51] poovamraj commented on #528
@Bardiamist I am not able to reproduce this issue. Can you try and reproduce in this [sample repository](https://github.com/auth0-samples/auth0-react-native-sample/tree/update-rna-version).

The header file you mentioned is used for interop between Swift and ObjC code and it is autogenerated. That is why I assumed clean up should fix it :\

[2022-10-11 03:41] Bardiamist commented on #528
Not reproducing on fresh project but still can't update my project. In my project I can't jump to `#import "A0Auth0-Swift.h"` maybe need to add something to my `Bridging-Header.h`

[2022-10-11 19:05] poovamraj commented on #514
Hey all, If the issue is only in the emulator, can you confirm the time in the emulator is not way off? Currently RN's fetch API doesn't provide a lot of information to debug this and we are not able to reproduce this issue on our end (Both on emulator or physical device).

Is there any steps that you can mention to make this reproducible if the issue is not with the device time

[2022-10-11 19:06] poovamraj commented on #504
Hello @mweel1 and @dutradotdev, I tried to reproduce this issue for quite sometime with no result. We will close this issue for now but please feel free to reopen if you can provide us with more details

[2022-10-11 19:06] #504 closed

[2022-10-11 19:08] poovamraj commented on #528
Hi @Bardiamist where you able to fix this by any chance or any success in creating a reproducible sample for us?

[2022-10-11 19:10] Bardiamist commented on #528
No, waiting now for something

[2022-10-11 19:12] poovamraj commented on #525
Hi @damienherve we here you and we are taking note of this request. Currently the types are only provided through [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native-auth0) through best effort basis.

We would love if you can contribute to keep this up to date. We will add this request to our backlog though we are not sure when we can provide support

[2022-10-11 19:55] poovamraj commented on #518
Hi @Aleksei-Egorenko-EPAM I tried to reproduce this issue in versions 2.4.0` and `2.14.0` and was not able to do it.

Ideally you can try to reproduce this issue in our [sample repository](https://github.com/auth0-samples/auth0-react-native-sample) that way we can figure out whether the issue is on the app side or the configuration side.

[2022-10-11 21:41] ziad-floosi commented on #525
I agree with @damienherve. If migrating the codebase to TypeScript is a hassle, I think keeping the DefinitelyTyped library up to date with this one is a very fair solution. Currently the entire hooks API has no types at all, making it a bit difficult  to use with TypeScript.

[2022-10-12 16:08] gravitypersists opened #529 "Getting "User cancelled auth" errors for first login sometimes (android only, landscape)"
edit: To anybody viewing this issue, the conversation is long, the quick answer is that this appears to be a configuration bug within the auth0 android package that this package relies on and can be fixed by incorporating this diff within `node_modules/react-native-auth0/android/src/main/AndroidManifest.xml` (use the patch-package tool for now if you need)

[code]

---

We've spent a rather long a

[2022-10-12 17:44] SmartByt3r commented on #528
Hi! I have the same issue, with version 2.14.0

[2022-10-13 07:42] damienherve commented on #525
Thanks for the answer, if i have time i'll try to make a PR for the types on DefinitelyTyped

[2022-10-13 07:46] shrekuu commented on #528
<img width="706" alt="image" src="https://user-images.githubusercontent.com/3136026/195530317-eac67ff5-1f32-4583-8c16-cdc79ea82f4f.png">

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/3136026/195531631-635dccd8-96db-4fff-a404-2025e847701d.png">

It seems this file is not there.

[2022-10-13 12:24] poovamraj commented on #529
Hi @gravitypersists thanks for the detailed report. As you mentioned, I am not able to reproduce this on my end as well.

We had a similar error reported previously but couldn't continue much due to lack of information - https://github.com/auth0/react-native-auth0/issues/504

The only place for this to fallthrough is when [this condition](https://github.com/auth0/react-native-auth0/blob/89a7c9dc5f

[2022-10-13 12:35] poovamraj commented on #528
Hi @shrekuu @SmartByt3r @Bardiamist Can you try the suggestion from this [Stackoverflow Thread](https://stackoverflow.com/questions/24062618/swift-to-objective-c-header-not-created-in-xcode-6).

It asks for the "Defines Module" setting under "Packaging" of "Build Settings" to be set to `Yes`

[2022-10-13 13:09] Bardiamist commented on #528
My target already has "Defines Module" "YES"
I tried to set "Defines Module" "YES" for the full project but not helped
A fresh project works and without it

[2022-10-13 18:45] poovamraj commented on #529
I assumed the issue would be with the `data` object received but it looks like it is null

1. We can try to debug what happens when the browser opens and what URL is provided for redirection. This can be done by opening the Chrome browser and going to chrome://inspect/#devices. You can let me know what is the callback URL that is received.

2. The redirection happens through `RedirectActivity` and

[2022-10-14 05:23] gfriedm4 commented on #525
If anyone wants to work together on it, I've started a draft PR for updating the DefinitelyTyped library. I was planning to go folder by folder and have done `src/auth` and `src/credentials-manager` so far.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62709

[2022-10-14 08:49] malgorzata-kozera opened #531 ""open with" confirmation on Android after upgrade version"
### Describe the problem

I have upgraded react-native-auth0 from version 2.12.0 to v2.14.0.
After the upgrade when logging in or logout from the app, the pop-up with the "open with" message appears. The app request confirmation on which app to use to continue (it shows two of the same app icons). There is only one app installed on the device.
It happens on Android.

I followed all recommendations

[2022-10-14 14:36] poovamraj commented on #529
Also, can you verify whether `AuthenticationActivity#onNewIntent` is called? It is critical to set the information received from callback URL here

[2022-10-14 17:12] poovamraj commented on #531
Hi @malgorzata-kozera Thanks a lot for raising this. You are right and we had to fix this on our end in the latest version of our SDK.

This is because we added our Auth0.Android library to provide Credentials Manager support. This added libraries that receive intent for Web Authentication into the RNA library which is why there are 2 intent receivers.

In this [PR](https://github.com/auth0/react-

[2022-10-14 17:27] poovamraj commented on #525
Thanks a lot for the effort @gfriedm4. Highly appreciate your contriubtion 🚀 🙌

[2022-10-14 17:46] poovamraj commented on #529
I guess we figured the issue right there. It is one of the old suspects we faced in the Android app. Basically `onResume` is called before `onNewIntent` which is causing the flow to be disrupted.

In an application where the issue doesn't reproduce the logs will execute in this order
[code]

1. Do you have the application in landscape mode?
2. What is the target version of the Android app?
3. Can

[2022-10-14 17:59] poovamraj commented on #531
We have merged this PR and we will be releasing the fixed version soon. I will update once it is available here. We will close this issue for now but please feel free to reopen it if you have more doubts

[2022-10-14 17:59] #531 closed

[2022-10-14 20:40] gravitypersists commented on #529
1. Yes, we enforce landscape for now
2. compileSdkVersion = 31, targetSdkVersion = 30
3. Yes, this fix actually unstuck our engineer in Ukraine, but now in our automated QA test environment we are seeing this
![image (2)](https://user-images.githubusercontent.com/231863/195938676-14670bc5-1a7b-44c8-b309-6e484e68698e.png)

(I need to check to see if that was happening before we ever experienced thi

[2022-10-14 23:16] poovamraj commented on #529
@gravitypersists you can checkout this issue for more details on that - https://github.com/auth0/react-native-auth0/issues/531

[2022-10-15 22:26] poovamraj commented on #529
Hi @gravitypersists, We have fixed this issue in this PR - https://github.com/auth0/react-native-auth0/pull/534

We will keep you informed once it is released. We will close this issue for now. Please feel free to reopen this issue if you have more doubts on this.

[2022-10-15 22:26] #529 closed

[2022-10-16 10:01] shrekuu opened #535 "Production Expo app crash at launch - Missing Auth0 domain"
### Describe the problem

I am using `Login with Password Realm Grant` way to authenticate users.
Previously I was using 2.13.3 with Expo managed workflow. It works. I just installed the plugin and start to use it and did nothing else.
I upgraded to version 2.14.0, since I see it has Expo `config-plugin` support, and I am about to build for Android platform.

I remove the old version with "yarn re

[2022-10-17 07:58] poovamraj commented on #514
Hi @fractalframing @musab-olurode @jnalviano Hope the above solution helps. I will close this issue for now but please feel free to reopen it if you have any more doubts

[2022-10-17 07:58] #514 closed

[2022-10-17 08:00] poovamraj commented on #518
Hi @Aleksei-Egorenko-EPAM, please feel free to reach out to us with more details and we will be happy to help. If you have already found a solution, it would be great to share it here so that anyone facing the same issue in future could use this as a reference.

We will close this issue for now but please feel free to reopen it if required.

[2022-10-17 08:00] #518 closed

[2022-10-17 08:05] poovamraj commented on #535
Hi @shrekuu, upgrading the version should not change the behaviour of the SDK as this part of the code has not been affected by the new version.

Especially considering it is working in the Emulator and not in the real device, I am fairly confident it is because of the `process.env.AUTH0_DOMAIN` not being set. Since this is running in pure JS land, there shouldn't be any issue between an emulator

[2022-10-17 08:08] poovamraj commented on #528
Hi, @Bardiamist any progress on this issue? It would be great to have a reproducible environment. Can you try to use a build setup similar to the one which is causing the issue on the sample app and then update it to see if the issue is reproducible?

[2022-10-17 08:14] Bardiamist commented on #528
@poovamraj Hello

No, I'm still use react-native-auth0 2.13.3

Unfortunatelly my project is big and I have no idea what could be causing this problem

You can create branch based on 2.13.3 and checrry pick only related change and I can test this branch. Then we can locilize the problem.

[2022-10-17 09:56] lehuydev2203 opened #536 "Show duplicate app when with google account by auth0"
Hi,
I use react-native-auth0 version 2.13.3. When I log in with a google account, after I choose an account, have a popup showing 'open with ... ' with 2 applications but only the app can log in, remaining to fail.

![photo_2022-10-17_16-55-17](https://user-images.githubusercontent.com/41155784/196148237-3dc7afd8-8300-4ac3-8a82-766d979c4ba4.jpg)

[2022-10-17 10:18] poovamraj commented on #536
Hi, can you run this command and see what are all the intent receivers you have for your package name - `adb shell dumpsys package r`. They can be in different locations so it would be great to comb through them or grep them

[2022-10-18 02:38] lehuydev2203 commented on #536
I can't run login google on adb and my stuck by a real device

[2022-10-18 08:28] poovamraj commented on #536
@mailaneel Can you verify the above command doesn't generate 2 different intent receivers for your application id.

Can you also verify that the changes are the ones that are available in the app? Yarn has complicated cache management and wouldn't install the new package if the version number is same. I'd recommend to check if `node_modules` have the diff reflected

[2022-10-18 08:49] mailaneel commented on #536
@poovamraj
1. It does generate 2 intent receivers one for RedirectActivity and on for MainActivity
2. Yes I have verified node_modules to see the changes are reflected from your commit

I see below

[code]

auth0 intent filter's looks like this
[code]

our one looks like this

[code]

Both are using same scheme and both matches one with prefix filter and one without prefix filter so seeing prompt

[2022-10-18 08:53] mailaneel commented on #536
Before adding your PR change, I was seeing 3, one of them `com.auth0.android.provider.RedirectActivity`

![Screen Shot 2022-10-18 at 7 51 34 pm](https://user-images.githubusercontent.com/129355/196384193-7d4f6221-b0ca-4f56-bb67-c9af32714b5c.png)

[2022-10-18 09:03] poovamraj commented on #536
Yep, that seems right, with the PR change there should only be 2. One is the launcher intent receiver and the other one is for our callback

So the issue is being reproduced in this scenario as well? That should be highly unlikely since we have only 1 intent receiver for URLs

[2022-10-18 09:09] mailaneel commented on #536
yes its is reproducible unfortunately

[2022-10-18 09:37] mailaneel commented on #536
I have added the below change to our manifest file(pathPrefix) and it seems now I am not seeing the prompt anymore:
[code]

I will confirm after more tests

[2022-10-18 09:49] poovamraj commented on #536
Ah okay, I didn'tt realize you had a intent receiver as well. My bad. Great the issue is not occuring now.

[2022-10-18 09:52] mailaneel commented on #536
sorry posted early, its still happening any help would be appreciated

[2022-10-18 09:56] poovamraj commented on #536
Hi @mailaneel I'd suggest the following to avoid this issue. This is happening because your intent receiver is a catch-all and seems to interfere with the Authentication callback

1. Use a different `scheme` for authentication or your login.
2. Specify the exact `android:pathPrefix` for which you want to open your app. Now it will open for all links which has the `scheme` that is your `application

[2022-10-18 17:35] poovamraj commented on #536
Hi @mailaneel @lehuydev2203 hope this answers your questions. I will close this issue for now, please feel free to reopen this if you have more doubts

[2022-10-18 17:35] #536 closed

[2022-10-18 17:36] poovamraj commented on #535
Hi @shrekuu where you able to check this out?

[2022-10-19 07:26] ebg1223 commented on #528
Same issue here. @poovamraj  happy to help diagnose.

[2022-10-19 09:18] poovamraj commented on #528
@ebg1223 can you provide a reproducible sample so that we can look into this?

[2022-10-19 09:33] poovamraj commented on #528
@Bardiamist The changes related to this should be out of this commit [here](https://github.com/auth0/react-native-auth0/commit/6767e045fb5786342785e27828456c98db79d120)

[2022-10-19 11:42] poovamraj commented on #529
And the fix is available now - https://github.com/auth0/react-native-auth0/releases/tag/v2.14.1

[2022-10-19 11:42] poovamraj commented on #531
Fix should be available here - https://github.com/auth0/react-native-auth0/releases/tag/v2.14.1

[2022-10-19 16:36] poovamraj commented on #528
@ebg1223 That's a great find! I'll check this one out and get the docs ready. @Bardiamist Can you verify this as well?

[2022-10-19 18:25] ebg1223 commented on #528
@poovamraj Thank you!!

I wish i knew more about the expo native build process to give insight into the importance of this flag, or how to correct it on the native side, but I have seen this requirement in other libs besides firebase.

Maybe someone more knowledgeable in this aspect can suggest a fix to allow for useFrameworks:static to maintain compatibility with other libs.

[2022-10-20 00:10] ebg1223 opened #539 ""authorize" from useAuth0 hook does not accept ephemeralSession properly"
[code]

App is wrapped in Auth0 Provider. Login still works successfully either way, and the user object is populated. Just does not respect the ephemeralSession prop for some reason.

[2022-10-20 09:12] Bardiamist commented on #528
@poovamraj Hell, yes I'm use Firebase and it's [require](https://rnfirebase.io/#altering-cocoapods-to-use-frameworks) `use_frameworks!`

I use bare React native project so repro steps:
1. `npx react-native init AwesomeProject`
1. `yarn add react-native-auth0`
1. Add `use_frameworks! :linkage => :static` to `Podfile`
1. Don't forget to comment `:flipper_configuration => FlipperConfiguration.enabled

[2022-10-20 16:54] shrekuu commented on #535
@poovamraj  Sorry no. I can't fix it. I even broken more stuff. We are editing `info.plist` and `build.gradle` file with config plugin in this version. That part is native. I end up creating a new repo and test react-native-auth0 alone and then move old code into new repo. Then clear old repo and move all new code into old repo then commit.

I think you can close this issue.
I have an interesting

[2022-10-21 16:16] #535 closed

[2022-10-27 03:36] moribaleta commented on #539
is there a way to track the ios alert if continue is pressed

[2022-10-27 12:08] poovamraj commented on #539
Hi @moribaleta I am not sure what your question is. Can you please elaborate on it with a possible use case?

[2022-10-28 12:30] poovamraj commented on #539
@ebg1223 the fix for this is currently in master. The other enhancement you provided is in review on a separate PR. We will be releasing them soon, we will keep you updated about this.

Will close this issue for now, feel free to reopen this if you have more doubts

[2022-10-28 12:30] #539 closed

[2022-11-03 19:40] raichshlv commented on #514
Hi, same thing just started happening, however for me this is happening on a **physical device**.
Everything was working as expected yesterday but today it started producing the same issue as mentioned previously.
The popup opens for a second, then closes and after a while the timeout error thrown by `fetchWithTimeout()` appears.

Clock on the device seems to be correct.

After doing `webAuth.clea

[2022-11-04 19:48] bhandanyan-nomad opened #544 "Android clean failures since react-native 0.71.0-rc.0 tag added"
### Describe the problem
[code]

### What was the expected behavior?
Not that

### Reproduction

- Try to build an app with this version installed

### Environment

- **Version of this library used:** 2.13.0
- **Which framework are you using, if applicable:**
- **Other modules/plugins/libraries that might be involved:** react-native
- **Any other relevant information you think would be useful:** R

[2022-11-05 17:53] shawna-donnelly opened #545 "'ASWebAuthenticationSession' is only available in iOS 12.0 or newer Error Xcode14"
Getting an error when trying to build with XCode 14. 'ASWebAuthenticationSession' is only available in iOS 12.0 or newer. This is in the ASProvider file of the Auth0 Pod.

Error received and build failing: 'ASWebAuthenticationSession' is only available in iOS 12.0 or newer.

- **Version of this library used:** 2.13.1

[2022-11-06 02:38] digitalIntrospection commented on #209
We're using 2.13.3 and it still seems to fail with iOS

[2022-11-06 14:44] digitalIntrospection opened #546 "webAuth.clearSession fails to logout on iOS"
### Describe the problem
Trying to logout via auth0.webAuth.clearSession();  on iOS fails.  Works fine on Android.

1. On iOS, when clicking logout, which calls auth0.webAuth.clearSession(), we are first presented with:
<img width="272" alt="image" src="https://user-images.githubusercontent.com/109752927/200176922-3b4fd51e-1bca-4691-a78c-2490f2d7a00d.png">

2. Clicking 'Cancel' gives the following

[2022-11-06 14:46] digitalIntrospection commented on #546
Note, I found this previous issue which seems to describe the same problem  https://github.com/auth0/react-native-auth0/issues/209

[2022-11-06 22:13] poovamraj commented on #544
Hi @bhandanyan-nomad, this is an issue in React Native and has already been noted by them - https://github.com/facebook/react-native/issues/35210

![image](https://user-images.githubusercontent.com/15910425/200197860-832f9b4f-80c9-4072-8987-affa367c3fdc.png)

[2022-11-07 01:31] Widcket commented on #546
Hi @digitalIntrospection, thanks for raising this.

Did you set up the custom URL scheme?

<img width="859" alt="Screen Shot 2022-11-06 at 22 30 14" src="https://user-images.githubusercontent.com/5055789/200208556-553b7307-af26-4ca4-9fec-83c1d8f1558d.png">

[2022-11-07 01:33] Widcket commented on #545
Hi @shawna-donnelly, thanks for raising this.

That's correct, since this SDK is wrapping [Auth0.swift](https://github.com/auth0/Auth0.swift) for the Credentials Manager functionality, it needs at least iOS 12.0. So to use the SDK you'll need to raise the deployment target of your app to 12.0.

[2022-11-07 02:06] shawna-donnelly commented on #545
So my deployment target is set to 12.0. It only happens in XCode 14. In 13, the app compiles properly.

[2022-11-07 02:07] Widcket commented on #545
Can you reproduce this with the [sample app](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login)?

[2022-11-07 12:20] poovamraj commented on #544
Hello @bhandanyan-nomad the official workaround mentioned in this thread https://github.com/facebook/react-native/issues/35210 seems to work. I have created a RN project with following versions

RN 0.65.0
react-native-auth0 2.13.0

https://github.com/poovamraj/auth0-react-native-deps-issue-sample

And it seems to work. Please try to provide a sample using the above repo if the issue is still occur

[2022-11-07 13:55] bhandanyan-nomad commented on #544
Upgrading to one of the react native patch version fixes that they released has fixed this issue for me

[2022-11-07 13:55] #544 closed

[2022-11-07 16:47] sam-houle1 opened #548 "Cannot build my app since release 2.15.0"
### Describe the problem
Today I woke up to my android environnement not working, not sure what happened, yesterday everything was fine, I did not upgrade any package whatsoever, my current auth0 package version is 2.13.1.

The error is : `Cannot choose between the following variants of com.facebook.react:react-native:0.71.0-rc.0:`

<img width="1394" alt="Screen Shot 2022-11-07 at 11 42 30 AM" src

[2022-11-07 17:00] sam-houle1 commented on #548
Closing, for duplicate

[2022-11-07 17:00] #548 closed

[2022-11-08 01:04] digitalIntrospection commented on #546
Thank-you @Widcket  This does allow the user to successfully logout!

However I still get 'MyApp wants to use "auth0.com" to Sign In' message which a user has to OK for the logout to go through, otherwise it's canceled.

Questions:
1.  Is it expected that the user must OK the sign out? (this doesn't happen on Android)
2. If this is the expected flow,  is there some other config option I need to do

[2022-11-08 01:13] Widcket commented on #546
Please check https://github.com/auth0/react-native-auth0/blob/master/FAQ.md#3-how-can-i-disable-the-ios-logout-alert-box.

[2022-11-08 05:27] SudhanshuAgrahary opened #549 "Getting issue on Android and iOS App with Facebook login"
I’ve integrated Facebook login using reat-native-auth0. Both iOS and Android App is on production already, suddenly Facebook login is not working with both iOS and Android. when we debug the Android App and found the following issue “{“error”: “a0.session.user_cancelled”, “error_description”: “User cancelled the Auth”}” when calling auth0.webAuth.authorize API. I checked callback URL, tenant and d

[2022-11-08 19:25] walterholohan commented on #514
I've managed to reproduce the Timeout error when using Google and Facebook web auth. It occurs when a user has to enter 2FA with their social provider i.e. enter a 2FA which would require them to navigate away from the app and open up an app like Authenticator to get the 6-digit code. They then go back to the app, enter the 2FA code and finish the authentication flow which completes successfully.

[2022-11-08 19:26] walterholohan commented on #514
@poovamraj can we re-open this issue please?

[2022-11-10 13:30] poovamraj commented on #546
Hey, @digitalIntrospection hope this helps. We will close this issue. Please feel free to reopen it if you have more doubts.

[2022-11-10 13:47] digitalIntrospection commented on #546
Yes, it helped. Thank-you. Agree to close.

[2022-11-10 14:08] poovamraj commented on #549
Hi @SudhanshuAgrahary, I tried this out in Android and couldn't reproduce this. I used our [Sample Application](https://github.com/auth0-samples/auth0-react-native-sample/tree/master/00-Login-Hooks) and I am adding a recording here. Can you please try to reproduce this in our sample application so that we will have a reproducible environment to work with?

https://user-images.githubusercontent.com

[2022-11-10 19:11] poovamraj commented on #528
Hey all 👋 I figured out what is causing the issue! So we are referencing the file from local context. So if you change the

[code]

In A0Auth0.m in your node_modules, this should start working (There are tones of problems with Hermes and New architecture if you enable `use_frameworks` which is mentioned in Firebase docs itself)

Can someone verify this? I can try to figure out a patch.

[2022-11-14 08:46] Bardiamist commented on #528
[code]
@poovamraj yes, it helped

@Widcket Tried to add it to `Library Search Paths` and `Runpatch Search Paths`: not helped

[2022-11-14 10:16] poovamraj commented on #549
Hi @SudhanshuAgrahary, we will close this issue for now. Please feel free to reopen it with more information.

[2022-11-14 10:16] #549 closed

[2022-11-14 12:46] kulak91 opened #553 "useAuth0 / Auth0Provider types"
### Describe the problem you'd like to have solved

Hello, guys! i'm trying to use auth0 "useAuth0" hook, but @types react-native-auth0 has old typing, because it hadnt been updated for 5 months already.
https://www.npmjs.com/package/@types/react-native-auth0

### Describe the ideal solution

Would you mind to update @types/react-native-auth0 with fresh info? Or how can i use it right now in my ap

[2022-11-14 19:56] jkerning-clone opened #554 "Expo unexpected prompt with duplicate apps"
### Describe the problem

I ran into an issue where after properly logging in on Android (device or emulator), I am presented with duplicate copies of my app and prompted to select which of the two copies I would like to use to open the link. One seems to work, and the other seems to return an error. Usually I am not prompted to make this selection as there should only be one "intent receiver" for

[2022-11-15 03:31] Widcket commented on #528
@Bardiamist can you please try out the branch [feature/static-linking-support](https://github.com/auth0/react-native-auth0/pull/555)?

[2022-11-15 05:08] Bardiamist commented on #528
Tried, it works
[code]

[2022-11-15 09:49] poovamraj commented on #553
Hi @kulak91,

We already have a community effort on this - https://github.com/auth0/react-native-auth0/issues/525

and we would love for anyone to contribute on it.

We would like to track that issue there so closing this one. Feel free to join in the discussion in that thread.

[2022-11-15 09:49] #553 closed

[2022-11-15 10:07] poovamraj commented on #554
Hi @jkerning-clone this issue has been fixed and discussed here - https://github.com/auth0/react-native-auth0/issues/531

Looks like we haven't updated the samples. I have created a PR for it here - https://github.com/auth0-samples/auth0-react-native-sample/pull/91

[2022-11-15 11:34] #528 closed

[2022-11-15 12:37] cjpete opened #556 "Android `singleTask` launch mode is required for react-native deep links"
By default react-native projects are created with a launchMode of `singleTask`, presumably so that deep links (via Linking) are supported out of the box: https://reactnative.dev/docs/linking#enabling-deep-links

However, using a launchMode of `singleTask` prevents this package from working properly (https://github.com/auth0/react-native-auth0/pull/350)

When using the `standard` launchMode, openin

[2022-11-15 19:25] jkerning-clone commented on #554
Hi @poovamraj

Thanks for the reply. I am experiencing the issue on v2.15.0 on my app. I had just pointed out the sample app where I could similarly reproduce the bug was using v2.14.0.

When I run `expo prebuild --clean` with the appropriate auth0 config plugin for v2.15.0, my AndroidManifest.xml has both of these pieces of code added:
- AndroidManifest.xml:20`android:launchMode="singleTask"`
- A

[2022-11-16 14:52] poovamraj commented on #554
Hi @jkerning-clone, can you run this command and see what are all the intent receivers you have for your package name - `adb shell dumpsys package r`. They can be in different locations so it would be great to comb through them or grep them

[2022-11-16 14:55] poovamraj commented on #556
Hi, @cjpete can you provide us with more information on the issue? Following the issue template will give us the required details to work on your issue.

[2022-11-16 14:55] poovamraj commented on #545
Hi @shawna-donnelly, any update on this?

[2022-11-16 15:55] shawna-donnelly commented on #545
Sorry about that. I tried the sample app and it worked, so it was something in my setup. I don't remember what I did, but I think it was just making sure to clear out all lock files, remove pods, remove node_modules, and reinstall and clear cache, and I think it worked. It is working now. Thanks for your guidance!

[2022-11-16 15:55] #545 closed

[2022-11-16 15:55] jkerning-clone commented on #554
I ran: `grep 'my.package' androidlogs.txt` and here was the output (substituting my package name):
      `
      my.package:
        8e928f1 my.package/.MainActivity
        b9c1644 my.package/com.auth0.react.RedirectActivity
        8e928f1 my.package/.MainActivity
        ...
       `

I had 4 others used by the background geolocation library I use, so those were replaced with `...`

[2022-11-17 08:44] lehuydev2203 opened #559 "Change name app at alert IOS"
Now, When I click login on ios device, it displays the question as shown below and I want to change the application name, where should I edit it.

<img width="651" alt="Screenshot 2022-11-17 at 15 38 20" src="https://user-images.githubusercontent.com/41155784/202397706-f6baf2a3-041d-49f9-958e-16a8c243e098.png">

[2022-11-17 15:38] jkerning-clone commented on #554
I am not using any custom scheme. Is that required to get this working?

[2022-11-17 15:39] jkerning-clone commented on #554
I am not using any custom scheme. Is that required to get this working? Mistakenly closed the issue.

[2022-11-17 23:28] Widcket commented on #559
Hi @lehuydev2203, thanks for raising this.

The `ASWebAuthenticationSession` alert uses the app's target name, AFAIK. I'm afraid this is not something SDK-specific, but iOS specific.

[2022-11-17 23:28] #559 closed

[2022-11-17 23:46] Widcket commented on #559
How to change the target name in Xcode:

<img width="705" alt="Screen Shot 2022-11-17 at 20 44 57" src="https://user-images.githubusercontent.com/5055789/202583771-a72815c3-e8ae-4324-990e-5a694008ab33.png">

Make sure to clean the build cache afterward.

[2022-11-18 10:06] poovamraj commented on #554
@jkerning-clone If there is a clash between the other intent receivers then you can use a custom scheme for login. You can test it with a custom scheme to verify this and decide based on that

[2022-11-20 21:47] lucasff commented on #486
The build is still broken for me on React Native 0.70.6, on a freshly created project using CRNA, adding `react-native-auth0` triggers

`> Task :react-native-auth0:androidJavadoc FAILED`

[2022-11-21 12:43] Monsy99 commented on #486
Same story as in @lucasff  post. I am using:
[code]

[2022-11-21 13:18] Monsy99 opened #560 "Gradle build failed at task ":react-native-auth0:androidJavadoc""
### Describe the problem

Android build via ./gradlew build fails at task ":react-native-auth0:androidJavadoc"

### What was the expected behavior?

Builds successfully

### Reproduction

- Step 1
Create empty react-native project with react-native-cli "npx react-native init AwesomeProject"
- Step 2
add react-native-auth0 via "yarn add react-native-auth0"
- Step 3
configure auth0 domain and scheme

[2022-11-23 13:13] jferrettiboke opened #563 "`expo-cli doctor` warns about `@expo/config-plugins@4.1.5` being an invalid package"
### Describe the problem

`expo-cli doctor` warns about an invalid package (`@expo/config-plugins@4.1.5`) when using Expo SDK 47 and `react-native-auth0` in its latest version (at this moment of writing it is v2.16.0).

### What was the expected behavior?

No warnings should pop up when executing `expo-cli doctor` and using Expo SDK 47 and latest version of `react-native-auth0`.

For that to occur

[2022-11-23 16:07] jkerning-clone commented on #554
A custom scheme prevents the prompt from popping up on Android. The clash in intent receivers is being caused by a recent upgrade to another library.

Thank you @poovamraj for the help.

[2022-11-23 16:07] #554 closed

[2022-11-25 06:08] devteam-technolabs opened #564 "access_denied while login"
### Describe the problem

When sometimes I try to login it shows me this error.

`access_denied: Unable to retrieve account data! AxiosError: Request failed with status code 500`

### What was the expected behavior?

It should login without any error

### Reproduction

I am using `auth.passwordRealm` method with ` scope: "openid profile email offline_access"` and `audience:https://{myurl}/api/v2/`

[2022-11-25 07:02] devteam-technolabs commented on #564
It was from dashboard

[2022-11-25 07:02] #564 closed

[2022-11-26 06:11] poovamraj commented on #556
@cjpete, closing this issue for now. Please feel free to reopen this with more information

[2022-11-26 06:11] #556 closed

[2022-11-28 13:23] normanzb opened #566 "Password flow"
### Describe the problem you'd like to have solved

Username and Password login flow is not supported by `react-native-auth0`, no method on `auth` object allows login with explict username and password.

See username and password login flow details here: https://auth0.com/docs/get-started/authentication-and-authorization-flow/call-your-api-using-resource-owner-password-flow
Password credential gra

[2022-11-28 19:53] robpearmain commented on #563
I came here to raise the same issue,  current version is 5.0.3

[2022-11-29 15:37] Widcket commented on #566
Hi @normanzb, thanks for raising this.

Logging in with username/password is supported: https://github.com/auth0/react-native-auth0/blob/master/EXAMPLES.md#login-with-password-realm-grant

[2022-11-29 16:18] normanzb commented on #566
hi @Widcket thanks for reply but this one asks is for realm grant, while the case i raised above was for password grant. Also the API asks for `realm` parameter that I don't have for a password grant login.

[2022-11-29 20:51] Widcket commented on #566
It is an extension grant; you just need to pass the name of the connection (e.g. `Username-Password-Authentication`) as the value of the `realm` parameter.

<img width="808" alt="Screen Shot 2022-11-29 at 17 47 25" src="https://user-images.githubusercontent.com/5055789/204644380-526e0166-19e9-4562-a378-4b1d7cd86c6d.png">

See https://auth0.com/docs/get-started/authentication-and-authorization-flow

[2022-11-30 20:55] evanjmg commented on #525
types are out of date :/

[2022-11-30 23:58] normanzb commented on #566
hey thanks for the help, it does work for my case as I tested it out, appreciate it!

I wonder if it would help others if we make it more apparent by having a dedicated method or mention in the doc sites tho.

[2022-11-30 23:58] #566 closed